<template>
  <v-card flat>
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <td>Residency</td>
          <td>Currency</td>
          <td>Amount</td>
          <td>Guests</td>
          <td v-if="route !== 'NewPartnerBooking'">Discount (%)</td>
          <td v-if="route !== 'NewPartnerBooking'">Discount Reason</td>
          <td>Total Amount</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(fee, key) in allConservationFees" :key="key">
          <td><v-tooltip top><span slot="activator">{{fee.payment_person}}</span> <span>{{fee.description}}</span></v-tooltip></td>
          <td>{{currency}}</td>
          <td>{{convert1(fee.payment_person_currency, fee.payment_person_amount).amount}}</td>
          <td><v-text-field label="Number" type="number" min="0" v-model="allConservationFees[key].payment_guests"></v-text-field></td>
          <td v-if="route !== 'NewPartnerBooking'"><v-text-field label="Discount (%)" type="number" :rules="limitRules" min="0" max="100" v-model="allConservationFees[key].payment_person_discount" required></v-text-field></td>
          <td v-if="route !== 'NewPartnerBooking'"><v-text-field label="Discount Reason" v-model="allConservationFees[key].reason"></v-text-field></td>
          <td> <b>{{$localCurrency}} {{$roundOff(convert1(allConservationFees[key].payment_person_currency, allConservationFees[key].payment_person_amount * allConservationFees[key].payment_guests * ((100 - allConservationFees[key].payment_person_discount) / 100)).amount)}}</b></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td v-if="route !== 'NewPartnerBooking'"></td>
          <td v-if="route !== 'NewPartnerBooking'"></td>
          <td><h3><strong>{{$localCurrency}} {{conservationTotal.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}}</strong></h3></td>
        </tr>
        </tbody>
      </table>
    </div>
  </v-card>
</template>

<script>
export default {
  props: ['check_in', 'check_out'],
  name: 'conservation-fees',
  data () {
    return {
      limitRules: [
        v => v < 100 || 'Discount cannot be more than 100%'
      ],
      route: this.$route.name,
      gate_pass: {
        check_in: this.check_in,
        check_out: this.check_out
      }
    }
  },
  created () {
    if (this.$route.name !== 'NewBooking') {
      this.$store.dispatch('get_all_conservation_fees')
    }
  },
  computed: {
    currency: function () {
      return this.$store.state.CurrencyStore.browser_currency
    }
  }
}
</script>

<style scoped>

</style>
