<template>
  <div class="col-md-12" style="margin-top: 3%">
    <v-container>
      <v-layout row wrap>
        <v-flex lg6 md6 sm12 xs12>
          <v-container>
            <v-dialog
              ref="dialog1"
              persistent
              v-model="modal1"
              lazy
              full-width
              width="290px"
              :return-value.sync="facility.start_date"
            >
              <v-text-field
                slot="activator"
                label="Start Date"
                v-model="facility.start_date"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="facility.start_date"
                scrollable
                :min="today"
              >
                <v-spacer></v-spacer>
                <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(facility.start_date)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-container>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12>
          <v-container v-if="facility.start_date !== ''">
            <v-dialog
              ref="dialog2"
              persistent
              v-model="modal2"
              lazy
              full-width
              width="290px"
              :return-value.sync="facility.end_date"
            >
              <v-text-field
                slot="activator"
                label="End Date"
                v-model="facility.end_date"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="facility.end_date"
                scrollable
                :min="facility.start_date"
                @input="searchFacilityAvailability()"
              >
                <v-spacer></v-spacer>
                <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                <v-btn :depressed="true" flat color="primary" @click="$refs.dialog2.save(facility.end_date)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-container>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12>
          <v-container fluid v-if="facility.start_date !== '' && facility.end_date !== ''">
            <v-select
              label="Facilities"
              v-model="facility.accommodation"
              :items="allFacilities"
              @change="getFacility"
              :rules="[v => !!v || 'Item is required']"
              required
              item-text="name"
              item-value="accommodation"
              autocomplete
              :loading="$loadingTrue"
            ></v-select>
          </v-container>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 fluid v-if="facility.start_date !== '' && facility.end_date !== '' && facility.accommodation.accomodation_type_id === 'Pelican'">
          <v-container>
            <v-select
              label="Catering Type"
              v-model="facility.catering_type"
              :items="cateringType"
              :rules="[v => !!v || 'Item is required']"
              required
              item-text="facility_pricing_name"
              item-value="facility_pricing_type_public_id"
            ></v-select>
          </v-container>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 fluid v-if="facility.start_date !== '' && facility.end_date !== ''">
          <v-container>
            <v-text-field
              label="Children"
              v-model="facility.children"
              :rules="requiredRules"
              required
              min="0"
              type="number"
              :max="calculateChildMax"
            ></v-text-field>
            <p>Total Slots Available: <span v-if="facilitySlots !== null">{{facilitySlots}}</span></p>
          </v-container>
        </v-flex>
        <v-flex lg3 md3 sm6 xs12 fluid v-if="facility.start_date !== '' && facility.end_date !== ''">
          <v-container>
            <v-text-field
              label="Adults"
              v-model="facility.adults"
              :rules="requiredRules"
              required
              type="number"
              min="0"
              :max="calculateAdultMax"
            ></v-text-field>
            <p>Total Slots Available: {{facilitySlots}}</p>
          </v-container>
        </v-flex>
        <v-flex lg4 md4 sm6 xs12>
          <v-container>
            <v-btn :depressed="true"  color="primary" @click="addAccommodation()">Add to Booking</v-btn>
          </v-container>
        </v-flex>
      </v-layout>
      <v-container v-if="route === 'NewBooking' || route === 'NewPartnerBooking'">
        <div class="col-md-12">
          <table class="table">
            <thead>
            <tr>
              <th>Facility</th>
              <th>Type</th>
              <th>Dates</th>
              <th>Limits</th>
              <th>Children</th>
              <th>Adults</th>
              <th>Total Amount</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(facility, key) in chosenFacilities" :key="key">
              <td>{{facility.name}}</td>
              <td>{{facility.facility_type}}</td>
              <td>{{facility.start_date}} - {{facility.end_date}}</td>
              <td>
                <!--<small v-for="(price, key) in facility.pack_prices.lower_limit_list" :key="key" v-if="facility.facility_type === 'Accomodation' && facility.accommodation_type === 'Pelican'">-->
                  <!--<span>From  <b>{{price.lower_limit}}</b> to <b>{{price.upper_limit}}</b> : <b>{{$localCurrency}} {{convert1(facility.pelican_lower_currency[key], price.price).amount}}</b>-->
                  <!--</span>-->
                  <!--<br>-->
                <!--</small>-->
              </td>
              <td>{{facility.children}}</td>
              <td>{{facility.adults}}</td>
              <td>{{currency}} {{Math.round(facilityTotal(facility))}}</td>
              <td><v-btn :depressed="true" small color="error" @click="removeFacility(facility)">x</v-btn></td>
            </tr>
            </tbody>
          </table>
        </div>
      </v-container>
    </v-container>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
export default {
  components: {Datepicker},
  name: 'facility-booking',
  data () {
    return {
      today: this.$moment().format('YYYY-MM-DD'),
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      route: this.$route.name,
      facility: {
        catering_type: '',
        accommodation: {},
        start_date: '',
        end_date: '',
        children: 0,
        adults: 0
      }
    }
  },
  computed: {
    cateringType () {
      // console.log(this.$allPricingGroups)
      var normalPricing = []
      var length = this.$allPricingGroups.length
      for (var i = 0; i < length; i++) {
        if (i < 2) {
          normalPricing.push(this.$allPricingGroups[i])
        }
      }
      var route = this.$route.name
      if (route === 'NewBooking' || route === 'EditBooking') {
        return this.$allPricingGroups
      } else {
        return normalPricing
      }
    },
    currency: function () {
      return this.$store.state.CurrencyStore.browser_currency
    },
    facilitySlots: function () {
      var slots = Number(this.singleFacility.maximum_guests) - Number(this.total)
      if (isNaN(slots) === true) {
        return 0
      } else {
        return slots
      }
    },
    calculateAdultMax: function () {
      return (Number(this.singleFacility.maximum_guests) - Number(this.total)) + this.facility.adults
    },
    calculateChildMax: function () {
      return (Number(this.singleFacility.maximum_guests) - Number(this.total)) + this.facility.children
    },
    total: function () {
      return Number(this.facility.adults) + Number(this.facility.children)
    },
    disabled_settings: function () {
      var startDate = this.$moment().format('YYYY-MM-DD')
      // var endDate = this.$store.state.BookingStore.local_booking.check_out
      // this.activity.date = this.$moment(startDate).format('YYYY, MM, DD')
      return {
        to: new Date(this.$moment(startDate).format('YYYY, MM, DD'))
        // from: new Date(this.$moment(endDate).add(1, 'd').format('YYYY, MM, DD'))
      }
    }
  },
  methods: {
    searchFacilityAvailability: function () {
      var data = {
        check_in_date: this.facility.start_date,
        check_out_date: this.facility.end_date
      }
      this.$store.dispatch('check_date_facility_availability', data)
    },
    getFacility: function (facility) {
      this.facility.accommodation = facility
      this.$store.dispatch('get_facility', facility.public_id)
    },
    putStartDate: function () {
      var date = this.$moment(this.facility.start_date).format('YYYY-MM-DD')
      this.facility.start_date = date
    },
    putEndtDate: function () {
      var date = this.$moment(this.facility.end_date).format('YYYY-MM-DD')
      this.facility.end_date = date
    },
    findGroup (facility) {
      var Groups = facility.group_price
      var cateringGroup = this.facility.catering_type
      return Groups.map(function (group) {
        if (group.group === cateringGroup) {
          return Groups.indexOf(group)
        }
      })
    },
    addAccommodation: function () {
      var facility = this.facility.accommodation
      console.log(facility)
      if (facility.pricing_status === 'false') {
        alert('No pricing has been set for this period')
      } else if (facility.accomodation_type_id === 'Pelican' && this.facility.catering_type !== '9a9a77eb' && this.facility.catering_type !== '266677c3' && facility.group_pricing_status === 'false') {
        alert('No special Pricing available for the selected Accommodation')
      } else {
        var data = {
          public_id: facility.public_id,
          catering_type: this.facility.catering_type,
          facility_type: facility.facility_type_id,
          accommodation_type: facility.accomodation_type_id,
          start_date: this.facility.start_date,
          end_date: this.facility.end_date,
          name: facility.name,
          children: this.facility.children,
          adults: this.facility.adults,
          discounts: facility.discount,
          discount_status: facility.discount_status
        }
        if (facility.accomodation_type_id === 'Pelican') {
          var priceIndex
          var currencyList = []
          if (this.facility.catering_type === '9a9a77eb') {
            facility.price.map(function (item, index) {
              if (item.hasOwnProperty('lower_limit_list') && item.lower_limit_list.length > 0) {
                priceIndex = index
                currencyList = item.upper_currency
              }
            })
          } else if (this.facility.catering_type === '266677c3') {
            facility.price.map(function (item, index) {
              if (item.hasOwnProperty('upper_upper_limit_list') && item.upper_upper_limit_list.length > 0) {
                priceIndex = index
                currencyList = item.lower_currency
              }
            })
          }
          var pelicanPricing = {
            pack_prices: facility.price[priceIndex],
            pack_currency: facility.price[priceIndex],
            pelican_lower_currency: currencyList
          }
          Object.assign(data, pelicanPricing)
        } else {
          var nonPelicanPricing = {
            adult_price: facility.price[0].adult_price,
            child_price: facility.price[0].child_price,
            mandatory_price: facility.price[0].mandatory_price,
            currency: facility.price[0].currency_type
          }
          Object.assign(data, nonPelicanPricing)
        }
        if (facility.group_pricing_status === 'true' && this.facility.catering_type !== '9a9a77eb' && this.facility.catering_type !== '266677c3') {
          var extraData = {
            extra_price: facility.group_price[this.findGroup(facility)].extra_price,
            special_mandatory_price: facility.group_price[this.findGroup(facility)].mandatory_price,
            special_currency: facility.group_price[this.findGroup(facility)].currency_type,
            from_number: facility.group_price[this.findGroup(facility)].from_number,
            to_number: facility.group_price[this.findGroup(facility)].to_number,
            maximum_number: facility.group_price[this.findGroup(facility)].maximum_number
          }
          Object.assign(data, extraData)
        }
        console.log(data)
        var oldData = JSON.parse(localStorage.getItem('facility_data'))
        this.$store.commit('BROWSER_FACILITIES', oldData)
        this.$store.commit('ADD_FACILITY', data)
        localStorage.setItem('facility_data', JSON.stringify(this.chosenFacilities))
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_facility_pricing_types')
  }
}
</script>

<style scoped>

</style>
