<template>
  <div class="col-lg-12">
    <div class="hpanel">
      <br>
      <div class="panel-body">
        <div>
          <v-tabs
            v-model="active"
            slider-color="primary"
          >
              <v-tab key="guest_details" ripple>
                <small>Step 1 - Guest Details</small>
              </v-tab>
              <v-tab key="residency" ripple>
                <small>Step 2 - Residency</small>
              </v-tab>
              <v-tab :key="3" ripple>
                <small>Step 3 - Vehicle Entry Fees</small>
              </v-tab>
              <v-tab :key="4" ripple>
                <small>Step 4 - Accommodation/Camping</small>
              </v-tab>
              <v-tab :key="5" ripple>
                <small>Step 5 - Activities</small>
              </v-tab>
              <v-tab :key="6" ripple>
                <small>Step 6 - Complete Booking</small>
              </v-tab>
          </v-tabs>
          <v-tabs-items v-model="active">
            <v-tab-item key="guest_details">
              <v-card flat>
                <v-layout row wrap>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="First Name"
                        v-model="gate_pass.first_name"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Last Name"
                        v-model="gate_pass.last_name"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Email"
                        v-model="gate_pass.email"
                        :rules="requiredRules"
                        required
                        type="email"
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Phone Number"
                        v-model="gate_pass.phone"
                        type="tel"
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg12 md12 sm12 xs12>
                    <v-container fluid>
                      <v-select
                        label="Destination"
                        v-model="gate_pass.destination"
                        :items="allDestinations"
                        :rules="[v => !!v || 'Item is required']"
                        required
                        item-text="destination_name"
                        item-value="destination_public_id"
                        autocomplete
                        :loading="$loadingTrue"
                      ></v-select>
                    </v-container>
                  </v-flex>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-dialog
                        ref="dialog"
                        persistent
                        v-model="modal1"
                        lazy
                        full-width
                        width="290px"
                        :return-value.sync="gate_pass.check_in"
                      >
                        <v-text-field
                          slot="activator"
                          label="Check-in"
                          v-model="gate_pass.check_in"
                          readonly
                        ></v-text-field>
                        <v-date-picker
                          v-model="gate_pass.check_in"
                          :min="start_date"
                          scrollable>
                          <v-spacer></v-spacer>
                          <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                          <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(gate_pass.check_in)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-container>
                  </v-flex>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-dialog
                        ref="dialog1"
                        persistent
                        v-model="modal2"
                        lazy
                        full-width
                        width="290px"
                        :return-value.sync="gate_pass.check_out"
                      >
                        <v-text-field
                          slot="activator"
                          label="Check-out"
                          v-model="gate_pass.check_out"
                          readonly
                        ></v-text-field>
                        <v-date-picker
                          v-model="gate_pass.check_out"
                          :min="gate_pass.check_in"
                          scrollable>
                          <v-spacer></v-spacer>
                          <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                          <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(gate_pass.check_out)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-card>
              <v-btn @click="nextTab()" color="primary">Next</v-btn>
            </v-tab-item>
            <v-tab-item key="residency">
              <conservation-fees :check_in="gate_pass.check_in" :check_out="gate_pass.check_out"></conservation-fees>
              <v-layout row wrap>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                </v-flex>
                <v-flex lg10 md10></v-flex>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="nextTab()" color="primary">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item :key="3">
              <vehicle-fees :check_in="gate_pass.check_in" :check_out="gate_pass.check_out"></vehicle-fees>
              <v-layout row wrap>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                </v-flex>
                <v-flex lg10 md10></v-flex>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="nextTab()" color="primary">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item :key="4">
              <v-card flat>
                <facility-booking></facility-booking>
                <v-layout row wrap>
                  <v-flex lg1 md1 sm6 xs6>
                    <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                  </v-flex>
                  <v-flex lg10 md10></v-flex>
                  <v-flex lg1 md1 sm6 xs6>
                    <v-btn @click="nextTab()" color="primary">Next</v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-tab-item>
            <v-tab-item :key="5">
              <v-card flat>
                <inventory-booking></inventory-booking>
                <v-layout row wrap>
                  <v-flex lg1 md1 sm6 xs6>
                    <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                  </v-flex>
                  <v-flex lg10 md10></v-flex>
                  <v-flex lg1 md1 sm6 xs6>
                    <v-btn @click="nextTab()" color="primary">Next</v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-tab-item>
            <v-tab-item :key="6">
              <v-card flat>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table">
                      <thead>
                      <tr>
                        <td>Entry</td>
                        <td>Guests</td>
                        <td>Total Amount</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Conservation Fees</td>
                        <td>{{getCoservationGuests()}}</td>
                        <td>{{$localCurrency}} {{(conservationTotal).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}}</td>
                      </tr>
                      <tr>
                        <td>Vehicle Fees</td>
                        <td>{{getVehicleTotals()}}</td>
                        <td>{{$localCurrency}} {{(vehicleTotal).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}}</td>
                      </tr>
                      <tr><td><b>Accommodation</b></td></tr>
                      <tr v-for="(accommodation, key) in chosenFacilities" :key="key">
                        <td>{{accommodation.name}}</td>
                        <td>{{Number(accommodation.children) + Number(accommodation.adults)}}</td>
                        <td>{{$localCurrency}} {{facilityTotal(accommodation)}}</td>
                      <tr>
                      </tr>
                      <tr> <td><b>Activities</b></td></tr>
                      <tr v-for="(activity, key) in chosenInventory" :key="key">
                        <td>{{activity.name}}</td>
                        <td>{{Number(activity.children) + Number(activity.adults)}}</td>
                        <td>{{$localCurrency}} {{findActivityTotal(activity)}}</td>
                      <tr>
                      </tr>
                      <tr>
                        <td><h2>Total</h2></td>
                        <td></td>
                        <td><h2>{{$localCurrency}} {{totalPrice.toFixed(2).toLocaleString('en')}}</h2></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <div class="col-sm-8">
                        <v-btn :depressed="true" color="primary" v-if="route === 'NewBooking'" @click.prevent="doBooking()" :loading="this.$store.state.LoadingStore.loading" >Complete Booking</v-btn>
                        <v-btn :depressed="true" color="error"  v-if="route === 'EditBooking'" @click.prevent="editBooking()">Amend Booking</v-btn>
                      </div>
                    </div>
                  </div>
                </div>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </div>
      </div>
    </div>
    {{updateGateEntry}}
  </div>
</template>

<script>
import FacilityBooking from './FacilityBooking'
import Datepicker from 'vuejs-datepicker'
import InventoryBooking from './InventoryBooking'
import ConservationFees from './ConservationFees'
import VehicleFees from './VehicleFees'
export default {
  components: {
    VehicleFees,
    ConservationFees,
    InventoryBooking,
    FacilityBooking,
    Datepicker},
  name: 'gate-entry-ticket',
  data () {
    return {
      start_date: this.$moment().format('YYYY-MM-DD'),
      active: null,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      route: this.$route.name,
      gate_pass: {
        checking_in: '',
        currency: this.$store.state.CurrencyStore.browser_currency_id,
        type: 'FF9330A3',
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        destination: '',
        check_in: this.$moment().format('YYYY-MM-DD'),
        check_out: this.$moment().format('YYYY-MM-DD'),
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      selectAccomodation: [],
      selectedActivities: []
    }
  },
  computed: {
    currency: function () {
      return this.$store.state.CurrencyStore.browser_currency
    },
    totalPrice: function () {
      // activity total
      var activity = 0
      for (var i = 0; i < this.chosenInventory.length; i++) {
        activity = activity + this.findActivityTotal(this.chosenInventory[i])
      }
      // facility total
      var facility = 0
      for (var j = 0; j < this.chosenFacilities.length; j++) {
        facility = facility + this.facilityTotal(this.chosenFacilities[j])
      }
      // vehicle total
      var vehicleData = this.vehicleTotal
      // conservation total
      var conservationData = this.conservationTotal
      return activity + facility + vehicleData + conservationData
    },
    disabled_settings: function () {
      var startDate = this.$moment().format('YYYY-MM-DD')
      // var endDate = this.$store.state.BookingStore.local_booking.check_out
      // this.activity.date = this.$moment(startDate).format('YYYY, MM, DD')
      return {
        to: new Date(this.$moment(startDate).format('YYYY, MM, DD'))
        // from: new Date(this.$moment(endDate).add(1, 'd').format('YYYY, MM, DD'))
      }
    }
  },
  methods: {
    nextTab () {
      this.active = String(Number(this.active) + 1)
    },
    previousTab () {
      this.active = String(Number(this.active) - 1)
    },
    editBooking: function () {
      this.$store.dispatch('loading_true')
      var data = {
        booking_id: this.$route.params.booking_id,
        guests: this.allConservationFees,
        facilities: this.chosenFacilities,
        inventory: this.chosenInventory,
        vehicles: this.allVehicles
      }
      Object.assign(data, this.gate_pass)
      this.$store.dispatch('update_booking', data)
    },
    getVehicleTotals: function () {
      var allVehicles = this.allVehicles
      var size = allVehicles.length
      var vehicles = 0
      for (var i = 0; i < size; i++) {
        vehicles = Number(vehicles) + Number(allVehicles[i].vehicles)
      }
      return vehicles
    },
    putFacilityData: function (data) {
      this.selectAccomodation = data
    },
    putActivityData: function (data) {
      this.selectedActivities = data
    },
    doBooking: function () {
      this.$store.dispatch('loading_true')
      var data = {
        guests: this.allConservationFees,
        facilities: this.chosenFacilities,
        inventory: this.chosenInventory,
        vehicles: this.allVehicles
      }
      Object.assign(data, this.gate_pass)
      this.$store.dispatch('post_booking', data)
    },
    putStartDate: function () {
      var date = this.gate_pass.check_in
      date = this.$moment(date).format('YYYY-MM-DD')
      this.gate_pass.check_in = date
    },
    putEndtDate: function () {
      var date = this.gate_pass.check_out
      date = this.$moment(date).format('YYYY-MM-DD')
      this.gate_pass.check_out = date
    },
    currencyChange: function () {
      var data = this.currency
      localStorage.setItem('currency', data)
      this.$store.state.CurrencyStore.browser_currency = data
    }
  }
}
</script>

<style scoped>

</style>
