<template>
  <div class="col-lg-12">
    <div class="hpanel">
      <br>
      <div class="panel-body">
        <div>
          <v-tabs
            v-model="active"
            slider-color="primary"
          >
            <v-tab key="gate_step_1" ripple>
              <small>Step 1 - School/Organization Details</small>
            </v-tab>
            <v-tab key="gate_step_2" ripple>
              <small>Step 2 - Residency</small>
            </v-tab>
            <v-tab key="gate_step_3" ripple>
              <small>Step 3 - Vehicle Entry Fees</small>
            </v-tab>
            <v-tab key="gate_step_4" ripple>
              <small>Step 4 - Accommodation/Camping</small>
            </v-tab>
            <v-tab key="gate_step_5" ripple>
              <small>Step 5 - Activities</small>
            </v-tab>
            <v-tab key="gate_step_6" ripple>
              <small>Step 6 - Approval</small>
            </v-tab>
            <v-tab-item key="gate_step_1">
              <v-card flat>
                <v-layout row wrap>
                  <v-flex lg12 md12 sm12 xs12>
                    <v-container fluid>
                      <v-select
                        label="Booking Type"
                        v-model="gate_pass.organisation_type"
                        :items="organizationTypes"
                        :rules="[v => !!v || 'Item is required']"
                        required
                        item-text="booking_type_name"
                        item-value="booking_type_public_id"
                        :loading="$loadingTrue"
                      ></v-select>
                    </v-container>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="gate_pass.organisation_type === 'C3237489'">
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Organization Name"
                        v-model="gate_pass.organisation_name"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Organization Email"
                        v-model="gate_pass.organisation_email"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Contact Person's Name"
                        v-model="gate_pass.name"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Contact Person's Email"
                        v-model="gate_pass.email"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Contact Person's Phone Number"
                        v-model="gate_pass.phone"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg12 md12 sm12 xs12>
                    <v-container fluid>
                      <v-select
                        label="Destination"
                        v-model="gate_pass.destination"
                        :items="allDestinations"
                        :rules="[v => !!v || 'Item is required']"
                        required
                        item-text="destination_name"
                        item-value="destination_public_id"
                        :loading="$loadingTrue"
                      ></v-select>
                    </v-container>
                  </v-flex>
                </v-layout>
                <v-layout row wrap v-if="gate_pass.organisation_type === '8D7E6504'">
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="School Name"
                        v-model="gate_pass.school.school_name"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-select
                        label="Level"
                        v-model="gate_pass.school.level"
                        :items="['Nursery', 'Primary', 'Secondary', 'College', 'University']"
                        :rules="[v => !!v || 'Item is required']"
                        required
                      ></v-select>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-select
                        label="Type"
                        v-model="gate_pass.school.type"
                        :items="['Boarding', 'Day School', 'Day & Boarding', 'Others']"
                        :rules="[v => !!v || 'Item is required']"
                        required
                      ></v-select>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-select
                        label="School Gender"
                        v-model="gate_pass.school.gender"
                        :items="allGender"
                        :rules="[v => !!v || 'Item is required']"
                        required
                        item-text="name"
                        item-value="public_id"
                        :loading="$loadingTrue"
                      ></v-select>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="City Town"
                        v-model="gate_pass.school.city_town"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Primary Contact Name"
                        v-model="gate_pass.school.primary_contact"
                        :rules="requiredRules"
                        required
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Primary Contact Email"
                        v-model="gate_pass.school.primary_contact_email"
                        :rules="requiredRules"
                        required
                        type="email"
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Primary Contact Phone"
                        v-model="gate_pass.school.primary_contact_phone"
                        :rules="requiredRules"
                        required
                        type="tel"
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Secondary Contact Name"
                        v-model="gate_pass.school.secondary_contact"
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Secondary Contact Email"
                        v-model="gate_pass.school.secondary_contact_email"
                        type="email"
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 md4 sm12 xs12>
                    <v-container>
                      <v-text-field
                        label="Secondary Contact Phone"
                        v-model="gate_pass.school.secondary_contact_phone"
                        type="tel"
                      ></v-text-field>
                    </v-container>
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-dialog
                        ref="dialog"
                        persistent
                        v-model="modal1"
                        lazy
                        full-width
                        width="290px"
                        :return-value.sync="gate_pass.check_in"
                      >
                        <v-text-field
                          slot="activator"
                          label="Check-in"
                          v-model="gate_pass.check_in"
                          readonly
                        ></v-text-field>
                        <v-date-picker
                          v-model="gate_pass.check_in"
                          :min="start_date"
                          scrollable>
                          <v-spacer></v-spacer>
                          <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                          <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(gate_pass.check_in)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-container>
                  </v-flex>
                  <v-flex lg6 md6 sm12 xs12>
                    <v-container>
                      <v-dialog
                        ref="dialog1"
                        persistent
                        v-model="modal2"
                        lazy
                        full-width
                        width="290px"
                        :return-value.sync="gate_pass.check_out"
                      >
                        <v-text-field
                          slot="activator"
                          label="Check-out"
                          v-model="gate_pass.check_out"
                          readonly
                        ></v-text-field>
                        <v-date-picker
                          v-model="gate_pass.check_out"
                          :min="gate_pass.check_in"
                          scrollable>
                          <v-spacer></v-spacer>
                          <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                          <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(gate_pass.check_out)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                    </v-container>
                  </v-flex>
                </v-layout>
              </v-card>
              <v-layout row wrap>
                <v-flex lg11 md11></v-flex>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="nextTab()" color="primary">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item key="gate_step_2">
              <v-card flat>
                <v-container v-if="gate_pass.organisation_type === ''">
                  <p class="headline text-md-center text-lg-center error" style="color: white">You need to select the group type</p>
                </v-container>
                <div class="col-md-12" v-if="gate_pass.organisation_type === '8D7E6504'">
                  <table cellpadding="1" cellspacing="1" class="table">
                    <thead>
                    <tr>
                      <td>Residency</td>
                      <td>Currency</td>
                      <td>Amount</td>
                      <td>Guests</td>
                      <td>Discount (%)</td>
                      <td>Total Amount</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(fee, key) in allSchoolConservationFees" :key="key">
                      <td>{{fee.payment_person}}</td>
                      <td>{{fee.payment_person_currency}}</td>
                      <td>{{fee.payment_person_amount}}</td>
                      <td><v-text-field label="Number" v-model="allSchoolConservationFees[key].payment_guests"></v-text-field></td>
                      <td><v-text-field label="Discount (%)" v-model="allSchoolConservationFees[key].payment_person_discount" required></v-text-field></td>
                      <td>{{fee.payment_person_currency}} {{Number(allSchoolConservationFees[key].payment_person_amount) * Number(allSchoolConservationFees[key].payment_guests) * ((100 - allSchoolConservationFees[key].payment_person_discount) / 100)}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><h3>{{$localCurrency}} {{schoolConservationTotal.toLocaleString('en')}}</h3></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12" v-if="gate_pass.organisation_type === 'C3237489'">
                  <conservation-fees :check_in="gate_pass.check_in" :check_out="gate_pass.check_out"></conservation-fees>
                </div>
              </v-card>
              <v-layout row wrap v-if="gate_pass.organisation_type !== ''">
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                </v-flex>
                <v-flex lg10 md10></v-flex>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="nextTab()" color="primary">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item key="gate_step_3">
              <vehicle-fees :check_in="gate_pass.check_in" :check_out="gate_pass.check_out"></vehicle-fees>
              <v-layout row wrap >
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                </v-flex>
                <v-flex lg10 md10></v-flex>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="nextTab()" color="primary">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item key="gate_step_4">
              <v-card flat>
                <facility-booking></facility-booking>
              </v-card>
              <v-layout row wrap >
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                </v-flex>
                <v-flex lg10 md10></v-flex>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="nextTab()" color="primary">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item key="gate_step_5">
              <v-card flat>
                <inventory-booking></inventory-booking>
              </v-card>
              <v-layout row wrap >
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="previousTab()" color="secondary">Back</v-btn>
                </v-flex>
                <v-flex lg10 md10></v-flex>
                <v-flex lg1 md1 sm6 xs6>
                  <v-btn @click="nextTab()" color="primary">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-tab-item>
            <v-tab-item key="gate_step_6">
              <v-card flat>
                <div class="row">
                  <div class="col-md-12">
                    <table cellpadding="1" cellspacing="1" class="table">
                      <thead>
                      <tr>
                        <td>Entry</td>
                        <td>Guests</td>
                        <td>Total Amount</td>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-if="gate_pass.organisation_type === '8D7E6504'">
                        <td>Conservation Fees</td>
                        <td>{{getGroupGuests()}}</td>
                        <td>{{$localCurrency}} {{(schoolConservationTotal).toLocaleString('en')}}</td>
                      </tr>
                      <tr v-if="gate_pass.organisation_type === 'C3237489'">
                        <td>Conservation Fees</td>
                        <td>{{getCoservationGuests()}}</td>
                        <td>{{$localCurrency}} {{(conservationTotal).toLocaleString('en')}}</td>
                      </tr>
                      <tr>
                        <td>Vehicle Fees</td>
                        <td>{{getVehicleTotals()}}</td>
                        <td>{{$localCurrency}} {{(vehicleTotal * getDays(gate_pass.check_in, gate_pass.check_out)).toLocaleString('en')}}</td>
                      </tr>
                      <tr><td><b>Accommodation</b></td></tr>
                      <tr v-for="(accommodation, key) in chosenFacilities" :key="key">
                        <td>{{accommodation.name}}</td>
                        <td>{{accommodation.children + accommodation.adults}}</td>
                        <td>{{$localCurrency}} {{facilityTotal(accommodation)}}</td>
                      <tr>
                      </tr>
                      <tr><td><b>Activities</b></td></tr>
                      <tr v-for="(activity, key) in chosenInventory" :key="key">
                        <td>{{activity.name}}</td>
                        <td>{{activity.children + activity.adults}}</td>
                        <td>{{$localCurrency}} {{findActivityTotal(activity)}}</td>
                      <tr>
                      </tr>
                      <tr>
                        <td><h2>Total</h2></td>
                        <td></td>
                        <td><h2>{{$localCurrency}} {{totalPrice.toLocaleString('en')}}</h2></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-5" style="margin-left: 1%">
                    <div class="form-gate_pass">
                      <div class="col-sm-8 col-md-offset-1">
                        <v-btn :depressed="true" color="primary"  @click.prevent="doBooking()" :loading="this.$store.state.LoadingStore.loading">Complete Booking</v-btn>
                      </div>
                    </div>
                  </div>
                </div>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FacilityBooking from './FacilityBooking'
import Datepicker from 'vuejs-datepicker'
import InventoryBooking from './InventoryBooking'
import ConservationFees from './ConservationFees'
import VehicleFees from './VehicleFees'
export default {
  components: {
    VehicleFees,
    ConservationFees,
    InventoryBooking,
    FacilityBooking,
    Datepicker},
  name: 'gate_pass-booking',
  data () {
    return {
      start_date: this.$moment().format('YYYY-MM-DD'),
      today: this.$moment().format('YYYY-MM-DD'),
      active: null,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      gate_pass: {
        school: {
          school_name: '',
          level: '',
          type: '',
          gender: '',
          city_town: '',
          primary_contact: '',
          primary_contact_email: '',
          primary_contact_phone: '',
          secondary_contact: '',
          secondary_contact_email: '',
          secondary_contact_phone: ''
        },
        type: 'FF9330A3',
        check_in: this.$moment().format('YYYY-MM-DD'),
        check_out: this.$moment().format('YYYY-MM-DD'),
        currency: this.$store.state.CurrencyStore.browser_currency_id,
        organisation_name: '',
        organisation_email: '',
        organisation_type: '',
        name: '',
        email: '',
        phone: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      selectAccomodation: [],
      selectedActivities: []
    }
  },
  created () {
    this.$store.dispatch('get_all_group_booking_types')
    this.$store.dispatch('all_school_conservation_fees')
    this.$store.dispatch('get_all_genders2')
  },
  computed: {
    currency: function () {
      return this.$store.state.CurrencyStore.browser_currency
    },
    totalPrice: function () {
      // activity total
      var activity = 0
      for (var i = 0; i < this.chosenInventory.length; i++) {
        activity = activity + this.findActivityTotal(this.chosenInventory[i])
      }
      // facility total
      var facility = 0
      for (var j = 0; j < this.chosenFacilities.length; j++) {
        facility = facility + this.facilityTotal(this.chosenFacilities[j])
      }
      // vehicle total
      var vehicleData = this.vehicleTotal * this.getDays(this.gate_pass.check_in, this.gate_pass.check_out)
      // conservation total
      var conservationData
      if (this.gate_pass.organisation_type === '8D7E6504') {
        conservationData = this.schoolConservationTotal * this.getDays(this.gate_pass.check_in, this.gate_pass.check_out)
      } else {
        conservationData = this.conservationTotal * this.getDays(this.gate_pass.check_in, this.gate_pass.check_out)
      }
      return activity + facility + vehicleData + conservationData
    },
    disabled_settings: function () {
      var startDate = this.$moment().format('YYYY-MM-DD')
      // var endDate = this.$store.state.BookingStore.local_booking.check_out
      // this.activity.date = this.$moment(startDate).format('YYYY, MM, DD')
      return {
        to: new Date(this.$moment(startDate).format('YYYY, MM, DD'))
        // from: new Date(this.$moment(endDate).add(1, 'd').format('YYYY, MM, DD'))
      }
    }
  },
  methods: {
    nextTab () {
      this.active = String(Number(this.active) + 1)
    },
    previousTab () {
      this.active = String(Number(this.active) - 1)
    },
    getVehicleTotals: function () {
      var allVehicles = this.allVehicles
      var size = allVehicles.length
      var vehicles = 0
      for (var i = 0; i < size; i++) {
        vehicles = Number(vehicles) + Number(allVehicles[i].vehicles)
      }
      return vehicles
    },
    putFacilityData: function (data) {
      this.selectAccomodation = data
    },
    putActivityData: function (data) {
      this.selectedActivities = data
    },
    doBooking: function () {
      this.$store.dispatch('loading_true')
      var data
      if (this.gate_pass.organisation_type === '8D7E6504') {
        data = {
          guests: this.allSchoolConservationFees,
          facilities: this.selectAccomodation,
          inventory: this.selectedActivities,
          vehicles: this.allVehicles
        }
      } else {
        data = {
          guests: this.allConservationFees,
          facilities: this.selectAccomodation,
          inventory: this.selectedActivities,
          vehicles: this.allVehicles
        }
      }
      Object.assign(data, this.gate_pass)
      this.$store.dispatch('post_group_booking', data)
    },
    putStartDate: function () {
      var date = this.gate_pass.check_in
      date = this.$moment(date).format('YYYY-MM-DD')
      this.gate_pass.check_in = date
    },
    putEndtDate: function () {
      var date = this.gate_pass.check_out
      date = this.$moment(date).format('YYYY-MM-DD')
      this.gate_pass.check_out = date
    },
    currencyChange: function () {
      var data = this.currency
      localStorage.setItem('currency', data)
      this.$store.state.CurrencyStore.browser_currency = data
    }
  }
}
</script>

<style scoped>

</style>
