<template>
  <div class="col-md-12" style="margin-top: 3%">
    <v-layout row wrap>
    <v-flex lg3 md4 sm6 xs12>
      <v-container fluid>
        <v-select
          label="Inventory"
          v-model="activity.inventory"
          :items="inventoryWithPrices"
          :rules="[v => !!v || 'Item is required']"
          required
          item-text="name"
          item-value="inventory"
          @change="resetActivity"
          autocomplete
          :loading="$loadingTrue"
        ></v-select>
      </v-container>
    </v-flex>
    <v-flex lg3 md4 sm6 xs12>
      <v-container>
        <v-dialog
          ref="dialog"
          persistent
          v-model="modal"
          lazy
          full-width
          width="290px"
          :return-value.sync="activity.date"
        >
          <v-text-field
            slot="activator"
            label="Activity Date"
            v-model="activity.date"
            readonly
          ></v-text-field>
          <v-date-picker
            v-model="activity.date"
            scrollable
            :min="today"
            @input="findAvailability()">
            <v-spacer></v-spacer>
            <v-btn :depressed="true" flat color="primary" @click="modal = false">Cancel</v-btn>
            <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(activity.date)">OK</v-btn>
          </v-date-picker>
        </v-dialog>
      </v-container>
    </v-flex>
    <v-flex lg3 md4 sm6 xs12>
      <v-container>
        <v-text-field
          label="Children"
          v-model="activity.children"
          :rules="requiredRules"
          required
          mask="##"
          min="0"
          type="number"
          :max="calculateChildMax"
        ></v-text-field>
        <small>Total Max Slots {{Number(activitySlots) - Number(total)}}</small>
      </v-container>
    </v-flex>
    <v-flex lg3 md4 sm6 xs12>
      <v-container>
        <v-text-field
          label="Adults"
          v-model="activity.adults"
          :rules="requiredRules"
          required
          mask="##"
          min="0"
          type="number"
          :max="calculateAdultMax"
        ></v-text-field>
        <small>Total Max Slots {{Number(activitySlots) - Number(total)}}</small>
      </v-container>
    </v-flex>
    <v-flex lg3 md4 sm6 xs12>
      <v-container>
        <v-btn :depressed="true" color="primary"  v-if="route === 'Reservation'"  @click="selectedItem()">Add to Booking</v-btn>
        <v-btn :depressed="true" v-else  @click="selectedItem()" >Add to Booking</v-btn>
      </v-container>
    </v-flex>
    <loading></loading>
  </v-layout>
     <hr>
     <div class="row" v-if="route === 'NewBooking' || route === 'NewPartnerBooking'">
       <div class="col-md-12">
         <table cellpadding="1" cellspacing="1" class="table">
           <thead>
           <tr>
             <th>Activity</th>
             <th>Amount</th>
             <th>Children</th>
             <th>Adults</th>
             <th>Total Amount</th>
             <th>Action</th>
           </tr>
           </thead>
           <tbody>
           <tr v-for="(activity, key) in chosenInventory" :key="key">
             <td>{{activity.name}}</td>
             <td>Child: {{activity.currency}} {{activity.child_price}}. Adult: {{activity.currency}} {{activity.adult_price}}</td>
             <td>{{activity.children}}</td>
             <td>{{activity.adults}}</td>
             <td>{{currency}} {{findActivityTotal(activity).toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}}</td>
             <td> <v-btn :depressed="true" color="error" @click="removeInventory(inventory)">x</v-btn></td>
           </tr>
           </tbody>
         </table>
       </div>
     </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import Loading from '../../../Public/Loading'
export default {
  components: {
    Loading,
    Datepicker},
  name: 'inventory-booking',
  data () {
    return {
      today: this.$moment().format('YYYY-MM-DD'),
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      modal: false,
      route: this.$route.name,
      activity: {
        inventory: {},
        date: '',
        adults: 0,
        children: 0
      }
    }
  },
  computed: {
    currency: function () {
      return this.$store.state.CurrencyStore.browser_currency
    },
    calculateAdultMax: function () {
      return (Number(this.activitySlots) - Number(this.total)) + this.activity.adults
    },
    calculateChildMax: function () {
      return (Number(this.activitySlots) - Number(this.total)) + this.activity.children
    },
    total: function () {
      return Number(this.activity.adults) + Number(this.activity.children)
    },
    disabled_settings: function () {
      var startDate = this.$moment().format('YYYY-MM-DD')
      // var endDate = this.$store.state.BookingStore.local_booking.check_out
      // this.activity.date = this.$moment(startDate).format('YYYY, MM, DD')
      return {
        to: new Date(this.$moment(startDate).format('YYYY, MM, DD'))
        // from: new Date(this.$moment(endDate).add(1, 'd').format('YYYY, MM, DD'))
      }
    }
  },
  created () {
    if (this.$route.name !== 'NewBooking') {
      this.$store.dispatch('get_active_activities')
    }
  },
  methods: {
    convertToLocalCurrency: function (amount) {
      // this.
    },
    selectedItem: function () {
      var data = {
        public_id: this.activity.inventory.public_id,
        name: this.activity.inventory.name,
        date: this.$moment(this.activity.date).format('YYYY-MM-DD'),
        adults: this.activity.adults,
        adult_price: this.activity.inventory.price.adult_price,
        child_price: this.activity.inventory.price.child_price,
        currency: this.activity.inventory.price.currency_type,
        children: this.activity.children,
        discounts: this.activity.inventory.discount,
        discount_status: this.activity.inventory.discount_status
      }
      var oldData = JSON.parse(localStorage.getItem('activity_data'))
      console.log(oldData)
      this.$store.commit('CHOSEN_ACTIVITIES', oldData)
      this.$store.commit('ADD_ACTIVITY', data)
      localStorage.setItem('activity_data', JSON.stringify(this.chosenInventory))
      this.activity.inventory = {}
      this.activity.date = ''
      this.activity.adults = 0
      this.activity.children = 0
    },
    resetActivity: function (data) {
      this.activity.date = ''
      this.$store.commit('REMOVE_AVAILABILITY')
      this.activity.inventory = data
      this.$store.dispatch('get_activity', this.activity.inventory.public_id)
      this.activity.adults = 0
      this.activity.children = 0
    },
    findAvailability: function () {
      this.$store.dispatch('loading_true')
      var data = {
        date: this.$moment(this.activity.date).format('YYYY-MM-DD'),
        inventory_id: this.activity.inventory.public_id
      }
      this.$store.dispatch('check_inventory_availability', data)
    }
  }
}
</script>

<style scoped>
</style>
