<template>
  <div class="panel-body">
    <form @submit.prevent="postMembershipBooking()" class="form-horizontal">
      <div class="row">
        <div class="col-md-10" style="margin-left: 5%">
          <div class="form-group"><label class="control-label">Select Member</label>
            <div>
              <select v-model="member_booking.member" class="form-control">
                <option value="">Select Member</option>
                <option :value="member.public_id" v-for="(member, key) in allMembers" :key="key">{{member.full_name}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10" style="margin-left: 5%">
          <div class="form-group"><label class="control-label">Destination</label>
            <select v-model="member_booking.destination" class="form-control">
              <option value="">Select Destination</option>
              <option :value="destination.name" v-for="(destination, key) in destinations" :key="key">{{destination.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 1%">
        <div class="col-md-10" style="margin-left: 4%">
          <HotelDatePicker  @checkInChanged="checkInDate" @checkOutChanged="checkOutDate" :i18n="date_settings" style="width: 100%" checkIn="Start Date"
          >
          </HotelDatePicker>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col-md-5" style="margin-left: 1%">
          <div class="form-group">
            <div class="col-sm-8 col-md-offset-1">
              <button class="btn btn-primary" type="submit">Grant Pass</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: 'membership-booking',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
