<template>
  <div class="">
    <v-container fluid>
      <v-card-title> <h2 class="text-md-center text-lg-center text-sm-center opc_arial earth">PAYMENT INFORMATION</h2></v-card-title>
      <v-form @submit.prevent="postBooking()" ref="form" v-model="valid" lazy-validation>
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
           <v-container>
             <v-text-field
               v-model="booking.first_name"
               label="First Name"
               required="required"
               :rules="requiredRules"
               type="text"
             ></v-text-field>
           </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                v-model="booking.last_name"
                label="Last Name"
                required
                :rules="requiredRules"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
           <v-container>
             <v-text-field
               v-model="booking.email"
               label="Email"
               required
               type="email"
               :rules="emailRules"
             ></v-text-field>
           </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                v-model="booking.phone_number"
                label="Phone * (e.g. +XXX...)"
                required
                type="number"
                minlength="13"
                :rules="requiredRules"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-select
                label="Country"
                v-model="booking.code"
                :items="allCountries"
                :rules="[v => !!v || 'Country is required']"
                required
                item-text="name"
                item-value="code"
                autocomplete
                :loading="$loadingTrue"
              ></v-select>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                v-model="booking.city"
                label="City"
                required
                :rules="requiredRules"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg12 md12 sm12 xs12>
            <v-container>
              <router-link  target="_blank" :to="{name: 'PTermsAndConditions'}">Ol Pejeta Conservancy terms and conditions</router-link>
              <v-checkbox
                v-model="booking.terms"
                type="checkbox"
                required
                label="I agree to Ol Pejeta Conservancy terms and conditions"
              >
              </v-checkbox>
            </v-container>
          </v-flex>
        </v-layout>
        <v-btn :depressed="true" color="primary" block type="submit" v-if="booking.terms === true" :loading="$loadingTrue">Continue</v-btn>
      </v-form>
    </v-container>
    <br>
  </div>
</template>

<script>
import FrontNavigation from '../Repeated/FrontNavigation'
import SideBar from '../Repeated/SideBar'
import Loading from '../Loading'
import FrontTermsAndConditions from './TermsAndConditions'
export default {
  components: {
    FrontTermsAndConditions,
    Loading,
    SideBar,
    FrontNavigation},
  name: 'booking-information',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      valid: true,
      sheet: false,
      booking: {
        first_name: '',
        last_name: '',
        email: '',
        phone: '',
        address: '',
        code: '',
        country: '',
        city: '',
        additional_note: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_page', 't&c')
    this.$store.dispatch('get_all_countries')
  },
  methods: {
    postBooking: function () {
      if (this.$refs.form.validate()) {
        var data = {
          guests: this.allConservationFees,
          facilities: this.chosenFacilities,
          inventory: this.chosenInventory,
          vehicles: this.allVehicles
        }
        var combinedData = Object.assign(JSON.parse(localStorage.getItem('user_data')), this.booking)
        Object.assign(data, combinedData)
        data.currency = this.$store.state.CurrencyStore.browser_currency_id
        localStorage.setItem('previous_booking', JSON.stringify(data))
        this.$store.dispatch('post_booking_public', data)
        this.$store.dispatch('loading_true')
      }
    }
  }
}
</script>

<style scoped>

</style>
