<template>
  <div class="">
    <v-container>
      <front-navigation></front-navigation>
      <v-layout row wrap>
        <v-flex lg6 md6 sm12 xs12>
          <div class="">
            <div class="container">
              <h3>{{singleFacility.name}}</h3>
              <h3 style="color: gray">About {{singleFacility.name}}</h3>
              <span style="color: gray" v-html="singleFacility.description"></span>
            </div>
            <div class="container-fluid" v-if="booking === true">
              <div class="row">
                <div class="col-md-12">
                  <input type="checkbox" class="form-control col-md-2">
                  <label class="col-md-10">Park Fees</label>
                </div>
              </div>
            </div>
          </div>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12>
          <carousel :autoplay="true" :autoplayTimeout="3000" :autoplayHoverPause="true" :perPage="1">
            <slide v-for="(image, key) in facilityImages" :key="key">
              <img :src="image.path" width="100%" alt="">
            </slide>
          </carousel>
        </v-flex>
      </v-layout>
    </v-container>
    {{bookingStatus}}
  </div>
</template>

<script>
import FrontNavigation from './../Repeated/FrontNavigation'
import SideBar from '../Repeated/SideBar'
export default {
  data () {
    return {
      booking: false
    }
  },
  created () {
    this.$store.dispatch('get_facility', this.$route.params.facility_id)
    this.$store.dispatch('get_facility_images', this.$route.params.facility_id)
  },
  components: {
    SideBar,
    FrontNavigation
  }
}
</script>

<style>
  .main-image {
    max-height: 100%;
    max-width: 100%;
  }
  #side {
    /*z-index: 100;*/
    /*margin-top: -10%;*/
    /*position: absolute;*/
    /**/
    background-color: white;
  }
</style>
