<template>
  <v-container>
    <h2 class="text-lg-center text-md-center text-sm-center">Membership Payment</h2>
    <br>
    <v-card flat>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex md5 ml-5 v-if="paymentKESPrice < 70000">
            <v-container row wrap>
              <v-flex md12>
                <div class="form-group">
                  <label style="margin-right: 5%">Mpesa</label>
                  <input v-model="payment_mode" type="radio" value="Mpesa" class="form-control">
                </div>
              </v-flex>
              <v-flex md12>
                <v-layout row wrap>
                  <v-flex lg2 md2 sm2 xs2>
                    <img src="/static/Public/payments/mpesa.png" width="100%" alt="">
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-container>
          </v-flex>
          <v-flex md5>
            <v-layout lg12 md12 sm12 xs12>
              <label style="margin-right: 5%">Card Payment</label>
              <input v-model="payment_mode" type="radio" value="Card" class="form-control">
            </v-layout>
            <v-layout lg12 md12 sm12 xs12>
              <v-layout row wrap>
                <v-flex lg2 md2 sm2 xs2>
                  <img src="/static/Public/payments/Mastercard.jpg" width="130%" alt="">
                </v-flex>
                <v-flex lg2 md2 sm2 xs2>
                  <img src="/static/Public/payments/visa.png" width="130%" alt="">
                </v-flex>
              </v-layout>
            </v-layout>
          </v-flex>
        </v-layout>
        <br>
        <em>Kindly note that payments above KES 70,000 will not have the mpesa option.</em>
      </v-container>
    </v-card>
    <br>
    <v-card flat v-if="payment_mode === 'Card'" >
      <v-container>
        <div class="col-md-12">
          <div class="">
            <div class="">
              <form id="myform" name="myform" METHOD="POST" ACTION="https://portal.host.iveri.com/Lite/Authorise.aspx">
                <!-- Mandatory form variables  -->
                <input id="Lite_Merchant_Applicationid" name="Lite_Merchant_Applicationid" type="hidden" :value="live_id" readonly="true">
                <input id="Lite_Order_Amount" name="Lite_Order_Amount" type="hidden" :value="paymentUSDPrice" readonly="true">
                <input type="hidden" name="Lite_Website_Successful_url" :value="iveri_url + ':8001/member-payment'" /> <!-- NEED TO BE CHANGED -->
                <input type="hidden" name="Lite_Website_Fail_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                <input type="hidden" name="Lite_Website_TryLater_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                <input type="hidden" name="Lite_Website_Error_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                <input id="Lite_Currency_AlphaCode" name="Lite_Currency_AlphaCode" type="hidden" value="KES" readonly="true">
                <input id="Lite_Order_LineItems_Product_1" name="Lite_Order_LineItems_Product_1" type="hidden" value="Booking Total" readonly="true">
                <input id="Lite_Order_LineItems_Quantity_1" name="Lite_Order_LineItems_Quantity_1" type="hidden" value="1" readonly="true">
                <input id="Lite_Order_LineItems_Amount_1" name="Lite_Order_LineItems_Amount_1" type="hidden" :value="paymentUSDPrice" readonly="true">
                <input id="Lite_ConsumerOrderID_PreFix" name="Lite_ConsumerOrderID_PreFix" type="hidden" value="DML" readonly="true">
                <input id="Ecom_BillTo_Online_Email" name="Ecom_BillTo_Online_Email" type="hidden" :value="singleMember.email">
                <input id="Ecom_Payment_Card_Protocols" name="Ecom_Payment_Card_Protocols" type="hidden" value="iVeri" readonly="true">
                <input id="MemberId" name="MemberId" type="hidden" :value="singleMember.public_id">
                <input id="Ecom_TransactionComplete" name="Ecom_TransactionComplete" type="hidden" value="" readonly="true">
                <!-- End-->
                <font color="red"><p class="warningtext" id="warning" name="warning" >&nbsp;</p></font>
                <li>
                  <v-text-field
                    id="txtEmail"
                    name="txtEmail"
                    v-model="singleMember.email"
                    :rules="requiredRules"
                    label="Email"
                    required
                  ></v-text-field>
                </li>
                <li>
                  <input type="text" hidden="hidden" id="Amount" name="Amount" class="text"  :value="paymentUSDPrice"><a href="#" class=" icon user" tabindex="-1"></a>
                </li>

                <br>
                <div class="submit">
                  <v-btn :depressed="true" type="submit" id="btnsubmit" class="btn primary btn-block" name="btnsubmit" color="primary">Proceed to Card Payment</v-btn>
                  <br>
                  <br>
                  <h6>Please re-confirm your email address to proceed with membership payment.</h6>
                  <div class="clear">  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </v-container>
    </v-card>
    <v-card flat v-if="payment_mode === 'Mpesa'">
      <v-card flat>
        <v-container fluid>
          <v-layout>
            <v-flex lg3 md3></v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-text-field
                label="Safaricom Phone Number"
                v-model="phone_number"
                required
                type="tel"
                placeholder="254..."
              ></v-text-field>
              <v-layout row wrap>
                <v-flex lg6 md6 sm12 xs12>
                  <v-container>
                    <v-btn :depressed="true" color="primary" block @click="requestMpesa()">Request Payment</v-btn>
                  </v-container>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <v-container>
                    <v-btn :depressed="true" color="warning" block @click="confirmPayment()" v-if="confirm === true">Confirm Payment</v-btn>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>
    </v-card>
    {{paymentCheck}}
  </v-container>
</template>

<script>
export default {
  name: 'membership-payment',
  data () {
    return {
      confirm: false,
      payment_mode: '',
      memberId: this.$route.params.member_id,
      phone_number: '254'
    }
  },
  created () {
    this.$store.dispatch('get_member', this.$route.params.member_id)
  },
  computed: {
    paymentCheck () {
      if (this.singleMember.payment_status === true || this.singleMember.payment_status === 'true') {
        this.redirectToSuccessPage()
      }
      return null
    },
    paymentKESPrice: function () {
      return Number(this.singleMember.amount)
    },
    paymentUSDPrice: function () {
      var total = 0
      total = this.singleMember.amount * 100
      return total
    }
  },
  methods: {
    redirectToSuccessPage () {
      this.$router.push({
        name: 'SuccessMembership'
      })
    },
    confirmPayment () {
      this.$store.dispatch('get_member', this.$route.params.member_id)
    },
    requestMpesa () {
      this.confirm = true
      var data = {
        reference_number: this.$route.params.member_id,
        phone_number: this.phone_number
      }
      this.$store.dispatch('member_request_mpesa', data)
    }
  }
}
</script>

<style scoped>
  li {
    text-decoration: none;
    list-style: none;
  }
</style>
