<template>
  <v-container style="">
    <front-navigation></front-navigation>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex md4>
          <side-bar></side-bar>
        </v-flex>
        <v-flex md7 ml-5>
          <v-layout row wrap>
            <v-flex md12>
              <v-card>
                <v-container fluid>
                  <v-layout row wrap>
                    <v-flex md5 ml-5>
                      <v-container row wrap>
                        <div class="form-group">
                          <label class="label">Mpesa</label>
                          <input v-model="payment_mode" v-if="paymentKESPrice < 70000" type="radio" value="Mpesa" class="form-control">
                        </div>
                      </v-container>
                      <v-container row wrap>
                        <v-layout row wrap>
                          <v-flex md2 lg2>
                            <img src="/static/Public/payments/mpesa.png" width="100%" alt="">
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                    <v-flex md5>
                      <v-container row wrap>
                        <div class="form-group">
                          <label class="label" >Card Payment</label>
                          <input v-model="payment_mode" type="radio" value="Card" class="form-control">
                        </div>
                      </v-container>
                      <v-container row wrap>
                        <v-layout row wrap>
                          <v-flex md2 lg2>
                            <img src="/static/Public/payments/Mastercard.jpg" width="130%" alt="">
                          </v-flex>
                          <v-flex md2 lg2>
                            <img src="/static/Public/payments/visa.png" width="130%" alt="">

                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                  </v-layout>
                  <br>
                  <em>Kindly note that payments above KES 70,000 will not have the mpesa option.</em>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>
          <br>
          <v-layout row v-if="payment_mode === 'Card'">
            <v-flex lg12 md12 xs12 sm12>
              <v-card>
                <v-container fluid>
                  <form id="myform" name="myform" METHOD="POST" ACTION="https://portal.host.iveri.com/Lite/Authorise.aspx">
                    <!-- Mandatory form variables  -->
                    <input id="Lite_Merchant_Applicationid" name="Lite_Merchant_Applicationid" type="hidden" :value="live_id" readonly="true">
                    <input id="Lite_Order_Amount" name="Lite_Order_Amount" type="hidden" :value="bookingPaymentUSDPrice" readonly="true">
                    <input type="hidden" name="Lite_Website_Successful_url" :value="iveri_url + ':8001/booking-payment'" /> <!-- NEED TO BE CHANGED -->
                    <input type="hidden" name="Lite_Website_Fail_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                    <input type="hidden" name="Lite_Website_TryLater_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                    <input type="hidden" name="Lite_Website_Error_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                    <input id="Lite_Currency_AlphaCode" name="Lite_Currency_AlphaCode" type="hidden" :value="currency" readonly="true">
                    <input id="Lite_Order_LineItems_Product_1" name="Lite_Order_LineItems_Product_1" type="hidden" value="Booking Total" readonly="true">
                    <input id="Lite_Order_LineItems_Quantity_1" name="Lite_Order_LineItems_Quantity_1" type="hidden" value="1" readonly="true">
                    <input id="Lite_Order_LineItems_Amount_1" name="Lite_Order_LineItems_Amount_1" type="hidden" :value="bookingPaymentUSDPrice" readonly="true">
                    <input id="Lite_ConsumerOrderID_PreFix" name="Lite_ConsumerOrderID_PreFix" type="hidden" value="DML" readonly="true">
                    <input id="Ecom_BillTo_Online_Email" name="Ecom_BillTo_Online_Email" type="hidden" :value="singleBooking.booking_details.email_address">
                    <input id="Ecom_Payment_Card_Protocols" name="Ecom_Payment_Card_Protocols" type="hidden" value="iVeri" readonly="true">
                    <input id="BookingId" name="BookingId" type="hidden" :value="singleBooking.booking_public_id">
                    <input id="Ecom_TransactionComplete" name="Ecom_TransactionComplete" type="hidden" value="" readonly="true">
                    <!-- End-->
                    <font color="red"><p class="warningtext" id="warning" name="warning" >&nbsp;</p></font>
                    <li>
                      <v-text-field
                        id="txtEmail"
                        name="txtEmail"
                        v-model="singleBooking.booking_details.email_address"
                        :rules="requiredRules"
                        label="Email"
                        required
                      ></v-text-field>
                      <!--<input type="text" autocomplete="off" id="txtEmail" name="txtEmail" class="form-control" :value="singleBooking.booking_details.email_address" placeholder="Email"><a href="#" class=" icon user" tabindex="-1" ></a>-->
                    </li>
                    <li>
                      <input type="text" id="Amount" hidden="hidden" name="Amount" class="text" :value="bookingPaymentUSDPrice"><a href="#" class=" icon user" tabindex="-1"></a>
                    </li>

                    <br>
                    <div class="submit">
                      <div class="row">
                        <div class="col-md-4">
                          <!--<my-captcha :callSuccess="captchaOk" color="green"></my-captcha>-->
                        </div>
                        <div class="col-md-8">
                          <v-btn :depressed="true" type="submit" id="btnsubmit" class="btn primary btn-block" name="btnsubmit" color="primary">Proceed to Card Payment</v-btn>
                          <!--<input  type="submit" id="btnsubmit" class="btn primary btn-block" name="btnsubmit"  value="Proceed to Card Payment" >-->
                        </div>
                      </div>
                      <br>
                      <br>
                      <h3>Please re-confirm your email address to proceed with payment</h3>
                      <div class="clear">  </div>
                    </div>

                  </form>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>
          <v-layout row wrap v-if="payment_mode === 'Mpesa'" style="margin-top: 2%">
            <v-flex lg12 md12 xs12 sm12>
              <v-card>
                <v-container fluid>
                  <v-layout row wrap>
                    <v-flex lg12 md12 sm12 xs12>
                      <v-text-field
                        v-model="mpesa.phone_number"
                        :rules="requiredRules"
                        label="Payer's Safaricom number"
                        required
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg6 md6 sm12 xs12>
                      <v-container>
                        <v-btn :depressed="true" color="primary" block @click="requestPayment()">Request Payment</v-btn>
                      </v-container>
                    </v-flex>
                    <v-flex lg6 md6 sm12 xs12 v-if="payment_requested === true">
                      <v-container>
                        <v-btn :depressed="true" color="warning" block @click="checkPayment()" :loading="$loadingTrue">Confirm Payment</v-btn>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
    {{redirectIfPaid}}
    {{currencyChangeBasedOnPaymentType}}
  </v-container>
</template>

<script>
import FrontNavigation from '../Repeated/FrontNavigation'
import SideBar from '../Repeated/SideBar'
import myCaptcha from 'vue-captcha'
export default {
  components: {
    'my-captcha': myCaptcha,
    SideBar,
    FrontNavigation},
  name: 'payment-information',
  data () {
    return {
      currency: '',
      payment_requested: false,
      card_button: false,
      mpesa: {
        phone_number: '254'
      },
      payment_mode: ''
    }
  },
  methods: {
    checkPayment () {
      this.$store.dispatch('loading_true')
      this.$store.dispatch('get_booking', this.$route.params.booking_id)
      this.payment_mode = 'Mpesa'
    },
    captchaOk () {
      this.card_button = true
    },
    requestPayment: function () {
      this.payment_requested = true
      var data = {
        phone: this.mpesa.phone_number,
        // amount: this.singleBooking.total_cost
        booking_id: this.$route.params.booking_id,
        session_id: 'guest'
      }
      this.$store.dispatch('booking_mpesa_request', data)
    },
    changeCurrency (currency) {
      this.currency = currency
    }
  },
  computed: {
    currencyChangeBasedOnPaymentType () {
      if (this.payment_mode === 'Mpesa') {
        var kes = {
          'created_at': null,
          'currency_description': 'The Kenyan Shilling.',
          'currency_name': 'KES',
          'currency_public_id': '162fface-f5f1-41de-913b-d2bb784dda3a',
          'currency_sign': 'KES',
          'session_id': 'Admin',
          'updated_at': null
        }
        console.log(this.payment_mode)
        this.currencyChange(kes)
      } else {
        var singleBooking = this.singleBooking
        var currencyChange = this.currencyChange
        this.allCurrencies.map(function (currency) {
          if (singleBooking.currency !== undefined) {
            if (currency.currency_name === singleBooking.currency) {
              currencyChange(currency)
            }
          }
        })
      }
      return null
    },
    redirectIfPaid: function () {
      if (this.singleBooking.booking_payment_status === 'Paid') {
        window.location.replace('/success/booking/' + this.$route.params.booking_id)
      }
      return null
    },
    paymentKESPrice: function () {
      if (this.singleBooking.currency !== undefined) {
        this.currencyChange(this.singleBooking.currency)
        var total = 0
        total = this.convert2(this.singleBooking.currency, 'KES', this.singleBooking.total_cost).amount
        return total
      }
    },
    bookingPaymentUSDPrice: function () {
      if (this.singleBooking.currency !== undefined) {
        if (this.singleBooking.currency === 'KES') {
          this.changeCurrency('KES')
          return this.paymentKESPrice * 100
        } else {
          this.changeCurrency('USD')
          var total = 0
          total = Number(this.convert2(this.singleBooking.currency, 'USD', this.singleBooking.total_cost).amount) * 100
          return total
        }
      }
    }
  },
  created () {
    this.$store.dispatch('get_booking', this.$route.params.booking_id)
  }
}
</script>

<style scoped>
  li {
    text-decoration: none;
    list-style: none;
  }
</style>
