<template>
<v-container fluid style="margin-top: 2%">
  <v-layout wrap row>
    <v-flex lg6 md6>
     <v-container fluid>
       <img :src="singleProgram.image" alt="" width="100%" class="img-rounded">
       <br>
       <br>
       <h3 class="text-center earth-color" style="text-decoration: underline ">{{singleProgram.name}}</h3>
     </v-container>
    </v-flex>
    <v-flex lg6 md6>
      <v-container fluid>
        <div class="row">
          <div class="col-md-4" v-for="(image, key) in singleProgram.images" :key="key">
            <img :src="image.image" alt="" width="100%" class="img-rounded">
          </div>
        </div>
      </v-container>
    </v-flex>
  </v-layout>
  <v-layout row wrap>
    <v-flex lg5 md5 sm12 xs12 v-if="singleProgram.program_pdf !== null">
     <v-container fluid>
       <v-card>
         <v-container fluid >
           <v-layout row wrap hidden-md-and-down>
             <v-flex lg5 md5 sm12 xs12>
               <v-btn :depressed="true" color="warning" small @click="page = page +=- 1" block v-if="currentPage >= 2">Back</v-btn>
             </v-flex>
             <v-flex lg2 md2 sm12 xs12>
               <v-chip class="text-md-center text-lg-center text-sm-center">{{currentPage}} / {{pageCount}}</v-chip>
             </v-flex>
             <v-flex lg5 md5 sm12 xs12>
               <v-btn :depressed="true" color="primary" small @click="page = page + 1" block v-if="currentPage < pageCount">Next</v-btn>
             </v-flex>
             <v-btn :depressed="true" :href="singleProgram.program_pdf" target="_blank" color="secondary" small class="blink"><v-icon>save_alt</v-icon></v-btn>
           </v-layout>
           <pdf
             :src="pdf_data"
             @num-pages="pageCount = $event"
             @page-loaded="currentPage = $event"
             :page="page"
           ></pdf>
           <v-layout row wrap>
             <v-flex lg5 md5 sm12 xs12>
               <v-btn :depressed="true" color="warning" small @click="page = page +=- 1" block v-if="currentPage >= 2">Back</v-btn>
             </v-flex>
             <v-flex lg2 md2 sm12 xs12>
               <v-chip class="text-center">{{currentPage}} / {{pageCount}}</v-chip>
             </v-flex>
             <v-flex lg5 md5 sm12 xs12>
               <v-btn :depressed="true" color="primary" small @click="page = page + 1" block v-if="currentPage < pageCount">Next</v-btn>
             </v-flex>
             <v-btn :depressed="true" :href="singleProgram.program_pdf" target="_blank" color="secondary" small class="blink"><v-icon>save_alt</v-icon></v-btn>
           </v-layout>
           <br>
         </v-container>
       </v-card>
     </v-container>
    </v-flex>
    <v-flex lg6 md6 sm12 xs12 v-else>
     <v-container fluid>
       <v-card>
         <v-container>
           <span v-html="singleProgram.desc"></span>
         </v-container>
       </v-card>
     </v-container>
    </v-flex>
    <v-flex lg6 md6 sm12 xs12>
      <v-container fluid>
        <v-card>
          <br>
          <h3 class="text-md-center text-lg-center text-sm-center earth-color" >APPLY FOR PROGRAM</h3>
        <v-container fluid>
          <v-form  @submit.prevent="volunteerNow()" ref="form" v-model="valid" lazy-validation>
            <v-layout row wrap>
              <v-flex lg2 md2 sm12 xs12>
                <v-container>
                  <v-select
                    label="Title"
                    v-model="program.title"
                    :items="['Mr.', 'Mrs.', 'Ms.', 'Eng.', 'Prof.']"
                    :rules="[v => !!v || 'Title is required']"
                    required
                    autocomplete
                    :loading="$loadingTrue"
                  ></v-select>
                </v-container>
              </v-flex>
              <v-flex lg5 md5 sm12 xs12>
               <v-container>
                 <v-text-field
                   v-model="program.first_name"
                   :rules="requiredRules"
                   label="First Name"
                   required
                 ></v-text-field>
               </v-container>
              </v-flex>
              <v-flex lg5 md5 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="program.sur_name"
                    :rules="requiredRules"
                    label="Last Name"
                    required
                  ></v-text-field>
                </v-container>
              </v-flex>
            <v-flex lg6 md6 sm12 xs12><v-container>
                <v-text-field
                  v-model="program.email"
                  :rules="requiredRules"
                  label="Email"
                  required
                  type="email"
                ></v-text-field>
            </v-container></v-flex>
            <v-flex lg6 md6 sm12 xs12><v-container>
               <v-text-field
                 v-model="program.tel"
                 :rules="requiredRules"
                 label="Phone Number (e.g. +XXX...)"
                 required
                 minlength="13"
                 type="number"
               ></v-text-field>
            </v-container></v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-select
                    label="Gender"
                    v-model="program.gender"
                    :items="allGender"
                    :rules="[v => !!v || 'Gender is required']"
                    item-text="name"
                    item-value="public_id"
                    required
                    autocomplete
                    :loading="$loadingTrue"
                  ></v-select>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-dialog
                    ref="dialog1"
                    persistent
                    v-model="modal1"
                    lazy
                    full-width
                    width="290px"
                    :return-value.sync="program.dob"
                  >
                    <v-text-field
                      slot="activator"
                      label="Date of Birth"
                      v-model="program.dob"
                      :rules="requiredRules"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="program.dob"
                      :max="max_date"
                      scrollable>
                      <v-spacer></v-spacer>
                      <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(program.dob)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-container>
              </v-flex>
              <v-flex lg4 md4 sm12 xs12>
               <v-container>
                 <v-select
                   label="Country"
                   v-model="program.code"
                   :items="allCountries"
                   :rules="[v => !!v || 'Country is required']"
                   required
                   item-text="name"
                   item-value="public_id"
                   autocomplete
                   :loading="$loadingTrue"
                 ></v-select>
               </v-container>
              </v-flex>
              <v-flex lg4 md4 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="program.postal_address"
                    :rules="requiredRules"
                    label="Postal Address"
                    required
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg4 md4 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="program.postal_code"
                    :rules="requiredRules"
                    label="Postal Code"
                    required
                    type="number"
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="program.id_alien_number"
                    :rules="requiredRules"
                    label="ID/Passport Number"
                    required
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="program.place_of_issue"
                    :rules="requiredRules"
                    label="ID/Passport Place of Issue"
                    required
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-dialog
                    ref="dialog2"
                    persistent
                    v-model="modal2"
                    lazy
                    full-width
                    width="290px"
                    :return-value.sync="program.date_of_issue"
                  >
                    <v-text-field
                      slot="activator"
                      label="ID/Passport Date of Issue"
                      v-model="program.date_of_issue"
                      :rules="requiredRules"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="program.date_of_issue"
                      scrollable>
                      <v-spacer></v-spacer>
                      <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn :depressed="true" flat color="primary" @click="$refs.dialog2.save(program.date_of_issue)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-dialog
                    ref="dialog3"
                    persistent
                    v-model="modal3"
                    lazy
                    full-width
                    width="290px"
                    :return-value.sync="program.expiry_date"
                  >
                    <v-text-field
                      slot="activator"
                      label="ID/Passport Expiry Date"
                      v-model="program.expiry_date"
                      :rules="requiredRules"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="program.expiry_date"
                      scrollable>
                      <v-spacer></v-spacer>
                      <v-btn :depressed="true" flat color="primary" @click="modal3 = false">Cancel</v-btn>
                      <v-btn :depressed="true" flat color="primary" @click="$refs.dialog3.save(program.expiry_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-container>
              </v-flex>
              <v-flex lg12 md12 sm12 xs12>
                <v-container>
                  <v-text-field
                    v-model="program.dietary"
                    :rules="requiredRules"
                    label="Dietary specifics"
                    required
                    multi-line
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-container>
                <v-btn :depressed="true" color="primary" type="submit">Apply for Program</v-btn>
              </v-container>
            </v-layout>
          </v-form>
        </v-container>
      </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import pdf from 'vue-pdf'
export default {
  name: 'program',
  components: {
    Datepicker,
    pdf
  },
  data () {
    return {
      max_date: this.$moment().subtract(13, 'years').format('YYYY-MM-DD'),
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      valid: true,
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      menu3: false,
      modal3: false,
      currentPage: 0,
      pageCount: 0,
      page: 1,
      numPages: undefined,
      program: {
        program_id: this.$route.params.program_id,
        first_name: '',
        sur_name: '',
        email: '',
        tel: '',
        dob: '',
        code: '',
        id_alien_number: '',
        postal_address: '',
        postal_code: '',
        title: '',
        gender: '',
        place_of_issue: '',
        date_of_issue: '',
        expiry_date: '',
        dietary: ''
      },
      index: null
    }
  },
  mounted () {
    this.pdf_data.then(pdf => {
      this.numPages = pdf.numPages
    })
  },
  computed: {
    pdf_data () {
      return pdf.createLoadingTask(this.singleProgram.program_pdf)
    },
    disabled_settings: function () {
      return {
        from: new Date(this.$moment().subtract(13, 'years').format('YYYY, MM, DD'))
      }
    },
    allImages: function () {
      var imgObjects = this.singleProgram.images
      var images = []
      for (var i = 0; i < imgObjects.length; i++) {
        images.push({'src': imgObjects[i].image, 'thumb': imgObjects[i].image})
      }
      return images
    }
  },
  created () {
    // context.commit('GET_PROGRAM', {[]})
    this.$store.dispatch('get_program', this.$route.params.program_id)
    this.$store.dispatch('get_all_genders')
    this.$store.dispatch('get_all_countries')
  },
  methods: {
    formatDob: function () {
      this.program.dob = this.$moment(this.program.dob).format('YYYY-MM-DD')
    },
    volunteerNow: function () {
      // this.program.code = this.program.code.public_id
      if (this.$refs.form.validate()) {
        this.program.dob = this.$moment(this.program.dob).format('YYYY-MM-DD')
        this.$store.dispatch('post_volunteer', this.program)
      }
    },
    showImages: function () {
      this.x = true
      console.log(this.x)
    }
  }
}
</script>

<style scoped>
  @-webkit-keyframes blink {
    from {
      opacity: 1.0;
    }
    to {
      opacity: 0.0;
    }
  }
  .blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 2s;
  }
</style>
