<template>
  <v-container>
    <v-layout row wrap>
      <v-flex lg6 md6 sm12 xs12>
        <img :src="singleVolunteer.unpaid.image" alt="" width="100%" class="img-rounded">
        <br>
        <br>
        <h3 class="text-lg-center text-md-center text-sm-center earth-color" style="text-decoration: underline ">{{singleVolunteer.unpaid.program}}</h3>
      </v-flex>
      <v-flex lg6 md6 sm12 xs12>
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12 v-for="(image, key) in singleVolunteer.unpaid.images" :key="key">
            <img :src="image.image" alt="" width="100%" class="img-rounded">
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex lg6 sm6 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-container>
                <span v-html="singleVolunteer.unpaid.description"></span>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg6 sm6 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-container>
              <div class="">
                <br>
                <h2 class="text-lg-center text-md-center text-sm-center earth-color">Volunteer Program Payment</h2>
                <h4 class="text-lg-center text-md-center text-sm-center earth">{{singleVolunteer.unpaid.currency}} {{singleVolunteer.unpaid.price}}</h4>
                <div class="col-md-10 " style="margin-left: 15%; width: 70%">
                  <div class="container-fluid ">
                    <div class="col-md-12">
                      <div class="">
                        <div class="">
                          <form id="myform" name="myform" METHOD="POST" ACTION="https://portal.host.iveri.com/Lite/Authorise.aspx">
                            <!-- Mandatory form variables  -->
                            <input id="Lite_Merchant_Applicationid" name="Lite_Merchant_Applicationid" type="hidden" :value="live_id" readonly="true">
                            <input id="Lite_Order_Amount" name="Lite_Order_Amount" type="hidden" :value="amount" readonly="true">
                            <input type="hidden" name="Lite_Website_Successful_url" :value="iveri_url + ':8001/volunteer-payment'" /> <!-- NEED TO BE CHANGED -->
                            <input type="hidden" name="Lite_Website_Fail_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                            <input type="hidden" name="Lite_Website_TryLater_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                            <input type="hidden" name="Lite_Website_Error_url" value="http://forum.iveri.com/lite/result.php" /> <!-- NEED TO BE CHANGED -->
                            <input id="Lite_Currency_AlphaCode" name="Lite_Currency_AlphaCode" type="hidden" value="USD" readonly="true">
                            <input id="Lite_Order_LineItems_Product_1" name="Lite_Order_LineItems_Product_1" type="hidden" value="Booking Total" readonly="true">
                            <input id="Lite_Order_LineItems_Quantity_1" name="Lite_Order_LineItems_Quantity_1" type="hidden" value="1" readonly="true">
                            <input id="Lite_Order_LineItems_Amount_1" name="Lite_Order_LineItems_Amount_1" type="hidden" :value="amount" readonly="true">
                            <input id="Lite_ConsumerOrderID_PreFix" name="Lite_ConsumerOrderID_PreFix" type="hidden" value="DML" readonly="true">
                            <input id="Ecom_BillTo_Online_Email" name="Ecom_BillTo_Online_Email" type="hidden" :value="singleVolunteer.email">
                            <input id="Ecom_Payment_Card_Protocols" name="Ecom_Payment_Card_Protocols" type="hidden" value="iVeri" readonly="true">
                            <input id="ApplicationId" name="ApplicationId" type="hidden" :value="singleVolunteer.latest_application">
                            <input id="Ecom_TransactionComplete" name="Ecom_TransactionComplete" type="hidden" value="" readonly="true">
                            <!-- End-->
                            <font color="red"><p class="warningtext" id="warning" name="warning" >&nbsp;</p></font>
                            <li>
                              <v-text-field
                                v-model="singleVolunteer.email"
                                :rules="requiredRules"
                                label="Email"
                                required
                                name="txtEmail"
                              ></v-text-field>
                              <!--<input type="text" autocomplete="off" id="txtEmail" name="txtEmail" class="form-control" :value="singleVolunteer.email" placeholder="Email"><a href="#" class=" icon user" tabindex="-1" ></a>-->
                            </li>
                            <li>
                              <input type="text" id="Amount" hidden="hidden" name="Amount" class="text"  :value="amount"><a href="#" class=" icon user" tabindex="-1"></a>
                            </li>

                            <br>
                            <div class="submit">
                              <v-btn :depressed="true" type="submit" id="btnsubmit" block name="btnsubmit"  color="primary">Proceed to Card Payment</v-btn>
                              <!--<input type="submit" id="btnsubmit" class="btn primary btn-block" name="btnsubmit"  value="Proceed to Card Payment" >-->
                              <br>
                              <br>
                              <p>Please re-confirm your email address to proceed with Volunteer Program payment.</p>
                              <div class="clear">  </div>
                            </div>

                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'program-payment',
  data () {
    return {
      publicId: this.$route.params.program_id
    }
  },
  created () {
    this.$store.dispatch('get_volunteer', this.$route.params.program_id)
  },
  methods: {
    checkIfPaid () {
      if (this.singleVolunteer.payment_status === 'Paid') {
        this.$router.push({
          name: 'SuccessVolunteer'
        })
      }
    }
  },
  computed: {
    amount () {
      if (this.singleVolunteer.hasOwnProperty('payment_status')) {
        this.checkIfPaid()
        return this.convert2(this.singleVolunteer.unpaid.currency, 'USD', this.singleVolunteer.unpaid.price).raw_amount
      }
    }
  }
}
</script>

<style scoped>
  li {
    text-decoration: none;
    list-style: none;
  }
</style>
