<template>
 <div class="">
   <v-layout row wrap>
     <v-flex lg1 md1 sm6 xs12>
        <v-container>
          <v-btn small @click="back()" :depressed="true" block color="secondary">Back</v-btn>
        </v-container>
     </v-flex>
     <v-flex lg2 md2 sm6 xs12>
       <v-container>
         <v-btn @click="resetData()" color="error" :depressed="true" block small flat>I want to Start Over</v-btn>
       </v-container>
     </v-flex>
   </v-layout>
   <v-layout row wrap>
     <v-flex lg4 hidden-md-and-below>
       <membership-cart style="margin-top: 20%"></membership-cart>
     </v-flex>
     <v-flex lg8 md12>
       <v-container fluid>
         <h1 class="text-md-center earth-color">Become a Member</h1>
         <br>
         <h3 class="text-md-center">Members required to show proof of ID when visiting the Conservancy.</h3>
         <br>
         <v-form @submit.prevent="postMember()" ref="form" v-model="valid" lazy-validation>
           <v-card flat>
             <v-container fluid>
               <v-layout row wrap>
                 <v-flex lg4 md4 sm12 xs12>
                   <v-container>
                     <v-select
                       label="Membership Type *"
                       v-model="residence"
                       @change="getResidence"
                       :items="allMemberSettings"
                       item-text="custom_name"
                       item-value="type"
                       required
                       :loading="$loadingTrue"
                     ></v-select>
                   </v-container>
                 </v-flex>
                 <v-flex lg4 md4 sm12 xs12>
                   <v-container>
                     <v-select
                       label="Residency *"
                       v-model="member.residence"
                       @change="getResidence"
                       :items="selectedResidence"
                       item-text="name[0]"
                       item-value="public_id"
                       required
                       :loading="$loadingTrue"
                     ></v-select>
                   </v-container>
                 </v-flex>
                 <v-flex lg4 md4 sm12 xs12>
                   <v-container>
                     <v-select
                       label="Type of Household"
                       v-model="member.household_type"
                       :items="allHouseHoldTypes"
                       item-text="name"
                       item-value="public_id"
                       required
                       :loading="$loadingTrue"
                     ></v-select>
                   </v-container>
                 </v-flex>
               </v-layout>
             </v-container>
           </v-card>
           <br>
           <v-card flat>
             <v-container fluid>
               <v-layout row wrap>
                 <v-flex lg4 md4 sm12 xs12><v-container>
                   <v-select
                     label="Title"
                     v-model="member.title"
                     :items="['Mr.', 'Mrs.', 'Ms.', 'Dr.', 'Eng.', 'Prof.']"
                     :rules="[v => !!v || 'Title method is required']"
                     required
                     :loading="$loadingTrue"
                   ></v-select>
                 </v-container></v-flex>
                 <v-flex lg4 md4  sm12 xs12><v-container>
                   <v-text-field
                     v-model="member.first_name"
                     :rules="requiredRules"
                     label="First Name"
                     required
                   ></v-text-field>
                 </v-container></v-flex>
                 <v-flex lg4 md4  sm12 xs12><v-container>
                   <v-text-field
                     v-model="member.sur_name"
                     :rules="requiredRules"
                     label="Last Name"
                     required
                   ></v-text-field>
                 </v-container></v-flex>
                 <v-flex lg4 md4  sm12 xs12><v-container>
                   <v-select
                     label="Gender"
                     v-model="member.gender_id"
                     :items="allGender"
                     :rules="[v => !!v || 'Gender is required']"
                     item-text="name"
                     item-value="public_id"
                     required
                     :loading="$loadingTrue"
                   ></v-select>
                 </v-container></v-flex>
                 <v-flex lg4 md4 sm12 xs12><v-container>
                   <v-dialog
                     ref="dialog"
                     persistent
                     v-model="modal1"
                     lazy
                     full-width
                     width="290px"
                     :return-value.sync="member.dob"
                   >
                     <v-text-field
                       slot="activator"
                       label="Date of Birth"
                       v-model="member.dob"
                       :rules="requiredRules"
                       readonly
                     ></v-text-field>
                     <v-date-picker
                       v-model="member.dob"
                       :max="start_date"
                       scrollable>
                       <v-spacer></v-spacer>
                       <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                       <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(member.dob)">OK</v-btn>
                     </v-date-picker>
                   </v-dialog>
                 </v-container></v-flex>
                 <v-flex lg4 md4  sm12 xs12><v-container>
                   <v-text-field
                     v-model="member.id_alien_number"
                     :rules="requiredRules"
                     label="ID Number/Alien ID (Required for every visit)"
                     required
                   ></v-text-field>
                 </v-container></v-flex>
                 <v-flex lg4 md4  sm12 xs12><v-container>
                   <v-text-field
                     v-model="member.postal_address"
                     :rules="requiredRules"
                     label="Postal Address"
                     required
                   ></v-text-field>
                 </v-container></v-flex>
                 <v-flex lg4 md4  sm12 xs12><v-container>
                   <v-text-field
                     v-model="member.postal_code"
                     :rules="requiredRules"
                     label="Postal Code"
                     required
                   ></v-text-field>
                 </v-container></v-flex>
                 <v-flex lg4 md4  sm12 xs12><v-container>
                   <v-text-field
                     v-model="member.email"
                     :rules="requiredRules"
                     label="Email"
                     required
                     type="email"
                   ></v-text-field>
                 </v-container></v-flex>
                 <v-flex lg4 md4 sm12 xs12><v-container>
                   <v-text-field
                     v-model="member.tel_number"
                     :rules="requiredRules"
                     label="Phone Number (e.g. +XXX...)"
                     required
                     minlength="13"
                     type="number"
                   ></v-text-field>
                 </v-container></v-flex>
                 <!--<v-flex lg5 md5 sm12 xs12>-->
                 <!--<v-container>-->
                 <!--<v-text-field-->
                 <!--v-model="program.first_name"-->
                 <!--:rules="requiredRules"-->
                 <!--label="First Name"-->
                 <!--required-->
                 <!--&gt;</v-text-field>-->
                 <!--</v-container>-->
                 <!--</v-flex>-->
               </v-layout>
               <div class="" v-if="membershipRegistrationTotal > 1">
                 <add-beneficiary :residence="residence" :email="member.email"></add-beneficiary>
               </div>
               <br>
               <v-btn :depressed="true" color="primary" type="submit">Complete Registration</v-btn>
               {{updateResidencyAndHousehold}}
             </v-container>
           </v-card>
         </v-form>
       </v-container>
     </v-flex>
   </v-layout>
 </div>
</template>

<script>
import FrontNavigation from '../Repeated/FrontNavigation'
import MembershipCart from '../Repeated/MembershipCart'
import Datepicker from 'vuejs-datepicker'
import FlatPickr from 'vue-flatpickr-component/src/component'
import AddBeneficiary from '../Repeated/AddBeneficiary'
export default {
  name: 'register-member',
  data () {
    return {
      start_date: this.$moment().subtract(18, 'years').format('YYYY-MM-DD'),
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ],
      valid: true,
      menu1: false,
      modal1: false,
      dob_config: {
        maxDate: this.$moment().subtract(18, 'years').format('YYYY-MM-DD')
      },
      dob_config2: {
        maxDate: 'today'
      },
      member: {
        member_setting: '',
        registration_type: '76f0a89',
        title: '',
        first_name: '',
        sur_name: '',
        email: '',
        tel_number: '',
        registration_date: '',
        member_id: '',
        postal_address: '',
        id_alien_number: '',
        gender_id: '',
        postal_code: '',
        dob: this.$moment().subtract(18, 'years').format('YYYY-MM-DD'),
        residence: 'berbere',
        household_type: '',
        children: '',
        promo_code: '',
        family: []
      },
      residence: {},
      existing_member: false,
      household: false
    }
  },
  components: {
    AddBeneficiary,
    FlatPickr,
    Datepicker,
    MembershipCart,
    FrontNavigation
  },
  created () {
    this.$store.dispatch('get_all_membership_settings')
    this.$store.dispatch('get_all_genders')
  },
  computed: {
    updateResidencyAndHousehold () {
      this.updateRAndH()
      return null
    },
    disabled_settings: function () {
      return {
        from: new Date(this.$moment().subtract(18, 'years').format('YYYY, MM, DD'))
      }
    }
  },
  methods: {
    getResident (setting) {
      console.log(setting)
      return ''
    },
    resetData () {
      this.$store.commit('GET_RESIDENCE_TYPES', {data: []})
      this.$store.commit('CLEAR_BENEFICIARIES')
      this.$store.commit('CLEA_LOCAL_MEMBERS')
      this.beneficiary = {
        ltitle: '',
        lfirst_name: '',
        lsur_name: '',
        lgender_id: '',
        ldob: '',
        lid_alien_number: '',
        lemail: '',
        lpostal_address: '',
        lpostal_code: '',
        lphone_number: ''
      }
      this.member = {
        member_setting: '',
        registration_type: '76f0a89',
        title: '',
        first_name: '',
        sur_name: '',
        email: '',
        tel_number: '',
        registration_date: '',
        member_id: '',
        postal_address: '',
        id_alien_number: '',
        gender_id: '',
        postal_code: '',
        dob: '',
        residence: 'berbere',
        household_type: '',
        children: '',
        promo_code: '',
        family: []
      }
      this.residence = {}
      this.existing_member = false
      this.household = false
    },
    updateRAndH () {
      if (this.selectedResidence.length > 0) {
        this.member.residence = this.selectedResidence[0].public_id
      }
      if (this.allHouseHoldTypes.length > 0) {
        this.member.household_type = this.allHouseHoldTypes[0].public_id
      }
    },
    formatDob: function () {
      this.program.dob = this.$moment(this.member.dob).format('YYYY-MM-DD')
    },
    getResidence: function (data) {
      this.residence = data
      this.member.member_setting = this.residence.public_id
      this.$store.commit('GET_LOCAL_MEMBERS', this.residence)
      this.$store.dispatch('get_residence_types', this.residence.public_id)
      this.$store.dispatch('get_setting_household', this.residence.public_id)
    },
    getHousehold: function () {
      var household = this.member.household_type
      if (household === 'jnjker') {
        this.household = false
      } else {
        this.household = true
      }
    },
    getmembership: function () {
      if (this.member.registration_type === '5d73c26') {
        this.existing_member = true
      } else {
        this.existing_member = false
      }
    },
    postMember: function () {
      if (this.member.dob === '') {
        alert('Date of birth cannot be null')
      } else {
        this.member.dob = this.$moment(this.member.dob).format('YYYY-MM-DD')
        this.member.family = this.$store.state.MemberStore.beneficiaries
        this.$store.dispatch('post_public_member', this.member)
      }
    }
  }
}
</script>

<style scoped>
  .spacing {
    margin-left: 6%;
  }
</style>
