<template>
    <programs></programs>
</template>

<script>
import Programs from '../Repeated/Programs'

export default {
  components: {Programs},
  name: 'volunteer-program',
  data () {
    return {}
  }
}
</script>

<style scoped>

</style>
