<template>
  <v-container fluid>
    <v-tabs
      v-if="lmenu.user_type_id !== '35fcfdaf'"
      v-model="active"
      slider-color="primary"
    >
      <v-tab key="tab-1" ripple>Calendar</v-tab>
      <v-tab key="tab-2" ripple>Pending Partner Bookings</v-tab>
      <v-tab key="tab-3" ripple>Pending Group Bookings</v-tab>
      <!--<v-tab key="tab-4" ripple>Approved Bookings</v-tab>-->
      <v-tab key="tab-5" ripple>Checking In Today</v-tab>
      <v-tab key="tab-6" ripple>Checking Out Today</v-tab>
      <v-tab-item key="tab-1">
        <v-card flat>
          <calendar style="margin-top: 2%"></calendar>
        </v-card>
      </v-tab-item>
      <v-tab-item key="tab-2">
        <v-card flat>
          <pending-partner-bookings style="width: 100%"></pending-partner-bookings>
        </v-card>
      </v-tab-item>
      <v-tab-item key="tab-3">
        <pending-school-booking></pending-school-booking>
      </v-tab-item>
      <!--<v-tab-item key="tab-4">-->
       <!--<approved-bookings></approved-bookings>-->
      <!--</v-tab-item>-->
      <v-tab-item key="tab-5">
        <v-card flat>
          <check-in-today></check-in-today>
        </v-card>
      </v-tab-item>
      <v-tab-item key="tab-6">
        <v-card flat>
          <check-out-today></check-out-today>
        </v-card>
      </v-tab-item>
    </v-tabs>
    <v-tabs
      v-if="lmenu.user_type_id === '35fcfdaf'"
      v-model="active"
      slider-color="primary"
    >
      <v-tab key="tab-5" ripple>Checking In Today</v-tab>
      <v-tab key="tab-6" ripple>Checking Out Today</v-tab>
      <v-tab-item key="tab-5">
        <v-card flat>
          <partner-check-in-today/>
        </v-card>
      </v-tab-item>
      <v-tab-item key="tab-6">
        <v-card flat>
          <partner-check-out-today/>
        </v-card>
      </v-tab-item>
    </v-tabs>
    <v-card  v-if="lmenu.user_type === 'Partners'">
      <v-card-title>
        Bookings
        <v-spacer></v-spacer>
        <v-text-field
          append-icon="search"
          label="Search"
          single-line
          hide-details
          v-model="search"
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="columns"
        :items="partnerBookings"
        :search="search"
        :loading="$loadingTrue"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.booking_ref_code}}</td>
          <td>{{ props.item.booking_done_by}}</td>
          <td>{{ props.item.booking_type}}</td>
          <td>{{ formated_date(props.item.booking_check_in_date)}}</td>
          <td>{{ formated_date(props.item.booking_check_out_date)}}</td>
          <td>{{ props.item.guest_total}}</td>
          <td>{{ props.item.booking_status}}</td>
          <td>
            <v-btn :depressed="true" small @click="openBooking(props.item.booking_public_id)">View Booking</v-btn>
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
import Calendar from './Calendar.vue'
import CheckInToday from './Bookings/CheckInToday'
import CheckOutToday from './Bookings/CheckOutToday'
import PendingPartnerBookings from './Bookings/PendingPartnerBookings'
import PendingSchoolBooking from './Bookings/PendingSchoolBooking'
import ApprovedBookings from './Bookings/ApprovedBookings'
import PartnerCheckInToday from './Bookings/PartnerCheckInToday'
import PartnerCheckOutToday from './Bookings/PartnerCheckOutToday'
export default {
  components: {
    PartnerCheckOutToday,
    PartnerCheckInToday,
    ApprovedBookings,
    PendingSchoolBooking,
    PendingPartnerBookings,
    CheckOutToday,
    CheckInToday,
    Calendar},
  data () {
    return {
      active: '',
      user_type: localStorage.getItem('mnbvcxz'),
      lmenu: JSON.parse(localStorage.getItem('unem'))
    }
  },
  methods: {
    openBooking: function (publicId) {
      this.$router.push({
        name: 'Booking',
        params: {
          booking_id: publicId
        }
      })
    }
  },
  created () {
    if (this.lmenu.user_type_id === '35fcfdaf') {
      this.$store.dispatch('get_partner_checkin_today_bookings', this.lmenu.instiution_id)
      this.$store.dispatch('get_partner_checkout_today_bookings', this.lmenu.instiution_id)
    } else {
      // this.$store.dispatch('get_current_catering_levy')
      // this.$store.dispatch('get_current_vat')
      this.$store.dispatch('get_pending_group_bookings')
    }
  }
}
</script>

<style>

</style>
