<template>
  <div class="row">
    <v-tabs
      fixed-tabs
      v-model="active"
      slider-color="primary"
    >
      <v-tab key="types" ripple>Accommodation and Camping Types</v-tab>
      <v-tab key="groups" ripple>Special Pricing Groups</v-tab>
      <v-tab-item key="types">
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Add Accommodation and Camping Type</v-card-title>
                <v-container>
                  <v-form  @submit.prevent="postFacilityType()">
                    <v-text-field
                      label="Name"
                      v-model="types.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Description"
                      v-model="types.description"
                      :rules="requiredRules"
                      required
                      multi-line
                    ></v-text-field>
                    <v-btn :depressed="true" color="info" v-if="update === false" type="submit">Add Type</v-btn>
                    <v-btn :depressed="true" color="warning"  v-if="update === true" type="submit">Update Type</v-btn>
                  </v-form>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Accommodation and Camping Types</v-card-title>
                <v-container>
                  <table cellpadding="1" cellspacing="1" class="table">
                    <thead>
                    <tr>
                      <td>#</td>
                      <td>Name</td>
                      <td>Description</td>
                      <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(type, index) in allFacilityTypes" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{type.name}}</td>
                      <td>{{type.description}}</td>
                      <td>
                        <v-btn :depressed="true" small color="error" @click="deleteFacilityType(type.public_id)">Disable</v-btn>
                        <v-btn :depressed="true" small color="info" v-if="update === false" @click="editFacilityType(type)">Amend</v-btn>
                        <v-btn :depressed="true" small color="warning" v-if="update === true" @click="cancelEditFacilityType(index)">Cancel Current Amend</v-btn>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
      </v-tab-item>
      <v-tab-item key="groups">
        <special-pricing-groups></special-pricing-groups>
      </v-tab-item>
      <v-tab-item key="currency">
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Add Currency</v-card-title>
                <v-container>
                  <v-form  @submit.prevent="postCurrency()">
                    <v-text-field
                      label="Name"
                      v-model="currency.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Description"
                      v-model="currency.description"
                      :rules="requiredRules"
                      required
                      multi-line
                    ></v-text-field>
                    <v-btn :depressed="true" color="info" v-if="update2 === false" type="submit">Add Currency</v-btn>
                    <v-btn :depressed="true" color="warning" v-if="update2 === true" type="submit">Update Currency</v-btn>
                  </v-form>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Currencies</v-card-title>
                <v-container>
                  <table cellpadding="1" cellspacing="1" class="table">
                    <thead>
                    <tr>
                      <td>#</td>
                      <td>Name</td>
                      <td>Description</td>
                      <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(currency, index) in allFacilityCurrency" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{currency.name}}</td>
                      <td>{{currency.description}}</td>
                      <td>
                        <v-btn :depressed="true" small color="warning" @click="deleteCurrency(currency.public_id)">Disable</v-btn>
                        <v-btn :depressed="true" small color="info" v-if="update2 === false" @click="editCurrency(index)">Amend</v-btn>
                        <v-btn :depressed="true" small color="error" v-if="update2 === true" @click="cancelEditCurrency(index)">Cancel Current Amend</v-btn>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
      </v-tab-item>
    </v-tabs>

  </div>
</template>

<script>
import SpecialPricingGroups from './SpecialPricingGroups'
export default {
  components: {SpecialPricingGroups},
  data () {
    return {
      active: '',
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      update: false,
      update2: false,
      types: {
        name: '',
        description: '',
        public_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      currency: {
        name: '',
        description: '',
        public_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_facility_types')
  },
  methods: {
    deleteFacilityType: function (publicId) {
      var data = {
        public_id: publicId,
        deleted_by: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_facility_type', data)
    },
    postFacilityType: function () {
      if (this.update === false) {
        this.$store.dispatch('post_facility_type', this.types)
      } else {
        console.log(this.types)
        this.$store.dispatch('update_facility_type', this.types)
      }
      // this.types.name = ''
      // this.types.description = ''
      // this.types.public_id = ''
      // this.update = false
    },
    editFacilityType: function (type) {
      this.update = true
      this.types.name = type.name
      this.types.description = type.description
      this.types.public_id = type.public_id
    },
    cancelEditFacilityType: function () {
      this.update = false
      this.types.name = ''
      this.types.description = ''
      this.types.public_id = ''
    },
    // Currency
    deleteCurrency: function (publicId) {
      this.$store.dispatch('delete_facility_currency', publicId)
    },
    postCurrency: function () {
      if (this.update2 === false) {
        this.$store.dispatch('post_facility_currency', this.currency)
        this.currency.name = ''
        this.currency.description = ''
      } else {
        this.$store.dispatch('update_facility_currency', this.currency)
        this.currency.name = ''
        this.currency.description = ''
        this.currency.public_id = ''
        this.update2 = false
      }
    },
    editCurrency: function (index) {
      this.update2 = true
      var currency = this.allFacilityCurrency[index]
      this.currency.name = currency.name
      this.currency.description = currency.description
      this.currency.public_id = currency.public_id
    },
    cancelEditCurrency: function () {
      this.update2 = false
      this.currency.name = ''
      this.currency.description = ''
      this.currency.public_id = ''
    }
  }
}
</script>

<style>

</style>
