<template>
  <div class="hpanel">
    <div class="panel-body">
      <v-form>
        <h3>Pricing</h3>
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-dialog
                ref="dialog"
                persistent
                v-model="modal1"
                lazy
                full-width
                width="290px"
                :return-value.sync="facility.start_date"
              >
                <v-text-field
                  slot="activator"
                  label="Start Date"
                  v-model="facility.start_date"
                  readonly
                ></v-text-field>
                <v-date-picker
                  v-model="facility.start_date"
                  scrollable
                  :min="today"
                >
                  <v-spacer></v-spacer>
                  <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                  <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(facility.start_date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-dialog
                ref="dialog1"
                persistent
                v-model="modal2"
                lazy
                full-width
                width="290px"
                :return-value.sync="facility.end_date"
              >
                <v-text-field
                  slot="activator"
                  label="End Date"
                  v-model="facility.end_date"
                  readonly
                ></v-text-field>
                <v-date-picker
                  v-model="facility.end_date"
                  scrollable
                  :min="facility.start_date"
                >
                  <v-spacer></v-spacer>
                  <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                  <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(facility.end_date)">OK</v-btn>
                </v-date-picker>
              </v-dialog>
            </v-container>
          </v-flex>
        </v-layout>
        <v-layout row wrap v-if="singleFacility.facility_type_id === 'Camping Sites'">
          <v-flex lg3 md3 sm12 xs12>
            <v-container fluid>
              <v-select
                label="Select Currency"
                v-model="facility.currency_type"
                :items="allCurrencyTypes"
                :rules="[v => !!v || 'Currency is required']"
                required
                item-text="currency_name"
                item-value="currency_public_id"
                autocomplete
                :loading="$loadingTrue"
              ></v-select>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                type="number"
                label="Adult Price"
                v-model="facility.adult_price"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                type="number"
                label="Child Price"
                v-model="facility.child_price"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                type="number"
                label="Mandatory Price"
                v-model="facility.mandatory_price"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
        </v-layout>
        <v-layout row wrap v-if="singleFacility.facility_type_id === 'Accomodation' && singleFacility.accomodation_type_id === 'Stables'">
          <v-flex lg6 md6 sm12 xs12>
            <v-container fluid>
              <v-select
                label="Select Currency"
                v-model="facility.currency_type"
                :items="allCurrencyTypes"
                :rules="[v => !!v || 'Currency is required']"
                required
                item-text="currency_name"
                item-value="currency_public_id"
                autocomplete
                :loading="$loadingTrue"
              ></v-select>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                type="number"
                label="Mandatory Price"
                v-model="facility.mandatory_price"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
        </v-layout>
        <v-layout row wrap v-if="singleFacility.facility_type_id === 'Accomodation' && singleFacility.accomodation_type_id === 'Pelican'">
          <v-flex lg4 md4 sm12 xs12>
            <v-container fluid>
              <v-select
                label="Select Currency"
                v-model="group.currency_type"
                :items="allCurrencyTypes"
                :rules="[v => !!v || 'Currency is required']"
                required
                item-text="currency_name"
                item-value="currency_public_id"
                autocomplete
                :loading="$loadingTrue"
              ></v-select>
            </v-container>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <v-container fluid>
              <v-select
                label="Pricing Type"
                v-model="group.pricing_type"
                :items="['Self Catered Pricing', 'Fully Catered Pricing']"
                :rules="[v => !!v || 'Pricing Type is required']"
                required
                autocomplete
              ></v-select>
            </v-container>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-text-field
                label="Child Price"
                v-model="group.child_price"
                :rules="requiredRules"
                required
                type="number"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                type="number"
                label="From (Number of Guests)"
                v-model="group.price_from"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                type="number"
                label="To (Number of Guests)"
                v-model="group.price_to"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                label="Price p/p"
                v-model="group.price"
                :rules="requiredRules"
                required
                type="number"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container fluid>
              <v-btn :depressed="true" color="default" @click.prevent="addGroup()">Add Price</v-btn>
            </v-container>
          </v-flex>
        </v-layout>
        <br>
        <table class="table table-bordered">
          <tr>
            <td>Type</td>
            <td>Lower Limit</td>
            <td>Upper Limit</td>
            <td>Amount</td>
            <td>Child Price</td>
          </tr>
          <tr v-for="(price, key) in facility.limit" :key="key">
            <td>{{price.pricing_type}}</td>
            <td>{{price.lower_limit}}</td>
            <td>{{price.upper_limit}}</td>
            <td>{{price.price}}</td>
            <td>{{price.child_price}}</td>
          </tr>
          <tr v-for="(price, key) in facility.upper_limit" :key="key">
            <td>{{price.pricing_type}}</td>
            <td>{{price.lower_limit}}</td>
            <td>{{price.upper_limit}}</td>
            <td>{{price.price}}</td>
            <td>{{price.child_price}}</td>
          </tr>
        </table>
        <v-layout row wrap>
          <v-flex lgr3 md3 sm12 xs12>
            <v-container fluid>
              <v-btn :depressed="true" color="info" @click.prevent="postPricing()">Add Price Schedule</v-btn>
            </v-container>
          </v-flex>
        </v-layout>
      </v-form>
      <div class="row" v-if="singleFacility.facility_type_id === 'Camping Sites'">
        <table cellpadding="1" cellspacing="1" class="table">
          <thead>
          <tr>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Currency</td>
            <td>Adult Price</td>
            <td>Child Price</td>
            <td>Mandatory Price</td>
            <td>Action</td>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(d, key) in facilityPricing" :key="key">
            <td>{{formated_date(d.start_date)}}</td>
            <td>{{formated_date(d.end_date)}}</td>
            <td>{{d.currency_type}}</td>
            <td>{{d.adult_price}}</td>
            <td>{{d.child_price}}</td>
            <td>{{d.mandatory_price}}</td>
            <td>
              <v-btn :depressed="true" color="error" small @click="deleteSchedule(d.public_id)">Disable</v-btn>
              <!--<v-btn :depressed="true" class="btn btn-info btn-sm" @click="disableDiscount(d)">Edit</v-btn>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row" v-if="singleFacility.facility_type_id === 'Accomodation'">
        <div class="col-md-12" v-if="singleFacility.accomodation_type_id === 'Stables'">
          <table cellpadding="1" cellspacing="1" class="table">
            <thead>
            <tr>
              <td>Start Date</td>
              <td>End Date</td>
              <td>Currency</td>
              <td>Price</td>
              <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(d, key) in facilityPricing" :key="key">
              <td>{{formated_date(d.start_date)}}</td>
              <td>{{formated_date(d.end_date)}}</td>
              <td>{{d.currency_type}}</td>
              <td>{{d.mandatory_price}}</td>
              <td>
                <v-btn :depressed="true" color="error" @click="deleteSchedule(d.public_id)">Disable</v-btn>
                <!--<v-btn :depressed="true" class="btn btn-info btn-sm" @click="disableDiscount(d)">Edit</v-btn>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12" v-if="singleFacility.accomodation_type_id === 'Pelican'">
          <table cellpadding="1" cellspacing="1" class="table">
            <thead>
            <tr>
              <td>Start Date</td>
              <td>End Date</td>
              <td>Self Catered Price</td>
              <td>Fully Catered Price</td>
              <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(d, key) in normalPricing" :key="key">
              <td>{{formated_date(d.start_date)}}</td>
              <td>{{formated_date(d.end_date)}}</td>
              <td>
                <small v-for="(limit, key) in d.altered_limit_array" :key="key">{{limit.lower_limit}} - {{limit.upper_limit}} => {{d.lower_currency[key]}} {{limit.price}} | Child - {{d.lower_currency[key]}} {{limit.child_price}}
                  <br></small>
              </td>
              <td>
                <small v-for="(limit, key) in d.altered_upper_limit_array" :key="key">{{limit.lower_limit}} - {{limit.upper_limit}} => {{d.upper_currency[key]}} {{limit.price}} | Child - {{d.upper_currency[key]}} {{limit.child_price}}
                  <br></small>
              </td>
              <td>
                <v-btn :depressed="true" small color="error" @click="deleteSchedule(d.public_id)">Disable</v-btn>
                <!--<v-btn :depressed="true" class="btn btn-info btn-sm" @click="disableDiscount(d)">Edit</v-btn>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker'
import DateVuex from '../../../mixins/Functions/DateMixins'
import CurencyVuex from '../../../mixins/Computed/Finance/CurrencyVuex'
import FacilityVuex from '../../../mixins/Computed/Facility/FacilityVuex'
export default {
  name: 'facility-pricing',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      today: this.$moment().format('YYYY-MM-DD'),
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      facility: {
        public_id: this.$route.params.facility_id,
        type: '',
        start_date: '',
        end_date: '',
        child_price: '',
        adult_price: '',
        currency_type: '',
        mandatory_price: '',
        limit: [],
        upper_limit: [],
        facility_id: this.$route.params.facility_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      group: {
        currency_type: '',
        price_from: '',
        price_to: '',
        price: '',
        pricing_type: '',
        child_price: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_facility_pricing', this.$route.params.facility_id)
    this.$store.dispatch('get_all_currency_types')
  },
  computed: {
    normalPricing () {
      var normalPricing = []
      this.facilityPricing.map(function (data) {
        if (data.group === 'None') {
          normalPricing.push(data)
        }
      })
      return normalPricing
    }
  },
  methods: {
    facilityType: function () {
      if (this.singleFacility.facility_type_id === 'Accomodation' && this.singleFacility.accomodation_type_id === 'Pelican') {
        return 'pelican'
      } else if (this.singleFacility.facility_type_id === 'Accomodation' && this.singleFacility.accomodation_type_id === 'Stables') {
        return 'stables'
      } else {
        return 'camping'
      }
    },
    addGroup: function () {
      var data = {
        currency: this.group.currency_type,
        lower_limit: this.group.price_from,
        upper_limit: this.group.price_to,
        price: this.group.price,
        child_price: this.group.child_price,
        pricing_type: this.group.pricing_type
      }
      if (this.group.pricing_type === 'Self Catered Pricing') {
        this.facility.limit.push(data)
      } else {
        this.facility.upper_limit.push(data)
      }
      this.group.currency_type = ''
      this.group.price_from = ''
      this.group.price_to = ''
      this.group.price = ''
      this.group.child_price = ''
      this.group.pricing_type = ''
    },
    putStartDate: function () {
      var date = this.facility.start_date
      date = this.$moment(date).format('YYYY-MM-DD')
      this.facility.start_date = date
    },
    putEndtDate: function () {
      var date = this.facility.end_date
      date = this.$moment(date).format('YYYY-MM-DD')
      this.facility.end_date = date
    },
    makeActive: function (publicId) {
      var data = {
        public_id: publicId,
        facility_id: this.$route.params.facility_id
      }
      this.$store.dispatch('make_facility_pricing_active', data)
    },
    deleteSchedule: function (publicId) {
      var data = {
        public_id: publicId,
        facility_id: this.$route.params.facility_id,
        deleted_by: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_facility_pricing', data)
    },
    postPricing: function () {
      this.facility.type = this.facilityType()
      this.$store.dispatch('loading_true')
      this.$store.dispatch('post_facility_pricing', this.facility)
      this.facility.start_date = ''
      this.facility.end_date = ''
      this.facility.child_price = ''
      this.facility.adult_price = ''
      this.facility.currency_type = ''
      this.facility.mandatory_price = ''
      this.facility.limit = []
    }
  },
  components: {
    Datepicker
  },
  mixins: [CurencyVuex, FacilityVuex, DateVuex]
}
</script>

<style scoped>

</style>
