<template>
  <v-card flat>
    <v-card-title>
      <span v-if="route === 'ActiveFacilities'">Active Acommodations and Camping</span>
      <span v-else>Accommodation and Camping</span>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allFacilities"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td class="fancy">{{ formated_date_time(props.item.created_at)}}</td>
        <td class="fancy">{{ props.item.code}}</td>
        <td class="fancy">{{ props.item.facility_type_id}}</td>
        <td class="fancy">{{ props.item.accomodation_type_id}}</td>
        <td class="fancy">{{ props.item.name}}</td>
        <td class="fancy">{{ props.item.maximum_guests}} </td>
        <td class="fancy">{{ getPricingStatus(props.item.pricing_status) }} </td>
        <td class="fancy">
        <span v-if="props.item.thumbnail === null">Not Set</span>
        <spann v-else>Set</spann>
        </td>
        <td class="has-text-right">
          <v-btn :depressed="true" small v-on:click="viewUser(props.item.public_id)">View Details</v-btn>
          <v-btn :depressed="true" small color="primary" v-if="route === 'ActiveFacilities'" v-on:click="makeInactive(props.item.public_id)">Make Inactive</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      route: this.$route.name,
      columns: [
        {
          text: 'Created on',
          value: 'created_at'
        },
        {
          text: 'Inventory Code',
          value: 'code'
        },
        {
          text: 'Facility Type',
          value: 'facility_type_id'
        },
        {
          text: 'Accommodation Type',
          value: 'accomodation_type_id'
        },
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Maximum Guests',
          value: 'maximum_guests'
        },
        {
          text: 'Pricing Set',
          value: 'pricing_status'
        },
        {
          text: 'Image Set'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_active_facilities')
  },
  methods: {
    getPricingStatus (status) {
      if (status === 'false') {
        return 'Not Set'
      } else {
        return 'Set'
      }
    },
    makeInactive: function (publicId) {
      var data = {
        public_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('make_facility_inactive', data)
    },
    viewUser: function (publicId) {
      this.$router.push({
        name: 'Facility',
        params: {
          facility_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
