<template>
  <div class="hpanel">
    <div class="panel-body">
      <div class="">
        <h3>Add Facility Discount</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <v-form  @submit.prevent="addDiscount()">
            <v-layout row wrap>
              <v-flex lg3 md3 sm12 xs12>
                <v-container fluid>
                  <v-select
                    label="Partner Types"
                    v-model="discount.discount_type"
                    :items="allPartnerTypes"
                    :rules="[v => !!v || 'Partner Type is required']"
                    required
                    item-text="name"
                    item-value="cd"
                    autocomplete
                    :loading="$loadingTrue"
                  ></v-select>
                </v-container>
              </v-flex>
              <v-flex lg3 md3 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="Discount (%)"
                    v-model="discount.discount"
                    :rules="requiredRules"
                    required
                    type="number"
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg3 md3 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="Special Discount (%)"
                    v-model="discount.commission"
                    :rules="requiredRules"
                    required
                    type="number"
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg3 md3 sm12 xs12>
                <v-container fluid>
                  <v-btn :depressed="true" block color="info" type="submit">Add</v-btn>
                </v-container>
              </v-flex>
            </v-layout>
          </v-form>
        </div>
        <div class="col-md-12">
          <table cellpadding="1" cellspacing="1" class="table">
            <thead>
            <tr>
              <td>Created Date</td>
              <td>Name</td>
              <td>Discount</td>
              <td>Special Discount</td>
              <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(d, key) in allFacilityDiscounts" :key="key">
              <td>{{formated_date(d.created_at)}}</td>
              <td>{{d.name}}</td>
              <td>{{d.discount}}%</td>
              <td>{{d.commission}}%</td>
              <td>
                <v-btn :depressed="true" color="error" small @click="disableDiscount(d.public_id)">Disable</v-btn>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'facility-discount',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      discount: {
        discount_type: '',
        commission: 0,
        discount: 0,
        facility_id: this.$route.params.facility_id
      }
    }
  },
  created () {
    this.$store.dispatch('get_facility_discounts', this.$route.params.facility_id)
    this.$store.dispatch('get_all_partner_types')
  },
  methods: {
    disableDiscount: function (publicId) {
      var data = {
        facility_id: this.$route.params.facility_id,
        public_id: publicId,
        deleted_by: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_facility_discount', data)
    },
    addDiscount: function () {
      var data = {
        discount_type_id: this.discount.discount_type.public_id,
        name: this.discount.discount_type.name,
        commission: this.discount.commission,
        discount: this.discount.discount,
        facility_id: this.discount.facility_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('post_facility_discount', data)
      this.discount.discount_type = ''
      this.discount.commission = 0
      this.discount.discount = 0
    }
  }
}
</script>

<style scoped>

</style>
