<template>

  <div class="panel-body">
    <v-layout row wrap>
      <v-flex lg8 md8 sm12 xs12>
        <v-card flat>
          <v-container>
            <!--<v-btn :depressed="true" color="success btn&#45;&#45;small btn-xs">  Active</v-btn>-->
            <v-btn :depressed="true" color="success" v-if="singleFacility.status === 5">  Active</v-btn>
            <v-btn :depressed="true" color="danger" v-if="singleFacility.status === 7">  Off</v-btn>
            <v-btn :depressed="true" color="default" @click="editFacility()"> <i class="fa fa-pencil"></i> Edit</v-btn>
          </v-container>
          <v-container>
            <h2 class="m-t-none">{{singleFacility.name}} </h2>
            <div class="small m-t-xs">
              <p v-if="singleFacility.update_status === 'true' || singleFacility.update_status === true">Updated on <b>{{formated_date_time(singleFacility.updated_at)}}</b> by <b>{{singleFacility.updated_by.updated_by}}</b></p>
              <p>Created on <b>{{formated_date_time(singleFacility.created_at)}}</b> by <b>{{singleFacility.user}}</b></p>
            </div>
            <br>
            <h3>Details : </h3>
            <span v-html="singleFacility.description">
            </span>
            <div class="m-t-md">
              <canvas id="lineOptions" height="60"></canvas>
            </div>
          </v-container>
        </v-card>
        <v-container>
          <facility-pricing></facility-pricing>
          <special-pricing v-if="singleFacility.facility_type_id === 'Accomodation' && singleFacility.accomodation_type_id === 'Pelican'"></special-pricing>
          <br>

          <facility-contacts></facility-contacts>
          <facility-discount></facility-discount>
        </v-container>
      </v-flex>
      <v-flex lg4 md4 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-container>
              <v-card-title> Facility Calendar at a Glance</v-card-title>
              <v-layout row wrap>
                <v-flex lg6 md6 sm12 xs12>
                  <small class="stat-label">Today</small>
                  <h4>{{facilitySchedule.today_count}}</h4>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <small class="stat-label">Tomorrow</small>
                  <h4>{{facilitySchedule.tomorrow_count}}</h4>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <small class="stat-label">This Week</small>
                  <h4>{{facilitySchedule.this_week_count}}</h4>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <small class="stat-label">Next Week</small>
                  <h4>{{facilitySchedule.next_week_count}}</h4>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
          <br>
          <v-card flat>
            <v-container>
              <facility-images></facility-images>
            </v-container>
          </v-card>
          <br>
          <v-card flat>
            <v-container>
              <v-btn :depressed="true" @click="delete_status = delete_status - 1" v-if="delete_status > 0">Delete Inventory ({{delete_status}})</v-btn>
              <v-btn :depressed="true" @click="deleteInventory()" v-if="delete_status === 0">Delete Inventory</v-btn>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </div>

</template>

<script>
import FacilityDiscount from './FacilityDiscount'
import FacilityImages from './FacilityImages'
import FacilityPricing from './FacilityPricing'
import FacilityContacts from './FacilityContacts'
import SpecialPricing from './SpecialPricing'
export default {
  data () {
    return {
      delete_status: 3,
      update: false
    }
  },
  components: {
    SpecialPricing,
    FacilityContacts,
    FacilityPricing,
    FacilityImages,
    FacilityDiscount
  },
  created () {
    this.$store.dispatch('get_facility', this.$route.params.facility_id)
    this.$store.dispatch('get_facility_images', this.$route.params.facility_id)
    this.$store.dispatch('get_facility_schedule', {facility_id: this.$route.params.facility_id})
  },
  methods: {
    deleteInventory: function () {
      var data = {
        facility_id: this.$route.params.facility_id,
        deleted_by: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_facility', data)
    },
    editFacility: function () {
      this.$router.push({
        name: 'EditFacility',
        params: {
          facility_id: this.$route.params.facility_id
        }
      })
    }
  }
}
</script>

<style>

</style>
