<template>
  <v-card flat>
    <v-card-title>
      Incative Accommodation and Camping
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="inactiveFacilities"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td class="fancy">{{ props.item.facility_type_id}}</td>
        <td class="fancy">{{ props.item.code}}</td>
        <td class="fancy">{{ props.item.name}}</td>
        <td class="fancy">{{ props.item.maximum_guests}} </td>
        <td class="fancy">{{ props.item.quantity}} </td>
        <td class="fancy">{{ props.item.pricing_status}} </td>
        <td class="has-text-right">
          <v-btn :depressed="true" small color="warning" v-on:click="makeActive(props.item.public_id)">Make Active</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Facility Type',
          value: 'facility_type_id'
        },
        {
          text: 'Code',
          value: 'code'
        },
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Maximum Guests',
          value: 'maximum_guests'
        },
        {
          text: 'Quantity',
          value: 'quantity'
        },
        {
          text: 'Pricing Set',
          value: 'pricing_status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_inactive_facilities')
  },
  methods: {
    makeActive: function (publicId) {
      var data = {
        public_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('make_facility_active', data)
    }
  }
}
</script>

<style>

</style>
