<template>

  <v-container fluid>
      <v-card flat>
        <v-container>
          <div class="hpanel">
            <div class="panel-heading" v-if="route === 'NewFacility'">
              Add New Accommodation or Camping
            </div>
            <div class="panel-heading" v-else>
              Update Accommodation or Camping
            </div>
            <v-form @submit.prevent="postInventory()">
              <v-layout row wrap>
                <v-flex lg3 md3 sm12 xs12>
                  <v-container>
                    <v-text-field
                      label="Income Account Code"
                      v-model="facility.code"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg3 md3 sm12 xs12>
                  <v-container>
                    <v-text-field
                      label="Facility Name"
                      v-model="facility.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg3 md3 sm12 xs12>
                  <v-container>
                    <v-text-field
                      label="Department Analysis Code"
                      v-model="facility.analysis_code"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg3 md3 sm12 xs12>
                  <v-container>
                    <v-text-field
                      label="Outlet Analysis Code"
                      v-model="facility.outlet_analysis_code"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <v-container fluid>
                    <v-select
                      label="Select Pricing Model Type"
                      v-model="facility.facility_type_id"
                      :items="allFacilityTypes"
                      :rules="[v => !!v || 'Pricing Model Type is required']"
                      required
                      item-text="name"
                      item-value="public_id"
                      :loading="$loadingTrue"
                    ></v-select>
                  </v-container>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <v-container>
                    <v-text-field
                      label="Maximum Guests"
                      v-model="facility.maximum_guests"
                      :rules="requiredRules"
                      required
                      type="number"
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12 v-if="facility.facility_type_id === 'Accomodation'">
                  <v-container fluid>
                    <v-select
                      label="Select Facility Type"
                      v-model="facility.accomodation_type_id"
                      :items="accommodationTypes"
                      :rules="[v => !!v || 'Accommodation Type is required']"
                      required
                      item-text="name"
                      item-value="public_id"
                      :loading="$loadingTrue"
                    ></v-select>
                  </v-container>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12 v-if="facility.facility_type_id === 'Accomodation'">
                  <v-container>
                    <v-text-field
                      label="Quantity"
                      v-model="facility.quantity"
                      :rules="requiredRules"
                      required
                      type="number"
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <v-container>
                    <v-text-field
                      label="VAT"
                      v-model="facility.vat"
                      :rules="requiredRules"
                      required
                      type="checkbox"
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg6 md6 sm12 xs12>
                  <v-container>
                    <v-text-field
                      label="Catering Levy"
                      v-model="facility.catering_levy"
                      :rules="requiredRules"
                      required
                      type="checkbox"
                    ></v-text-field>
                  </v-container>
                </v-flex>
                <v-flex lg12 md12 sm12 xs12>
                  <v-container fluid>
                    <label>Description</label>
                    <vue-editor v-model="facility.description"></vue-editor>
                  </v-container>
                </v-flex>
                <v-flex lg12 md12 sm12 xs12>
                  <v-container fluid>
                    <v-btn :depressed="true" color="info" v-if="this.$route.name !== 'EditFacility'" type="submit">Add to Facility and Accommodation</v-btn>
                    <v-btn :depressed="true" color="warning" v-if="this.$route.name === 'EditFacility'" type="submit">Update</v-btn>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-form>
          </div>
          {{updateFacility}}
        </v-container>
      </v-card>
  </v-container>
</template>

<script>
import { VueEditor } from 'vue2-editor'
export default {
  data () {
    return {
      route: this.$route.name,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      facility: {
        name: '',
        facility_type_id: '',
        accomodation_type_id: '',
        code: '',
        quantity: '',
        analysis_code: '',
        description: '',
        maximum_guests: '',
        session_id: localStorage.getItem('lkjhgfdsa'),
        public_id: this.$route.params.facility_id,
        vat: '',
        catering_levy: '',
        outlet_analysis_code: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_facility_currencies')
    this.$store.dispatch('get_all_facility_types')
    this.$store.dispatch('get_all_accommodation_types')
    if (this.$route.name === 'EditFacility') {
      this.$store.dispatch('get_facility', this.$route.params.facility_id)
    }
  },
  components: {
    VueEditor
  },
  methods: {
    postInventory: function () {
      if (this.$route.name !== 'EditFacility') {
        this.$store.dispatch('post_facility', this.facility)
      } else {
        this.$store.dispatch('update_facility', this.facility)
      }
    }
  }
}
</script>

<style>

</style>
