<template>
  <v-layout row wrap>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat>
          <v-card-title>Add Special Pricing Group</v-card-title>
          <v-container>
            <v-form  @submit.prevent="postPricingGroup()">
              <v-text-field
                label="Name"
                v-model="group.name"
                required
              ></v-text-field>
              <v-btn :depressed="true" color="info" v-if="update === false" type="submit">Add Group</v-btn>
              <v-btn :depressed="true" color="warning"  v-if="update === true" type="submit">Update Group</v-btn>
            </v-form>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat>
          <v-card-title>Pricing Groups</v-card-title>
          <v-container>
            <table cellpadding="1" cellspacing="1" class="table">
              <thead>
              <tr>
                <td>#</td>
                <td>Name</td>
                <td>Action</td>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(type, index) in $allPricingGroups" :key="index">
                <td>{{index + 1}}</td>
                <td>{{type.facility_pricing_name}}</td>
                <td>
                  <v-btn :depressed="true" small color="error" v-if="index > 1" @click="deletePricingGroup(type.facility_pricing_type_public_id)">Disable</v-btn>
                  <v-btn :depressed="true" small color="info" v-if="index > 1 && update === false" @click="editPricingGroup(type)">Amend</v-btn>
                  <v-btn :depressed="true" small color="warning" v-if="index > 1 && update === true" @click="cancelEditPricingGroup(index)">Cancel Current Amend</v-btn>
                </td>
              </tr>
              </tbody>
            </table>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'SpecialPricingGroups',
  data () {
    return {
      update: false,
      group: {
        name: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  methods: {
    postPricingGroup () {
      if (this.update === false) {
        this.$store.dispatch('post_facilitypricingtype', this.group)
        this.cancelEditPricingGroup()
      } else {
        this.$store.dispatch('update_facilitypricingtype', this.group)
        this.cancelEditPricingGroup()
      }
    },
    deletePricingGroup (groupId) {
      var data = {
        facility_price_id: groupId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_facilitypricingtype', data)
    },
    editPricingGroup (group) {
      this.group.name = group.facility_pricing_name
      Object.assign(this.group, {facility_price_id: group.facility_pricing_type_public_id})
      this.update = true
    },
    cancelEditPricingGroup () {
      this.update = false
      this.group.name = ''
    }
  },
  created () {
    this.$store.dispatch('get_all_facility_pricing_types')
  }
}
</script>

<style scoped>

</style>
