<template>
  <v-container>
    <v-card flat>
      <v-card-title v-if="this.$route.name === 'EditVisitor'">Update Authorized Visitor</v-card-title>
      <v-card-title v-else>Register Authorized Visitor</v-card-title>
      <v-container>
        <v-form  @submit.prevent="postVisitor()">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-dialog
                  ref="dialog"
                  persistent
                  v-model="modal1"
                  lazy
                  full-width
                  width="290px"
                  :return-value.sync="visitor.check_in_date"
                >
                  <v-text-field
                    slot="activator"
                    label="Check-in"
                    v-model="visitor.check_in_date"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="visitor.check_in_date"
                    :min="start_date"
                    scrollable>
                    <v-spacer></v-spacer>
                    <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                    <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(visitor.check_in_date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-dialog
                  ref="dialog1"
                  persistent
                  v-model="modal2"
                  lazy
                  full-width
                  width="290px"
                  :return-value.sync="visitor.check_out_date"
                >
                  <v-text-field
                    slot="activator"
                    label="Check-out"
                    v-model="visitor.check_out_date"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="visitor.check_out_date"
                    :min="visitor.check_in_date"
                    scrollable>
                    <v-spacer></v-spacer>
                    <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                    <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(visitor.check_out_date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container fluid>
                <v-select
                  label="Visitor Type"
                  v-model="visitor.type"
                  :items="AllVisitorTypes"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="visitor_type_name"
                  item-value="visitor_type_public_id"
                  autocomplete
                  :loading="$loadingTrue"
                ></v-select>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Organization"
                  v-model="visitor.organisation"
                  :rules="requiredRules"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Name"
                  v-model="visitor.name"
                  :rules="requiredRules"
                  required
                  max="50"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Phone Number"
                  v-model="visitor.phone"
                  :rules="requiredRules"
                  required
                  type="tel"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container fluid>
                <v-select
                  label="Identification Type"
                  v-model="visitor.id_type"
                  :items="AllIdentificationTypes"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="identification_type_name"
                  item-value="identification_type_public_id"
                  :loading="$loadingTrue"
                ></v-select>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Identification Number"
                  v-model="visitor.id_number"
                  :rules="requiredRules"
                  required
                  max="15"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Purpose"
                  v-model="visitor.purpose"
                  :rules="requiredRules"
                  required
                  multi-line
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Vehicle Registration"
                  v-model="visitor.plate"
                  :rules="requiredRules"
                  required
                  max="30"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg4 md4 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Number of Persons"
                  v-model="visitor.count"
                  :rules="requiredRules"
                  required
                  min="1"
                  type="number"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg4 md4 sm12 xs12>
              <v-container fluid>
                <v-select
                  label="Destination"
                  v-model="visitor.destination"
                  :items="allDestinations"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="destination_name"
                  item-value="destination_public_id"
                  autocomplete
                  :loading="$loadingTrue"
                ></v-select>
              </v-container>
            </v-flex>
            <v-flex lg4 md4 sm12 xs12>
              <v-container fluid>
                <v-select
                  label="Visitor Authorizers"
                  v-model="visitor.staff"
                  :items="allStaff"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="full_name"
                  item-value="public_id"
                  autocomplete
                  :loading="$loadingTrue"
                ></v-select>
              </v-container>
            </v-flex>
            <v-flex lg12 md12 sm12 xs12>
              <v-container fluid>
                <v-btn :depressed="true" color="info" v-if="this.$route.name !== 'EditVisitor'" type="submit"  :loading="this.$store.state.LoadingStore.loading">Add Visitor</v-btn>
                <v-btn :depressed="true" color="warning" v-if="this.$route.name === 'EditVisitor'" type="submit">Update Visitor</v-btn>
              </v-container>
            </v-flex>
          </v-layout>
        </v-form>
      </v-container>
    </v-card>
    {{updatingVisitor}}
  </v-container>
</template>

<script>
export default {
  name: 'NewVisitor',
  data () {
    return {
      start_date: this.$moment().format('YYYY-MM-DD'),
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      responsible_staff: '',
      visitor: {
        check_in_date: '',
        check_out_date: '',
        destination: '',
        type: '',
        id_number: '',
        id_type: '',
        plate: '',
        count: 1,
        organisation: '',
        purpose: '',
        name: '',
        phone: '',
        staff: '',
        visitor_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      existing_visitor: false
    }
  },
  created () {
    this.$store.dispatch('get_all_destinations')
    this.$store.dispatch('get_all_staffs')
    this.$store.dispatch('get_all_visitor_types')
    this.$store.dispatch('get_all_identification_types')
    if (this.$route.name === 'EditVisitor') {
      this.$store.dispatch('get_visitor', this.$route.params.visitor_id)
    }
  },
  methods: {
    postVisitor: function () {
      this.$store.dispatch('loading_true')
      if (this.$route.name === 'EditVisitor') {
        this.$store.dispatch('update_visitor', this.visitor)
      } else {
        this.$store.dispatch('post_visitor', this.visitor)
      }
    }
  }
}
</script>

<style>

</style>
