<template>
  <div class="col-lg-10 col-lg-offset-1">
    <v-tabs
      v-model="active"
      slider-color="yellow"
    >
      <v-tab key="visitor_types" ripple>Visitor Types</v-tab>
      <v-tab key="identification_types" ripple>Identification Types</v-tab>
      <v-tab-item key="visitor_types">
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Add Visitor Type</v-card-title>
                <v-container>
                  <v-form  @submit.prevent="postVisitorType()">
                    <v-text-field
                      label="Name"
                      v-model="type.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Description"
                      v-model="type.description"
                      :rules="requiredRules"
                      multi-line
                      required
                    ></v-text-field>
                    <v-btn :depressed="true" color="info" type="submit" v-if="update === false">Add</v-btn>
                    <v-btn :depressed="true" color="warning" type="submit" v-if="update === true">Update</v-btn>
                  </v-form>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
          <v-flex lg8 md8 sm12 xs12>
            <v-container>
              <v-card flat>
               <v-container>
                 <table cellpadding="1" cellspacing="1" class="table">
                   <thead>
                   <tr>
                     <td>#</td>
                     <td>Name</td>
                     <td>Description</td>
                     <td>Action</td>
                   </tr>
                   </thead>
                   <tbody>
                   <tr v-for="(type, index) in AllVisitorTypes" :key="index">
                     <td>{{index + 1}}</td>
                     <td>{{type.visitor_type_name}}</td>
                     <td>{{type.visitor_type_description}}</td>
                     <td>
                       <v-btn :depressed="true" color="error" small v-if="index > 4 && update === false" @click="deleteVisitorType(type.visitor_type_public_id)">Remove</v-btn>
                       <v-btn :depressed="true" color="warning" small v-if="update === false" @click="updateVisitorType(index)">Update</v-btn>
                       <v-btn :depressed="true" color="error" small v-if="update === true" @click="CancelUpdateVisitorType(index)">Cancel Current Update</v-btn>
                     </td>
                   </tr>
                   </tbody>
                 </table>
               </v-container>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
      </v-tab-item>
      <v-tab-item key="identification_types">
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Identification Type Type</v-card-title>
                <v-container>
                  <v-form  @submit.prevent="postIdentificationType()">
                    <v-text-field
                      label="Name"
                      v-model="identification.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Description"
                      v-model="identification.description"
                      :rules="requiredRules"
                      multi-line
                      required
                    ></v-text-field>
                    <v-btn :depressed="true" color="info" type="submit" v-if="update2 === false">Add</v-btn>
                    <v-btn :depressed="true" color="warning" type="submit" v-if="update2 === true">Update</v-btn>
                  </v-form>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
          <v-flex lg8 md8 sm12 xs12>
            <v-container>
              <v-card flat>
               <v-container>
                 <table cellpadding="1" cellspacing="1" class="table">
                   <thead>
                   <tr>
                     <td>#</td>
                     <td>Name</td>
                     <td>Description</td>
                     <td>Action</td>
                   </tr>
                   </thead>
                   <tbody>
                   <tr v-for="(type, index) in AllIdentificationTypes" :key="index">
                     <td>{{index + 1}}</td>
                     <td>{{type.identification_type_name}}</td>
                     <td>{{type.identification_type_description}}</td>
                     <td>
                       <v-btn :depressed="true" color="error" small v-if="index > 3 && update2 === false" @click="deleteIdentificationType(type.identification_type_public_id)">Remove</v-btn>
                       <v-btn :depressed="true" color="warning" small v-if="update2 === false" @click="updateIdentificationType(index)">Update</v-btn>
                       <v-btn :depressed="true" color="error" small v-if="update2 === true" @click="CancelUpdateIdentificationType(index)">Cancel Current Update</v-btn>
                     </td>
                   </tr>
                   </tbody>
                 </table>
               </v-container>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
export default {
  data () {
    return {
      active: '',
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      update: false,
      update2: false,
      type: {
        name: '',
        description: '',
        type_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      identification: {
        name: '',
        description: '',
        type_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_visitor_types')
    this.$store.dispatch('get_all_identification_types')
  },
  methods: {
    postIdentificationType: function () {
      if (this.update2 === false) {
        this.$store.dispatch('post_identification_type', this.identification)
        this.identification.name = ''
        this.identification.description = ''
      } else {
        this.$store.dispatch('update_identification_type', this.identification)
        this.update2 = false
        this.identification.name = ''
        this.identification.description = ''
        this.identification.public_id = ''
      }
    },
    deleteIdentificationType: function (publicId) {
      var data = {
        session_id: localStorage.getItem('lkjhgfdsa'),
        type_id: publicId
      }
      this.$store.dispatch('delete_identification_type', data)
    },
    updateIdentificationType: function (index) {
      var type = this.AllIdentificationTypes[index]
      this.identification.name = type.identification_type_name
      this.identification.description = type.identification_type_description
      this.identification.type_id = type.identification_type_public_id
      this.update2 = true
    },
    CancelUpdateIdentificationType: function () {
      this.update2 = false
      this.identification.name = ''
      this.identification.description = ''
      this.identification.type_id = ''
    },
    // Visitor Type
    CancelUpdateVisitorType: function () {
      this.update = false
      this.type.name = ''
      this.type.description = ''
      this.type.type_id = ''
    },
    updateVisitorType: function (index) {
      var type = this.AllVisitorTypes[index]
      this.type.name = type.visitor_type_name
      this.type.description = type.visitor_type_description
      this.type.type_id = type.visitor_type_public_id
      this.update = true
    },
    deleteVisitorType: function (publicId) {
      var data = {
        session_id: localStorage.getItem('lkjhgfdsa'),
        type_id: publicId
      }
      this.$store.dispatch('delete_visitor_type', data)
    },
    postVisitorType: function () {
      if (this.update === false) {
        this.$store.dispatch('post_visitor_type', this.type)
        this.type.name = ''
        this.type.description = ''
      } else {
        this.$store.dispatch('update_visitor_type', this.type)
        this.update = false
        this.type.name = ''
        this.type.description = ''
        this.type.type_id = ''
      }
    }
  }
}
</script>

<style>

</style>
