<template>
<div class="row">
  <v-layout wrap row>
    <v-flex lg3 md3 sm12 xs12>
     <v-container>
       <div class="hpanel">
         <div class="panel-body">
           <div class="stats-title pull-left">
             <h4>Persons Visiting</h4>
           </div>
           <div class="stats-icon pull-right">
             <i class="fa fa-users fa-4x"></i>
           </div>
           <div class="m-t-xl">
             <h2 class="text-success">{{singleVisitor.visitor_count}}</h2>
           </div>
         </div>
       </div>
     </v-container>
    </v-flex>
    <v-flex lg3 md3 sm12 xs12>
      <v-container>
        <div class="hpanel">
          <div class="panel-body">
            <div class="stats-title pull-left">
              <h4>Vehicle Details</h4>
            </div>
            <div class="stats-icon pull-right">
              <i class="fa fa-car fa-4x"></i>
            </div>
            <div class="m-t-xl">
              <h2 class="text-success">{{singleVisitor.visitor_vehicle_plate}}</h2>
            </div>
          </div>
        </div>
      </v-container>
    </v-flex>
    <v-flex lg3 md3 sm12 xs12>
      <v-container>
        <div class="hpanel">
          <div class="panel-body">
            <div class="stats-title pull-left">
              <h4>Visitor Contact</h4>
            </div>
            <div class="stats-icon pull-right">
              <i class="fa fa-phone fa-4x"></i>
            </div>
            <div class="m-t-xl">
              <h2 class="text-success">{{singleVisitor.visitor_phone_number}}</h2>
            </div>
          </div>
        </div>
      </v-container>
    </v-flex>
    <v-flex lg3 md3 sm12 xs12>
      <v-container>
        <div class="hpanel">
          <div class="panel-body">
            <div class="stats-title pull-left">
              <h4>Destination</h4>
            </div>
            <div class="stats-icon pull-right">
              <i class="fa fa-map-pin fa-4x"></i>
            </div>
            <div class="m-t-xl">
              <h2 class="text-success">{{singleVisitor.destination}}</h2>
            </div>
          </div>
        </div>
      </v-container>
    </v-flex>
  </v-layout>
  <v-layout row wrap>
    <v-flex lg4 md4 sm12 xs12>
     <v-container>
       <div class="hpanel hbggreen">
         <div class="panel-body">
           <div class="text-center">
             <h3>TIME IN</h3>
             <p class="text-big font-light" style="font-size: 30px;">
               {{formated_date_time(singleVisitor.visitor_start_time)}}
             </p>
           </div>
         </div>
       </div>
       <div class="hpanel hbgorange"  v-if="singleVisitor.status === 'Open'">
         <div class="panel-body">
           <div class="text-center">
             <h3>AUTHORIZED</h3>
             <small>Visitors are still In.</small>
           </div>
         </div>
       </div>
       <div class="hpanel hbgblue"  v-if="singleVisitor.status === 'Closed'">
         <div class="panel-body">
           <div class="text-center">
             <h3>Closed</h3>
             <small>Visitors are out.</small>
             <h3>TIME OUT</h3>
             <p class="text-big font-light" style="font-size: 30px;">
               {{formated_date_time(singleVisitor.visitor_end_time)}}
             </p>
           </div>
         </div>
       </div>
       <div class="hpanel hbgnavyblue">
         <div class="panel-body">
           <div class="text-center">
             <h3>{{singleVisitor.visitor_staff_responsible_name}}</h3>
             <small>Staff Responsible.</small>
           </div>
         </div>
       </div>
     </v-container>
    </v-flex>
    <v-flex lg8 md8 xs12 sm12>
      <v-card flat>
        <v-container>
          <div class="panel-body">
            <p>Visitor Type: <b>{{singleVisitor.visitor_type_name}}</b></p>
            <p>Name: <b>{{singleVisitor.visitor_name}}</b></p>
            <p>Organization: <b>{{singleVisitor.visitor_organisation}}</b></p>
            <p>Visitor Identification Type: <b>{{singleVisitor.visitor_identification_doc_type}}</b></p>
            <p>Visitor ID: <b>{{singleVisitor.visitor_identification_number}}</b></p>
            <div class="container-fluid">
              <hr>
              <h2>Purpose</h2>
              <p>{{singleVisitor.visitor_purpose}}</p>
            </div>
          </div>
          <v-btn :depressed="true" color="error" small v-if="singleVisitor.status === 'Authorised'" @click="closeVisitation()" flat>Check-out</v-btn>

        </v-container>
      </v-card>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
export default {
  data () {
    return {}
  },
  created () {
    this.$store.dispatch('get_visitor', this.$route.params.visitor_id)
  },
  methods: {
    closeVisitation: function () {
      var data = {
        visitor: this.$route.params.visitor_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('close_visitation', data)
    }
  }
}
</script>

<style>

</style>
