<template>
  <v-card flat>
    <v-card-title>
      Current Visitors
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="currentVisitors"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{formated_date_time(props.item.visitor_start_time)}}</td>
        <td>{{props.item.visitor_organisation}}</td>
        <td>{{props.item.visitor_name}}</td>
        <td>{{props.item.visitor_type_name}}</td>
        <td>{{props.item.visitor_count}}</td>
        <td>{{props.item.visitor_staff_responsible_name}}</td>
        <td>
          <v-btn :depressed="true" small @click="viewVisitor(props.item.visitor_public_id)">View Details</v-btn>
          <v-btn :depressed="true" small color="warning" @click="updateVisitor(props.item.visitor_public_id)">Update Details</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Time In',
          value: 'visitor_start_time'
        },
        {
          text: 'Organization',
          value: 'visitor_organisation'
        },
        {
          text: 'Person',
          value: 'visitor_name'
        },
        {
          text: 'Visitor Type',
          value: 'type'
        },
        {
          text: 'Persons',
          value: 'persons'
        },
        {
          text: 'Authorizing Staff',
          value: 'visitor_staff_responsible_name'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_open_visitors')
  },
  methods: {
    viewVisitor: function (publicId) {
      this.$router.push({
        name: 'Visitor',
        params: {
          visitor_id: publicId
        }
      })
    },
    updateVisitor: function (publicId) {
      this.$router.push({
        name: 'EditVisitor',
        params: {
          visitor_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
