<template>
    <div class="row container-fluid" v-if="singleUser.first_name !== undefined">
      <v-layout row wrap>
        <v-flex lg4 md4 sm12 xs12>
          <v-card flat>
            <v-container>
                <div class="panel-body">
                  <img alt="logo" class="img-circle m-b m-t-md" src="/static/images/profile.jpg">
                  <h3><a href="">{{singleUser.first_name}} {{singleUser.last_name}}</a></h3>
                  <p>
                    {{singleUser.first_name}} was added on {{singleUser.created_at}} and was last updated at {{singleUser.updated_at}}. {{singleUser.first_name}} is registered under the user type: {{singleUser.user_type.name}}
                  </p>
                </div>
                <div class="panel-body">
                  <dl>
                    <dt>User Type</dt>
                    <dd>{{singleUser.user_type}}</dd>
                    <dt>Registration Date</dt>
                    <dd>{{formated_date_time(singleUser.registered_on)}}</dd>
                  </dl>
                  <br>
                  <br>
                  <v-btn :depressed="true" color="warning" v-if="singleUser.active_status === 'Active'" @click="suspendUser()">Suspend ({{suspend_count}})</v-btn>
                  <v-btn :depressed="true" color="info" v-if="singleUser.active_status === 'Suspended'" @click="unsuspendUser()">Activate ({{suspend_count}})</v-btn>
                </div>
            </v-container>
          </v-card>
        </v-flex>
        <v-flex lg8 md8 sm12 xs12>
          <add-user></add-user>
        </v-flex>
      </v-layout>
      {{UpdateUser}}
    </div>
</template>

<script>
import AddUser from './AddUser'
export default {
  components: {AddUser},
  data () {
    return {
      suspend_count: 3,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      user: {
        user_type: '',
        first_name: '',
        last_name: '',
        email: '',
        phone_number: '',
        user_id: this.$route.params.user_id
      }
    }
  },
  methods: {
    updateUser: function () {
      this.$store.dispatch('update_user', this.user)
    },
    suspendUser: function () {
      if (this.suspend_count > 0) {
        this.suspend_count = this.suspend_count - 1
      } else {
        this.$store.dispatch('suspend_user', this.$route.params.user_id)
      }
    },
    unsuspendUser: function () {
      if (this.suspend_count > 0) {
        this.suspend_count = this.suspend_count - 1
      } else {
        this.$store.dispatch('unsuspend_user', this.$route.params.user_id)
      }
    }
  },
  created () {
    this.$store.dispatch('get_user', this.$route.params.user_id)
    this.$store.dispatch('get_all_user_types')
  }
}
</script>

<style>

</style>
