<template>
  <div class="">
    <v-layout row wrap>
      <v-flex lg5 md5 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>User Type</v-card-title>
            <v-container>
              <v-form  @submit.prevent="postUserType()">
                <v-text-field
                  label="Name"
                  v-model="type.name"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-text-field
                  label="Description"
                  v-model="type.description"
                  :rules="requiredRules"
                  required
                  multi-line
                ></v-text-field>
                <v-btn :depressed="true" color="info" type="submit" v-if="update === false">Add</v-btn>
                <v-btn :depressed="true" color="warning" type="submit" v-if="update === true">Update</v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg7 md7 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>User Types</v-card-title>
           <v-container>
             <table cellpadding="1" cellspacing="1" class="table">
               <thead>
               <tr>
                 <td>#</td>
                 <td>Name</td>
                 <td>Action</td>
               </tr>
               </thead>
               <tbody>
               <tr v-for="(type, index) in allUserTypes" :key="index">
                 <td>{{index + 1}}</td>
                 <td>{{type.name}}</td>
                 <td>
                   <v-btn :depressed="true" color="warning" v-if="update === true" small @click="cancelAmendment()">Cancel Amendment</v-btn>
                   <v-btn :depressed="true" color="warning" v-if="update === false" small @click="updateType(type)">Amend</v-btn>
                   <v-btn :depressed="true" color="info" v-if="update === false" small @click="assignRoles(type.public_id)">Assign Features</v-btn>
                   <v-btn :depressed="true" color="error" v-if="update === false" small @click="deleteUserType(type.public_id)">Disable</v-btn>
                 </td>
               </tr>
               </tbody>
             </table>
           </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data () {
    return {
      update: false,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      type: {
        name: '',
        description: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_user_types')
    this.$store.dispatch('get_all_menus')
  },
  methods: {
    cancelAmendment: function () {
      this.update = false
      this.type.name = ''
      this.type.description = ''
      this.type.public_id = ''
    },
    updateType: function (type) {
      this.update = true
      this.type.name = type.name
      this.type.description = type.description
      this.type.public_id = type.public_id
    },
    getFeatures: function (publicId) {
      this.$router.push({
        name: 'Features',
        params: {
          menu_id: publicId
        }
      })
    },
    assignRoles: function (publicId) {
      this.$router.push({
        name: 'Roles',
        params: {
          role_id: publicId
        }
      })
    },
    deleteUserType: function (publicId) {
      this.$store.dispatch('delete_user_type', publicId)
    },
    postUserType: function () {
      this.$store.dispatch('loading_true')
      if (this.update === false) {
        this.$store.dispatch('post_user_type', this.type)
      } else {
        this.$store.dispatch('update_user_type', this.type)
      }
      this.cancelAmendment()
    }
  }
}
</script>

<style>

</style>
