<template>
  <v-card flat>
    <v-card-title>
      Users
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allUsers"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{props.item.user_role}}</td>
        <td>{{props.item.phone_number}}</td>
        <td>{{props.item.full_name}}</td>
        <td>{{props.item.email}}</td>
        <td>{{formated_date(props.item.registered_on)}}</td>
        <td>{{props.item.active_status}}</td>
        <td>
          <v-btn :depressed="true" small @click="openUser(props.item.public_id)">View User</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      localData: JSON.parse(localStorage.getItem('unem')),
      search: '',
      columns: [
        {
          text: 'User Role',
          value: 'user_role'
        },
        {
          text: 'Phone Number',
          value: 'phone_number'
        },
        {
          text: 'Name',
          value: 'full_name'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Added On',
          value: 'created_at'
        },
        {
          text: 'Status',
          value: 'active_status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  methods: {
    openUser: function (publicId) {
      this.$router.push({
        name: 'User',
        params: {
          user_id: publicId
        }
      })
    }
  },
  created () {
    if (this.localData.user_type_id === '35fcfdaf') {
      this.$store.dispatch('get_institution_users2', this.localData.instiution_id)
    } else {
      this.$store.dispatch('get_all_users')
    }
  }
}
</script>

<style>

</style>
