<template>
  <div class="col-lg-10 col-lg-offset-1">
    <v-container>
      <v-card flat>
        <v-card-title v-if="route !== 'EditStaff'">Add Authorizer</v-card-title>
        <v-card-title v-else>Edit Authorizer</v-card-title>
        <v-container>
          <v-form  @submit.prevent="postStaff()">
            <v-layout row wrap>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="First Name"
                    v-model="staff.first_name"
                    :rules="requiredRules"
                    required
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="Last Name"
                    v-model="staff.last_name"
                    :rules="requiredRules"
                    required
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container fluid>
                  <v-select
                    label="Department"
                    v-model="staff.department_id"
                    :items="allDepartments"
                    :rules="[v => !!v || 'Item is required']"
                    required
                    item-text="name"
                    item-value="public_id"
                    autocomplete
                    :loading="$loadingTrue"
                  ></v-select>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="Phone Number (e.g. 1-347382374)"
                    placeholder="code - number e.g. 1-347382374"
                    v-model="staff.phone_number"
                    :rules="requiredRules"
                    required
                    type="tel"
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="Email"
                    v-model="staff.email"
                    :rules="requiredRules"
                    required
                    type="email"
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container fluid>
                  <v-btn :depressed="true" color="info" block type="submit">
                    <span v-if="route !== 'EditStaff'">Add Staff</span>
                    <span v-else>Update Staff</span>
                  </v-btn>
                </v-container>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
      </v-card>
    </v-container>
    {{$updateStaff}}
  </div>
</template>

<script>
export default {
  name: 'add-staff',
  data () {
    return {
      route: this.$route.name,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      staff: {
        department_id: '',
        phone_number: '',
        email: '',
        first_name: '',
        last_name: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_departments')
    if (this.$route.name === 'EditStaff') {
      this.$store.dispatch('get_staff', this.$route.params.staff_id)
    }
  },
  methods: {
    postStaff: function () {
      if (this.$route.name === 'EditStaff') {
        this.$store.dispatch('update_staff', this.staff)
      } else {
        this.$store.dispatch('post_staff', this.staff)
      }
    }
  }
}
</script>

<style scoped>

</style>
