<template>
  <v-card flat>
    <v-card-title>
      All Authorizers
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allStaff"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{formated_date_time(props.item.created_at)}}</td>
        <td>{{props.item.first_name}} {{props.item.last_name}}</td>
        <td>{{props.item.department}}</td>
        <td>{{props.item.email}}</td>
        <td>{{props.item.phone_number}}</td>
        <td>{{props.item.user}}</td>
        <td>
          <v-btn :depressed="true" color="error" small @click="deleteAuthorizer(props.item.public_id)">Delete</v-btn>
          <v-btn :depressed="true" color="info" small @click="updateAuthorizer(props.item.public_id)">Update</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  name: 'all-staff',
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Added On',
          value: 'created_at'
        },
        {
          text: 'Name',
          value: 'last_name'
        },
        {
          text: 'Department',
          value: 'department'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Phone Number',
          value: 'phone_number'
        },
        {
          text: 'Added By',
          value: 'user'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_staffs')
  },
  methods: {
    deleteAuthorizer (publicId) {
      var data = {
        deleted_by: localStorage.getItem('lkjhgfdsa'),
        public_id: publicId
      }
      this.$store.dispatch('delete_staff', data)
    },
    updateAuthorizer (publicId) {
      this.$router.push({
        name: 'EditStaff',
        params: {
          staff_id: publicId
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
