<template>
    <v-layout row wrap>
      <v-flex lg5 md5 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Add Department</v-card-title>
            <v-container>
              <v-form  @submit.prevent="postDepartment()">
                <v-text-field
                  label="Name"
                  v-model="department.name"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-text-field
                  label="Description"
                  v-model="department.description"
                  :rules="requiredRules"
                  required
                  multi-line
                ></v-text-field>
                <v-btn :depressed="true" color="info" type="submit" v-if="edit === false">Add Department</v-btn>
                <v-btn :depressed="true" color="warning" type="submit" v-if="edit === true">Update Department</v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg7 md7 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Deparments</v-card-title>
            <v-container>
              <table cellpadding="1" cellspacing="1" class="table">
                <thead>
                <tr>
                  <td>#</td>
                  <td>Name</td>
                  <td>Description</td>
                  <td>Action</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(department, index) in allDepartments" :key="index">
                  <td>{{index + 1}}</td>
                  <td>{{department.name}}</td>
                  <td>{{department.description}}</td>
                  <td>
                    <v-btn :depressed="true" color="warning" small v-if="edit === false" @click="editDepartment(department)">Edit</v-btn>
                    <v-btn :depressed="true" color="error" small v-if="edit === false" @click="deleteDepartment(department.public_id)">Disable</v-btn>
                    <v-btn :depressed="true" color="error" small v-if="edit === true" @click="cancelEdit()">Cancel Edit</v-btn>
                  </td>
                </tr>
                </tbody>
              </table>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
</template>

<script>
export default {
  name: 'staff-settings',
  data () {
    return {
      edit: false,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      department: {
        name: '',
        description: '',
        public_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_departments')
  },
  methods: {
    editDepartment: function (department) {
      this.edit = true
      this.department.name = department.name
      this.department.description = department.description
      this.department.public_id = department.public_id
    },
    cancelEdit: function () {
      this.edit = false
      this.department.name = ''
      this.department.description = ''
      this.department.public_id = ''
    },
    postDepartment: function () {
      if (this.edit === false) {
        this.$store.dispatch('post_department', this.department)
      } else {
        this.$store.dispatch('update_department', this.department)
      }
      this.cancelEdit()
    },
    deleteDepartment: function (publicId) {
      var data = {
        public_id: publicId,
        deleted_by: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_department', data)
    }
  }
}
</script>

<style scoped>

</style>
