<template>
  <div class="col-lg-10 col-lg-offset-1">
    <v-card flat>
      <v-card-title v-if="this.$route.name === 'NewPartner'"> Add Partner</v-card-title>
      <v-card-title v-if="this.$route.name === 'EditPartner'"> Update Partner</v-card-title>
      <v-form @submit.prevent="postPartner()">
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12>
            <v-container fluid>
              <v-select
                label="Partner Type"
                v-model="partner.partner_type"
                :items="allPartnerTypes"
                :rules="[v => !!v || 'Partner Type is required']"
                required
                item-text="name"
                item-value="public_id"
                autocomplete
                :loading="$loadingTrue"
              ></v-select>
            </v-container>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-text-field
                label="Name"
                v-model="partner.name"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-text-field
                label="Customer Code"
                v-model="partner.customer_code"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Postal Address"
                v-model="partner.postal_address"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Postal Code"
                v-model="partner.postal_code"
                :rules="requiredRules"
                required
                type="number"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Email"
                v-model="partner.email"
                :rules="requiredRules"
                required
                type="email"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Telephone"
                v-model="partner.tel_number"
                :rules="requiredRules"
                required
                type="tel"
              ></v-text-field>
            </v-container>
          </v-flex>
        </v-layout>
        <v-layout row wrap v-if="this.$route.name === 'NewPartner' && partner.partner_type !== '3ec87287'">
          <v-flex lg12 md12 sm12 xs12>
            <v-container fluid>
              <h3>Partner User Details </h3>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="First Name"
                v-model="partner.first_name"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Last Name"
                v-model="partner.last_name"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Email"
                v-model="partner.uemail"
                :rules="requiredRules"
                required
                type="email"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Phone Number (e.g. 1-347382374)"
                placeholder="code - number e.g. 1-347382374"
                v-model="partner.phone_number"
                :rules="requiredRules"
                required
                type="tel"
              ></v-text-field>
            </v-container>
          </v-flex>
        </v-layout>
        <v-flex lg6 md6 sm12 xs12>
          <v-btn :depressed="true" v-if="route === 'NewPartner'" color="info" type="submit">Create Partner</v-btn>
          <v-btn :depressed="true" v-if="route === 'EditPartner'" color="warning" type="submit">Update Partner</v-btn>
        </v-flex>
      </v-form>
    </v-card>
    {{updatePartner}}
  </div>
</template>

<script>
export default {
  data () {
    return {
      route: this.$route.name,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      partner: {
        customer_code: '',
        partner_type: '',
        name: '',
        postal_address: '',
        postal_code: '',
        email: '',
        tel_number: '',
        public_id: this.$route.params.partner_id,
        first_name: '',
        last_name: '',
        uemail: '',
        phone_number: '254',
        special_discount: 0,
        user_type: '35fcfdaf',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  methods: {
    postPartner: function () {
      if (this.$route.name === 'EditPartner') {
        this.$store.dispatch('update_partner', this.partner)
      } else {
        this.$store.dispatch('post_partner', this.partner)
      }
    }
  },
  created () {
    if (this.$route.name === 'EditPartner') {
      this.$store.dispatch('get_partner', this.$route.params.partner_id)
    }
    this.$store.dispatch('get_all_partner_types')
  }
}
</script>

<style>

</style>
