<template>
  <v-card flat>
    <v-card-title>
      Partner Bookings
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="partnerBookings"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td class="fancy">{{ props.item.booking_done_by}}</td>
        <td>{{ props.item.guest_total }}</td>
        <td class="fancy">{{ formated_date(props.item.booking_check_in_date) }}</td>
        <td class="fancy">{{ formated_date(props.item.booking_check_out_date) }}</td>
        <td>
          <v-btn :depressed="true" small @click="openBooking(props.item.booking_public_id)">View Booking</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      lmenu: JSON.parse(localStorage.getItem('unem')),
      columns: [
        {
          text: 'Client Name',
          value: 'booking_done_by'
        },
        {
          text: 'Guest Total',
          value: 'guest_total'
        },
        {
          text: 'Check In',
          value: 'booking_check_in_date'
        },
        {
          text: 'Check Out',
          value: 'booking_check_out_date'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_partner_bookings', this.lmenu.instiution_id)
  },
  methods: {
    viewBooking: function (publicId) {
      this.$router.push({
        name: 'Booking',
        params: {
          booking_id: publicId
        }
      })
    },
    openBooking: function (publicId) {
      this.$router.push({
        name: 'Booking',
        params: {
          booking_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
