<template>

  <div class="">
    <v-layout row wrap>
      <v-flex lg12 md12 sm12 xs12>
        <v-card flat>
          <v-container>
            <div class="pull-right">
              <v-btn :depressed="true" color="warning" @click="suspendAccount()" v-if="singlePartner.status === 1">  Suspend ({{suspend_count}})</v-btn>
              <v-btn :depressed="true" color="secondary" @click="activateAccount()" v-if="singlePartner.status === 0">  Activate ({{activate_count}})</v-btn>
              <button class="btn btn-default btn-xs" @click="editPartner()"> <i class="fa fa-pencil"></i> Edit</button>
            </div>
            <h1 class="m-t-none"><b>{{singlePartner.name}}</b> ({{singlePartner.partner_type[0]}})</h1>
            <p>Phone Number : <b>{{singlePartner.tel}}</b></p>
            <p>Email : <b>{{singlePartner.email}}</b></p>
            <p>Created on <b>{{formated_date_time(singlePartner.created_at)}}</b> by <b>{{singlePartner.created_by}}</b></p>
            <p>Updated on <b>{{formated_date_time(singlePartner.updated_at)}}</b> by <b>{{singlePartner.updated_by}}</b></p>
          </v-container>
        </v-card>
        <br>
        <v-card flat>
          <v-card-title>
            Bookings
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="columns"
            :items="partnerBookings"
            :search="search"
            :loading="$loadingTrue"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.booking_ref_code}}</td>
              <td>{{ props.item.booking_done_by}}</td>
              <td>{{ props.item.booking_type}}</td>
              <td>{{ formated_date(props.item.booking_check_in_date)}}</td>
              <td>{{ formated_date(props.item.booking_check_out_date)}}</td>
              <td>{{ props.item.guest_total}}</td>
              <td>{{ props.item.booking_status}}</td>
              <td>
                <v-btn :depressed="true" small @click="openBooking(props.item.booking_public_id)">View Booking</v-btn>
              </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data () {
    return {
      suspend_count: 3,
      activate_count: 3,
      search: '',
      columns: [
        {
          text: 'Ref',
          value: 'booking_ref_code'
        },
        {
          text: 'Client Name',
          value: 'booking_done_by'
        },
        {
          text: 'Booking Type',
          value: 'booking_type'
        },
        {
          text: 'Check In',
          value: 'check_in'
        },
        {
          text: 'Check Out',
          value: 'check_out'
        },
        {
          text: 'Number of Guests',
          value: 'guest_total'
        },
        {
          text: 'Status',
          value: 'booking_status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  methods: {
    editPartner: function () {
      this.$router.push({
        name: 'EditPartner',
        params: {
          partner_id: this.$route.params.partner_id
        }
      })
    },
    openBooking: function (publicId) {
      this.$router.push({
        name: 'Booking',
        params: {
          booking_id: publicId
        }
      })
    },
    activateAccount: function () {
      if (this.activate_count > 0) {
        this.activate_count = this.activate_count - 1
      } else {
        var data = {
          public_id: this.$route.params.partner_id,
          session_id: localStorage.getItem('lkjhgfdsa')
        }
        this.$store.dispatch('activate_partner', data)
      }
    },
    suspendAccount: function () {
      if (this.suspend_count > 0) {
        this.suspend_count = this.suspend_count - 1
      } else {
        var data = {
          public_id: this.$route.params.partner_id,
          session_id: localStorage.getItem('lkjhgfdsa')
        }
        this.$store.dispatch('suspend_partner', data)
      }
    }
  },
  created () {
    this.$store.dispatch('get_partner_bookings', this.$route.params.partner_id)
    this.$store.dispatch('get_partner', this.$route.params.partner_id)
    this.$store.dispatch('get_institution_users', this.$route.params.partner_id)
  }
}
// TODO changes
</script>

<style>

</style>
