<template>
  <v-card flat>
    <v-card-title>
      All Partners
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allPartners"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{props.item.type}}</td>
        <td>{{props.item.name}}</td>
        <td>{{props.item.email}}</td>
        <td>{{props.item.tel}}</td>
        <td>{{props.item.postal_address}}</td>
        <td>{{props.item.postal_code}}</td>
        <td><span v-html="props.item.active_status"></span></td>
        <td><v-btn :depressed="true" small @click="viewMember(props.item.public_id)">View Details</v-btn></td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Partner Type',
          value: 'type'
        },
        {
          text: 'Partner Name',
          value: 'name'
        },
        {
          text: 'Partner Email',
          value: 'email'
        },
        {
          text: 'Partner Telephone',
          value: 'tel'
        },
        {
          text: 'Postal Address',
          value: 'postal_address'
        },
        {
          text: 'Postal Code',
          value: 'postal_code'
        },
        {
          text: 'Partner Status',
          value: 'active_status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_partners')
  },
  methods: {
    viewMember: function (publicId) {
      this.$router.push({
        name: 'Partner',
        params: {
          partner_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
