<template>
  <div class="row">
    <v-layout row wrap>
      <v-flex lg6 md6 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Partner Type</v-card-title>
            <v-container>
              <v-form  @submit.prevent="postMemberType()">
                <v-text-field
                  label="Partner Type"
                  v-model="types.name"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-text-field
                  label="Conservation Fee Discount (eg 10%)"
                  v-model="types.conservation_fee_discount"
                  :rules="requiredRules"
                  required
                  type="number"
                  step="0.1"
                ></v-text-field>
                <v-text-field
                  label="Description"
                  v-model="types.desc"
                  :rules="requiredRules"
                  required
                  multi-line
                ></v-text-field>
                <v-btn :depressed="true" color="info" v-if="update === false" type="submit">Add Partner Type</v-btn>
                <v-btn :depressed="true" color="warning" v-if="update === true" type="submit">Update Partner Type</v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg6 md6 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Partner Types</v-card-title>
            <v-container>
              <table cellpadding="1" cellspacing="1" class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Partner Type</th>
                  <th>Conservation Fee Discount</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(type, index) in allPartnerTypes" :key="index">
                  <td>{{index + 1}}</td>
                  <td>{{type.name}}</td>
                  <td>{{type.conservation_fee_discount}}</td>
                  <td>
                    <v-btn :depressed="true" small color="error" @click="deletePartnerType(type.public_id)" v-if="type.public_id !== '4abc0d64' && type.public_id !== '6bac8c28' && type.public_id !== '90b00b2b'">Disable</v-btn>
                    <v-btn :depressed="true" small v-if="update === false" color="info" @click="amendPartnerType(index)">Amend</v-btn>
                    <v-btn :depressed="true" small v-if="update === true" color="warning" @click="cancelAmmendment()">Cancel Ammendment</v-btn>
                  </td>
                </tr>
                </tbody>
              </table>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      update: false,
      types: {
        name: '',
        desc: '',
        conservation_fee_discount: 0,
        public_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_partner_types')
  },
  methods: {
    amendPartnerType: function (index) {
      console.log(this.allPartnerTypes[index].name)
      this.update = true
      this.types.name = this.allPartnerTypes[index].name
      this.types.desc = this.allPartnerTypes[index].desc
      this.types.conservation_fee_discount = this.allPartnerTypes[index].conservation_fee_discount
      this.types.public_id = this.allPartnerTypes[index].public_id
    },
    cancelAmmendment: function () {
      this.update = false
      this.types.name = ''
      this.types.desc = ''
      this.types.conservation_fee_discount = ''
      this.types.public_id = ''
    },
    deletePartnerType: function (publicId) {
      this.$store.dispatch('delete_partner_type', publicId)
    },
    postMemberType: function () {
      if (this.update === false) {
        this.$store.dispatch('post_partner_type', this.types)
        this.cancelAmmendment()
      } else {
        this.$store.dispatch('update_partner_type', this.types)
        this.cancelAmmendment()
      }
    }
  }
}
</script>

<style>

</style>
