<template>
  <div class="">
    <!--<nav class="navbar navbar-default" >-->
      <!--<div class="container-fluid">-->
         <!--Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header">-->
          <!--<router-link class="navbar-brand" style="margin-left: 50%" :to="{name: 'Index'}">-->
            <!--<img src="/static/Logos/Ol%20Pejeta%20Main/OlPejetaLogo.png" alt="" style="min-width: 10%" width="90%" >-->
          <!--</router-link>-->
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<i class="fa fa-bars fa-lg" style="color: #73a533"></i>-->
          <!--</button>-->
<!---->
        <!--</div>-->
         <!--Collect the nav links, forms, and other content for toggling -->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
          <!--<ul class="nav navbar-nav">-->
            <!--<li><router-link :to="{name: 'SupportUs'}"><h6>Support Us</h6></router-link></li>-->
            <!--<li><router-link :to="{name: 'VolunteerProgram'}"><h6> Volunteer Program</h6></router-link></li>-->
            <!--<li><router-link :to="{name: 'RegisterMember'}"><h6> Become a Member</h6></router-link></li>-->
            <!--<li><router-link :to="{name: 'Index'}"><h6> Reset</h6></router-link></li>-->
          <!--</ul>-->
        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
      <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
    <!--</nav>-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="max-height: 120px" >
      <div class="col-md-6">
        <router-link class="navbar-brand text-center nav-item" style="margin-left: 50%" :to="{name: 'Index'}">
          <!--<img src="/static/Both/Logos/Ol%20Pejeta%20Main/OlPejetaLogo.png" alt="" style="min-width: 10%; max-width: 90%"  width="90%" >-->
        </router-link>
      </div>
      <div class="col-md-6">
        <div class="navbar-nav">
          <div class="nav-item nav-side">
            <a class="navbar-brand box-content text-center" href="#">
              <!--<img src="/static/Public/images/olpejeta-escapes.png" alt="" style="max-width: 40%; margin-left: 30%; margin-right: 30%; min-width: 10%">-->
            </a>
          </div>
          <!--<div class="nav-item nav-side-right"> <router-link :to="{name: ''}"><h6 style="margin-top: 80%">Book Now</h6></router-link></div>-->
          <div class="nav-item nav-side-right"> <router-link :to="{name: 'SupportUs'}"><h4 style="margin-top: 70%">Support Us</h4></router-link></div>
          <div class="nav-item nav-side-right"> <router-link :to="{name: 'VolunteerProgram'}"><h4 style="margin-top: 40%"> Volunteer Program</h4></router-link></div>
          <div class="nav-item nav-side-right"> <router-link :to="{name: 'RegisterMember'}"><h4 style="margin-top: 40%"> Become a Member </h4></router-link></div>
          <div class="nav-item nav-side-right"> <router-link :to="{name: 'Login'}"><h4 style="margin-top: 130%"> Login </h4></router-link></div>
          <div class="nav-item nav-side-right"> <router-link :to="{name: 'Login'}"><h4 style="margin-top: 130%"> Login </h4></router-link></div>
          <!--<li class="nav-item menu-item"> <i class="fa fa-bars fa-lg" style="color: #73a533"></i></li>-->
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'main-nav',
  data () {
    return {
      route: this.$route.name
    }
  },
  methods: {
    clearData: function () {
      localStorage.removeItem('current_booking')
      localStorage.removeItem('current_express_booking')
    }
  },
  mixins: []
}
</script>

<style scoped="PublicNav">
  .nav-side {
    /*padding-bottom: 1%;*/
    /*padding-top: 1%;*/
    padding-left: -2%;
    padding-right: -2%;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
  .nav-side-right {
    min-width: 20px;
    /*padding-bottom: 1%;*/
    /*padding-top: 1%;*/
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid lightgray;
  }

  .menu-item {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  h6 {
    color: #73a533;
    font-size: 70%;
  }
  a {
    text-decoration: none;
  }

</style>
