<template>
  <v-card flat>
    <v-card-title>
      Donations
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allDonations"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{formated_date_time(props.item.created_at)}}</td>
        <td>{{props.item.title}}</td>
        <td>{{props.item.first_name}}</td>
        <td>{{props.item.last_name}}</td>
        <td>{{props.item.payment_options}}</td>
        <td>{{props.item.currency}}</td>
        <td>{{Number(props.item.amount).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,')}}</td>
        <td>{{props.item.payment_status}}</td>
        <td><v-btn :depressed="true" small @click="viewDonation(props.item.public_id)">View Donation</v-btn></td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import DonationsVuex from '../../../mixins/Computed/DonationVuex'
import DateMixin from '../../../mixins/Functions/DateMixins'
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Date',
          value: 'created_at'
        },
        {
          text: 'Title',
          value: 'title'
        },
        {
          text: 'First Name',
          value: 'first_name'
        },
        {
          text: 'Surname',
          value: 'last_name'
        },
        {
          text: 'Donation to',
          value: 'payment_options[0]'
        },
        {
          text: 'Currency',
          value: 'currency'
        },
        {
          text: 'Amount',
          value: 'amount'
        },
        {
          text: 'Payment Status',
          value: 'payment_status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_donations')
  },
  methods: {
    viewDonation: function (publicId) {
      this.$router.push({
        name: 'Donation',
        params: {
          donation_id: publicId
        }
      })
    }
  },
  mixins: [DonationsVuex, DateMixin]
}
</script>

<style>

</style>
