<template>
  <v-container>
    <v-layout row wrap>
        <v-flex lg3 md3 sm6 xs12>
          <v-container>
            <v-card flat>
              <v-container>
                <h4>Cause</h4>
                <h4 class="text-success">{{getDonation.payment_options}}</h4>
              </v-container>
            </v-card>
          </v-container>
        </v-flex>
      <v-flex lg3 md3 sm6 xs12>
        <v-container>
          <v-card flat>
            <v-container>
              <h4>Amount</h4>
              <h4 class="text-success">{{getDonation.currency}} {{getDonation.amount}}</h4>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
    <br>
    <v-layout row wrap>
      <v-flex lg3 md3 sm6 xs12>
        <v-container>
          <div class="hpanel hbgyellow" >
            <div class="panel-body">
              <div class="text-center">
                <h3>DATE REGISTERED</h3>
                <p class="text-big font-light" style="font-size: 20px;">
                  {{formated_date_time(getDonation.created_date)}}
                </p>
              </div>
            </div>
          </div>
          <div class="hpanel hbgorange">
            <div class="panel-body">
              <div class="text-center">
                <h3>{{getDonation.payment_status}}</h3>
              </div>
            </div>
          </div>
          <div class="hpanel hbgblue">
            <div class="panel-body">
              <div class="text-center">
                <h3>{{getDonation.payment_method}}</h3>
              </div>
            </div>
          </div>
        </v-container>
      </v-flex>
      <v-flex lg9 md9 sm6 xs12>
        <v-container>
          <v-card flat>
            <v-container>
              <h3>Details: </h3>
              <br>
              <p><b>First name:</b> {{getDonation.first_name}}</p>
              <p><b>Last name:</b> {{getDonation.sur_name}}</p>
              <p><b>Phone Number:</b> {{getDonation.phone_number}}</p>
              <p><b>Email:</b> {{getDonation.email}}</p>
              <p><b>Country:</b> {{getDonation.country}}</p>
              <p><b>Note:</b> {{getDonation.additional_note}}</p>
              <v-btn color="warning" small :depressed="true" v-if="canceling === false" @click="canceling = true">Cancel</v-btn>
              <v-btn color="error" small :depressed="true" v-if="canceling === true" @click="cancelDonation()">Confirm Cancel</v-btn>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import DonationVuex from '../../../mixins/Computed/DonationVuex'
import DateMixin from '../../../mixins/Functions/DateMixins'
export default {
  data () {
    return {
      canceling: false
    }
  },
  created () {
    this.$store.dispatch('get_donation', this.$route.params.donation_id)
  },
  methods: {
    cancelDonation: function () {
      this.$store.dispatch('delete_donation', this.$route.params.donation_id)
    }
  },
  mixins: [DonationVuex, DateMixin]
}
</script>

<style>

</style>
