<template>
  <pulse-loader :loading="this.$store.state.LoadingStore.loading"></pulse-loader>
</template>

<script>
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
export default {
  name: 'loading',
  data () {
    return {
    }
  },
  components: {
    PulseLoader
  }
}
</script>

<style>

</style>
