<template>
  <div class="">
    <v-layout row wrap>
      <v-flex align-content-space-between  md4 xs12 v-if="activeInventory !== undefined || activeInventory !== null || activeInventory.length > 0  && inventory.thumbnail !== null" v-for="inventory in paymentTrue" :key="inventory.public">
        <v-container fluid>
          <v-card flat hover>
            <router-link :to="{name: 'PActivity', params: {activity_id: inventory.public_id}}">
              <img class="img-responsive" :src="inventory.thumbnail" width="100%">
            </router-link>
            <v-container fluid>
              <router-link style="text-decoration: none" :to="{name: 'PActivity', params: {activity_id: inventory.public_id}}"><h3 style="color: black" class="knockout ">{{inventory.name}}</h3></router-link>
              <span v-if="inventory.pricing_status === 'true'">
            <p>Child Price: {{$localCurrency}} {{$roundOff(convert1(inventory.price.currency_type, inventory.price.child_price).amount)}}. Adult Price: {{$localCurrency}} {{$roundOff(convert1(inventory.price.currency_type, inventory.price.adult_price).amount)}}</p>
          </span>
              <span v-if="inventory.pricing_status === 'false'">
            {{inventory.pricing}}
          </span>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-if="activeInventory === undefined || activeInventory === null || activeInventory.length === 0">
      <v-flex lg4 md12 xs12 sm12 v-for="n in 3" :key="n">
        <v-container fluid>
          <v-card>
            <v-container>
              <content-placeholders :rounded="true">
                <content-placeholders-img />
                <content-placeholders-heading />
              </content-placeholders>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'activities',
  data () {
    return {}
  },
  created () {
    this.$store.dispatch('get_active_activities')
  },
  computed: {
    paymentTrue: function () {
      var activeInventory = []
      this.activeInventory.map(function (data) {
        if (data.pricing_status === 'true' && data.thumbnail !== null) {
          activeInventory.push(data)
        }
      })
      return activeInventory
    }
  },
  methods: {
    inventoryImage: function (image) {
      return 'http://178.79.164.219:8000/var/www/html/opc_services/' + image
    },
    openFacility: function (publicId) {
      this.$router.push({
        name: 'Activity',
        params: {
          inventory: publicId
        }
      })
    },
    getInventoryUrl: function (image) {
      return 'http://178.79.164.219:8000/var/www/html/opc_services/' + image
    }
  }
}
</script>

<style>
  a {
    text-decoration: none;
  }
</style>
