<template>
  <div class="">
    <!--<h3 class="knockout">Campsites</h3>-->
    <v-layout row wrap v-if="paymentTrue !== undefined || paymentTrue !== null || paymentTrue.length > 0">
      <v-flex xs12 md4  v-for="camp in allCampsites" :key="camp.public_id" v-if="camp.pricing_status === 'true' && camp.thumbnail !== null">
        <v-container fluid>
          <v-card flat hover>
            <router-link :to="{name: 'PFacility', params: {facility_id: camp.public_id}}">
              <img class="img-responsive" :src="camp.thumbnail" width="100%">
            </router-link>
            <v-container fluid>
              <router-link style="text-decoration: none" :to="{name: 'PFacility', params: {facility_id: camp.public_id}}"><h3 style="color: black" class="knockout opc_arial">{{camp.name}}</h3></router-link>
              <span v-if="camp.pricing_status === 'true'">
            <p>{{$localCurrency}} {{convert1(camp.price[0].currency_type, camp.price.mandatory_price).amount}} exclusive of night charges</p>
            <h5>Price {{$localCurrency}} {{$roundOff(convert1(camp.price[0].currency_type, camp.price[0].child_price).amount)}} - {{$localCurrency}} {{$roundOff(convert1(camp.price[0].currency_type, camp.price[0].adult_price).amount)}}</h5>
            </span>
              <span v-else>
              <p>{{camp.pricing}}</p>
            </span>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-if="paymentTrue === undefined || paymentTrue === null || paymentTrue.length === 0">
      <v-flex lg4 md12 xs12 sm12 v-for="n in 3" :key="n">
        <v-container fluid>
          <v-card>
            <v-container>
              <content-placeholders :rounded="true">
                <content-placeholders-img />
                <content-placeholders-heading />
              </content-placeholders>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'camp-sites',
  data () {
    return {}
  },
  created () {
    this.$store.dispatch('get_active_camping')
  },
  methods: {
    facilityImage: function (image) {
      return 'http://178.79.164.219:8000/var/www/html/opc_services/' + image
    }
  },
  computed: {
    paymentTrue: function () {
      var activeInventory = []
      this.allCampsites.map(function (data) {
        if (data.pricing_status === 'true' && data.thumbnail !== null) {
          activeInventory.push(data)
        }
      })
      return activeInventory
    }
  }
}
</script>

<style scoped>
  a:hover {
    color: #74a533;
  }
</style>
