<template>
  <div class="container">
    <div class="card">
      <div class="card-content" >
        <div class="container-fluid">
          <div class="row" v-if="route !== 'ExpressCheckout' && route !== 'ExpressBookingInformation' && route !== 'ExpressPaymentInformation'">
            <div class="col-md-12" style="background-color: #74a533; color: white">
              <h3 class="earth" style="margin-left: 5%; padding-top: 25px; padding-bottom: 10px">{{singleFacility.name}} </h3>
            </div>
          </div>
          <div class="row" v-if="route === 'ExpressCheckout' || route === 'ExpressBookingInformation' || route === 'ExpressPaymentInformation'">
            <div class="col-md-12" style="background-color: #74a533; color: white">
              <h3 class="earth" style="margin-left: 5%; padding-top: 25px; padding-bottom: 10px">Express Checkout </h3>
            </div>
          </div>
          <div class="row" v-if="singleFacility.facility_type_id === 'Accomodation' && route !== 'ExpressCheckout'">
            <div class="col-md-12" style="background-color: #0b2e13; color: white; padding-top:15px; padding-bottom:10px">
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'KES' && browserCurrency === 'KES'">Price KES {{singleFacility.price.mandatory_price}}</h5>
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'KES' && browserCurrency === 'USD'">Price {{convertToUsd(singleFacility.price.mandatory_price)}}</h5>
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'USD' && browserCurrency === 'KES'">Price {{convertToKes(singleFacility.price.mandatory_price)}}</h5>
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'USD' && browserCurrency === 'USD'">Price $ {{singleFacility.price.mandatory_price}}</h5>

            </div>
          </div>
          <div class="row" v-if="singleFacility.facility_type_id === 'Camping Sites' && route !== 'ExpressCheckout'">
            <div class="col-md-12" style="background-color: #0b2e13; color: white; padding-top:15px; padding-bottom:10px">
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'KES' && browserCurrency === 'KES'">Price KES {{singleFacility.price.child_price}} - Price KES {{singleFacility.price.adult_price}}</h5>
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'KES' && browserCurrency === 'USD'">Price {{convertToUsd(singleFacility.price.child_price)}} - {{convertToUsd(singleFacility.price.adult_price)}}</h5>
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'USD' && browserCurrency === 'KES'">Price {{convertToKes(singleFacility.price.child_price)}} - {{convertToKes(singleFacility.price.adult_price)}}</h5>
              <h5 class="knockout" v-if="singleFacility.price.currency_type === 'USD' && browserCurrency === 'USD'">Price $ {{singleFacility.price.child_price}} - $ {{singleFacility.price.adult_price}}</h5>
              <br>
              <p v-if="singleFacility.price.currency_type === 'KES' && browserCurrency === 'KES'">(KES {{singleFacility.price.mandatory_price}}) exclusive of night charges</p>
              <p v-if="singleFacility.price.currency_type === 'KES' && browserCurrency === 'USD'">({{convertToUsd(singleFacility.price.mandatory_price)}}) exclusive of night charges</p>
              <p v-if="singleFacility.price.currency_type === 'USD' && browserCurrency === 'KES'">({{convertToUsd(singleFacility.price.mandatory_price)}}) exclusive of night charges</p>
              <p v-if="singleFacility.price.currency_type === 'USD' && browserCurrency === 'USD'">(${{singleFacility.price.mandatory_price}}) exclusive of night charges</p>
            </div>
          </div>
          <!--<div class="row">-->
          <!--<div class="col-md-6">Check In</div>-->
          <!--<div class="col-md-6">Check Out</div>-->
          <!--</div>-->
          <br>
          <div class="row">
            <div class="col-md-12">
              <HotelDatePicker :i18n="date_settings"  @checkInChanged="checkInDate" @checkOutChanged="checkOutDate">
              </HotelDatePicker>
            </div>
          </div>
          <br>
          <guests @guestData="putGuestData($event)"></guests>
          <br>
          <br>
          <div class="row">
            <div class="dropdown col-md-12">
              <button class="btn btn-secondary btn-light dropdown-toggle btn-block" style=" border-radius: 0px;" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{reservation.currency}}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu3" style="width: 200px; margin-top: 10%">
                <div class="container">
                  <button class="btn btn-success btn-lg btn-block" style="border-radius: 0px;" @click="setCurrency('KES')">Kenya Shilling</button>
                </div>
                <br>
                <div class="container">
                  <button class="btn btn-success btn-lg btn-block" style="border-radius: 0px;" @click="setCurrency('USD')">USD</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <button class="btn btn-block green" v-if="route === 'PFacility'" @click="selectAccomodation()">Select Accomodation</button>
        </div>
        <br>
        <div v-if="route === 'ActivitySelection' || route === 'BookingInformation' || route === 'PaymentInfo' || route === 'ExpressCheckout' || route === 'ExpressBookingInformation' || route === 'PaymentInformation' || route === 'ExpressPaymentInformation'" class="container-fluid" style="background-color: #f7f7f7">
          <div class="row container" style="color: gray" v-for="(facility, key) in browserFacilities" :key="key" v-if="route !== 'ExpressCheckout'">
            <div class="col-md-12" style="margin-top: 5%">
              <!--<h5 v-if="index === 0">Your Reservation</h5>-->
              <h6 class="opc_arial">{{facility.name}}</h6>
            </div>
            <div class="col-md-6">
              <h6>x {{getDays(facility.start_date, facility.end_date)}} Nights</h6>
            </div>
            <div class="col-md-6">
              <span>Price {{facilityTotal(facility)}}</span>
            </div>
          </div>
          <hr>
          <!--<div class="row container" style="color: gray">-->
            <!--<div class="col-md-12" style="margin-top: 5%">-->
              <!--<h5>Conservation Entry Fee</h5>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--For the selected {{guests + reservation.citizenChildren + reservation.residentChildren + reservation.nonResidentChildren + reservation.infants}} guests x {{reservation.days}} days.-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<span>Price {{gateEntry}}</span>-->
            <!--</div>-->
          <!--</div>-->
          <!--<hr>-->
          <!--<div class="row container" style="color: gray" v-for="(inventory, index) in inventoryBudget" :key="index">-->
            <!--<div class="col-md-12" style="margin-top: 5%">-->
              <!--<h5 v-if="index === 0">Your Activities</h5>-->
              <!--<h6>{{inventory.name}} on <small>{{formated_date(inventory.date)}}</small></h6>-->
              <!--&lt;!&ndash;<button class="btn btn-sm btn-danger">X</button>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-1">-->
              <!--<button class="btn btn-danger btn-sm" @click="removeInventory(inventory)">x</button>-->
            <!--</div>-->
            <!--<div class="col-md-7">-->
              <!--<small>Adults #: {{inventory.adults_no}}</small>-->
              <!--<small>Children #: {{inventory.children_no}}</small>-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--{{singleInventoryPriceCalculation(inventory)}}-->
            <!--</div>-->
            <!--<hr>-->

          <!--</div>-->
          <!--<hr style="color: gray">-->
          <!--<div class="row container" style="color: gray">-->
            <!--<div class="col-md-12" style="margin-top: 5%">-->
              <!--<h5>Vehicle Entry Fee</h5>-->
              <!--<h6></h6>-->
              <!--&lt;!&ndash;<button class="btn btn-sm btn-danger">X</button>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="col-md-1">-->
            <!--</div>-->
            <!--<div class="col-md-7">-->
            <!--</div>-->
            <!--<div class="col-md-4">-->
              <!--{{vehiclePricingSide}} for {{reservation.days}} days.-->
            <!--</div>-->
            <!--<hr>-->

          <!--</div>-->
          <!--<hr style="color: gray">-->
          <!--<div class="row container" style="margin-top: 5%">-->
            <!--<div class="col-md-6">-->
              <!--<h2>Total</h2>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<h3 >{{totalPrice}}</h3>-->
            <!--</div>-->
          <!--</div>-->
          <br>
          <br>
        </div>
      </div>
    </div>
    {{bookingStatus}}
  </div>
</template>

<script>
import ConservationFee from '../../../mixins/Computed/Booking/ConservationFeeVuex'
import TrueFalse from '../../../mixins/Functions/TrueFalse'
import FacilityVuex from '../../../mixins/Computed/Facility/FacilityVuex'
import HotelDatePicker from 'vue-hotel-datepicker'
import CurrencyVuex from '../../../mixins/Computed/Finance/CurrencyVuex'
import PricingVuex from './../../../mixins/Computed/PricingVuex'
import InventoryVuex from '../../../mixins/Computed/Inventory/InventoryVuex'
import DateMixin from './../../../mixins/Functions/DateMixins'
import BookingVuex from '../../../mixins/Computed/Booking/BookingVuex'
// import SideBooking from '../../mixins/Methods/SideBooking'
import Guests from './Guests'
export default {
  name: 'side-bar',
  data () {
    return {
      route: this.$route.name,
      total: 0,
      date_settings: {
        night: 'Night',
        nights: 'Nights',
        'day-names': ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'],
        'check-in': 'Check-in',
        'check-out': 'Check-Out',
        'month-names': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      },
      reservation: {
        days: 0,
        check_in: '',
        check_out: '',
        currency: 'Currency'
      },
      booking: false
    }
  },
  created () {
    this.$store.commit('BROWSER_FACILITIES', [JSON.parse(localStorage.getItem('facility_data'))])
    this.entryUpdate()
    if (localStorage.getItem('vehicle_data') !== null) {
      this.$store.commit('LOCAL_VEHICLES', JSON.parse(localStorage.getItem('vehicle_data')))
      this.vehicle = JSON.parse(localStorage.getItem('vehicle_data'))
    }
    if (localStorage.getItem('currency') !== null) {
      // this.$store.commit('LOCAL_VEHICLES', JSON.parse(localStorage.getItem('currency')))
    }
    // this.$store.state.PricingStore.inventory_selection = JSON.parse(localStorage.getItem('browser_inventory'))
  },
  computed: {
    bookButton: function () {
      var page = this.route.split('.', 1)
      if (page[0] === 'Index') {
        return 'Make Reservation'
      } else {
        return 'Adjust Reservation'
      }
    }
  },
  components: {
    Guests,
    HotelDatePicker
  },
  methods: {
    putGuestData: function (data) {
      this.reservation = Object.assign(data, this.reservation)
      localStorage.setItem('booking', JSON.stringify(this.reservation))
      this.$store.commit('LOCAL_BOOKING', this.reservation)
    },
    removeInventory: function (index) {
      var inventory = JSON.parse(localStorage.getItem('browser_inventory'))
      inventory.pop(index)
      this.$store.state.PricingStore.inventory_selection = inventory
      localStorage.setItem('browser_inventory', JSON.stringify(inventory))
    },
    entryUpdate: function () {
      if (localStorage.getItem('booking') !== null) {
        this.$store.commit('LOCAL_BOOKING', JSON.parse(localStorage.getItem('booking')))
        var booking = JSON.parse(localStorage.getItem('booking'))
        this.$store.commit('INVENTORY_SELECTION', JSON.parse(localStorage.getItem('browser_inventory')))
        this.reservation = booking
        this.reservation.currency = localStorage.getItem('currency')
        this.date_settings['check-in'] = booking.check_in
        this.date_settings['check-out'] = booking.check_out
      }
    },
    updates: function () {
      localStorage.setItem('booking', JSON.stringify(this.reservation))
      this.$store.commit('LOCAL_BOOKING', this.reservation)
    },
    // Currency
    setCurrency: function (data) {
      this.reservation.currency = data
      localStorage.setItem('currency', data)
      this.$store.state.CurrencyStore.browser_currency = data
    },
    // Date Functions
    checkInDate: function (data) {
      var date = data
      date = this.$moment(date).format('YYYY-MM-DD')
      this.reservation.check_in = date
      var currentDate = localStorage.getItem('booking')
      currentDate = JSON.parse(currentDate)
      currentDate.check_in = date
      localStorage.setItem('booking', JSON.stringify(currentDate))
      localStorage.setItem('check_in', date)
      this.entryUpdate()
    },
    checkOutDate: function (data) {
      var date = data
      date = this.$moment(date).format('YYYY-MM-DD')
      this.reservation.check_out = date
      var currentDate = localStorage.getItem('booking')
      currentDate = JSON.parse(currentDate)
      currentDate.check_out = date
      localStorage.setItem('check_out', date)
      var a = this.$moment(this.$moment(this.reservation.check_in).format('YYYY, MM, DD'))
      var b = this.$moment(this.$moment(this.reservation.check_out).format('YYYY, MM, DD'))
      this.reservation.days = b.diff(a, 'days')
      currentDate.days = b.diff(a, 'days')
      localStorage.setItem('booking', JSON.stringify(currentDate))
      this.entryUpdate()
      this.$store.commit('NUMBER_OF_DAYS', b.diff(a, 'days'))
    },
    selectAccomodation: function () {
      var selectedAccomodation = {
        public_id: this.singleFacility.public_id,
        facility_type: this.singleFacility.facility_type_id,
        accommodation_type: this.singleFacility.accomodation_type_id,
        analysis_code: this.singleFacility.analysis_code,
        start_date: JSON.parse(localStorage.getItem('user_data')).check_in,
        end_date: JSON.parse(localStorage.getItem('user_data')).check_out,
        name: this.singleFacility.name,
        adult_price: this.singleFacility.price.adult_price,
        child_price: this.singleFacility.price.child_price,
        mandatory_price: this.singleFacility.price.mandatory_price,
        children: 0,
        adults: this.getCoservationGuests(),
        currency: this.singleFacility.price.currency_type
      }
      localStorage.setItem('facility_data', JSON.stringify([selectedAccomodation]))
      this.$store.commit('BROWSER_FACILITIES', [selectedAccomodation])
      //    this.$store.state.FacilityStore.browser_facilities = [prices]
      this.$router.push({
        name: 'ActivitySelection'
      })
    }
  },
  mixins: [FacilityVuex, TrueFalse, CurrencyVuex, PricingVuex, InventoryVuex, DateMixin, BookingVuex, ConservationFee]
}
</script>

<style >
  h5 {
    font-family: Arial;
  }
  /* Dropdown Button */

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
