<template>
  <v-card flat>
    <v-card-title>
      Members
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allMembers"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{props.item.memberID}}</td>
        <td>{{props.item.full_name}}</td>
        <td>{{props.item.gender[0]}}</td>
        <td>{{props.item.household_type}}</td>
        <td>{{props.item.level}} ({{props.item.residence}} - {{props.item.setting}})</td>
        <td><span v-if="props.item.payment_status === true">Paid</span><span v-if="props.item.payment_status === false">Pending Payment</span></td>
        <td><v-btn :depressed="true" small @click="viewMember(props.item.public_id)">View Details</v-btn></td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Member ID',
          value: 'memberID'
        },
        {
          text: 'Name',
          value: 'full_name'
        },
        {
          text: 'Gender',
          value: 'gender[0]'
        },
        {
          text: 'House Hold',
          value: 'household_type[0]'
        },
        {
          text: 'Membership Type'
        },
        {
          text: 'Payment Status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_members')
  },
  methods: {
    viewMember: function (publicId) {
      this.$router.push({
        name: 'Member',
        params: {
          member_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
