<!--TODO change image upload-->
<template>
  <div class="panel-body" v-if="singleMember.level !== undefined">
    <v-layout row wrap>
      <v-flex lg4 md4 sm12 xs12>
        <v-card flat>
          <v-container>
            <img alt="member profile image" class="img-circle m-b m-t-md" :src="singleMember.profile_image" width="100%">
            <h1>{{singleMember.full_name}}</h1>
            <h3><b>{{singleMember.level}} ({{singleMember.residence}} - {{singleMember.setting}}) Membership</b></h3>
            <h3>Residence: <b>{{singleMember.level}} ({{singleMember.residence}} - {{singleMember.setting}})</b></h3>
            <h3>Gender: <b>{{singleMember.gender}}</b></h3>
            <h3>Household: <b>{{singleMember.household_type}}</b></h3>
            <h3>Expiry: <b>{{formated_date(singleMember.expiry_date)}}</b></h3>
          </v-container>
        </v-card>
        <v-card flat>
          <v-container>
            <v-layout row wrap>
              <v-flex lg6 md6 sm12 xs12>
                <div class="contact-stat">
                  <vue-core-image-upload
                    class="btn btn__content"
                    :crop="false"
                    @imageuploaded="imageuploaded"
                    inputOfFile="file"
                    :max-file-size="5242880"
                    :url="url()" >
                    Change Image</vue-core-image-upload>
                </div>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-btn color="primary" :depressed="true" @click="remindPayment()">Remind Payment</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
      <v-flex lg8 md8 sm12 xs12>
        <v-container>
          <v-tabs
            v-model="active"
            dark
            slider-color="yellow"
          >
            <v-tab key="visits" ripple>Visits</v-tab>
            <!--<v-tab key="updates" ripple>Updates</v-tab>-->
            <v-tab key="beneficiaries" ripple>Beneficiaries</v-tab>
            <v-tab-item key="visits">
              <v-card flat>
                <table class="table table-striped">
                  <thead>
                  <tr>

                    <th>#</th>
                    <th>Date </th>
                    <th>Inventory Item(s) </th>
                    <th>Check In </th>
                    <th>Check Out </th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </v-card>
            </v-tab-item>
            <!--<v-tab-item key="updates">-->
              <!--<new-member></new-member>-->
            <!--</v-tab-item>-->
            <v-tab-item key="beneficiaries">
              <v-card v-for="(beneficiary, key) in singleMember.family" :key="key" style="margin-bottom: 2%">
                <v-container>
                  <p>Name: <b>{{beneficiary.first_name}} {{beneficiary.sur_name}}</b></p>
                  <p>Email: <b>{{beneficiary.email}}</b></p>
                  <p>Phone: <b>{{beneficiary.phone_number}}</b></p>
                  <p>Gender: <b>{{beneficiary.gender}}</b></p>
                  <p>Date of Birth: <b>{{formated_date(beneficiary.dob)}}</b></p>
                </v-container>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-container>
      </v-flex>
    </v-layout>
    {{updateMember}}
  </div>
</template>
<!--TODO sytle things here-->
<script>
import NewMember from './NewMember.vue'
import VueCoreImageUpload from 'vue-core-image-upload'
export default {
  components: {
    VueCoreImageUpload,
    NewMember},
  data () {
    return {
      active: '',
      member: {
        type: '',
        registration_type: '',
        title: '',
        first_name: '',
        last_name: '',
        email: '',
        telephone_number: '',
        registration_date: '',
        member_id: '',
        postal_address: '',
        identification_number: '',
        gender: '',
        postal_code: '',
        dob: '',
        residence: '',
        household: '',
        children: '',
        partner: {
          title: '',
          first_name: '',
          last_name: '',
          email: '',
          telephone_number: '',
          dob: ''
        }
      },
      existing_member: false
    }
  },
  methods: {
    remindPayment () {
      this.$store.dispatch('remind_membership_payment', this.$route.params.member_id)
    },
    imageuploaded: function () {
      this.$store.dispatch('get_member', this.$route.params.member_id)
    },
    url: function () {
      return this.$imageUniversalUrl() + ':5004/v1/profile/upload/' + this.$route.params.member_id
    }
  },
  beforeCreate () {
    this.$store.dispatch('get_member', this.$route.params.member_id)
  }
}
</script>

<style>

</style>
