<template>
  <div class="row">
    <v-layout row wrap>
      <v-flex lg4 md4 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Add Member Type</v-card-title>
            <v-container>
              <v-form  @submit.prevent="postMembershipType()">
                <v-select
                  label="Select Membership Type"
                  v-model="type.membership_type"
                  :items="allMemberTypes"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="name"
                  item-value="public_id"
                  autocomplete
                  :loading="$loadingTrue"
                ></v-select>
                <v-select
                  label="Select Residency"
                  v-model="type.residence"
                  :items="allResidenceTypes"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="name"
                  item-value="public_id"
                  autocomplete
                  :loading="$loadingTrue"
                ></v-select>
                <v-select
                  label="Select Household"
                  v-model="type.household_id"
                  :items="allOfHouseHolds"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="name"
                  item-value="public_id"
                  autocomplete
                  :loading="$loadingTrue"
                ></v-select>
                <v-text-field
                  label="Name"
                  v-model="type.name"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-text-field
                  label="Number of Persons"
                  v-model="type.num_of_persons"
                  :rules="requiredRules"
                  required
                  min="0"
                  type="number"
                ></v-text-field>
                <v-text-field
                  label="Number of Vehicles"
                  v-model="type.num_of_vehicles"
                  :rules="requiredRules"
                  required
                  min="0"
                  type="number"
                ></v-text-field>
                <v-text-field
                  label="Number of Children"
                  v-model="type.num_of_children"
                  :rules="requiredRules"
                  required
                  type="number"
                ></v-text-field>
                <v-text-field
                  label="Price (KES)"
                  v-model="type.price"
                  :rules="requiredRules"
                  required
                  type="number"
                  min="0"
                  step="0.1"
                ></v-text-field>
                <v-btn :depressed="true" color="info" type="submit" v-if="edit === false">Add</v-btn>
                <v-btn :depressed="true" color="warning" type="submit" v-if="edit === true">Update</v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg8 md8 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>
              Membership Types
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="search"
                text="Search"
                single-line
                hide-details
                v-model="search"
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="columns"
              :items="allMemberSettings"
              :search="search"
              :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
              :disable-initial-sort="true"
              :loading="$loadingTrue"
            >
              <template slot="items" slot-scope="props">
                <td class="fancy">{{ props.item.membership_type}}</td>
                <td class="fancy">{{ props.item.name}}</td>
                <td class="fancy">Persons: {{ props.item.number_of_persons}}. Vehicles: {{props.item.number_of_vehicles}}. Children: {{props.item.number_of_children}} </td>
                <td>{{props.item.residence}}</td>
                <td>{{props.item.price}}</td>
                <td>
                  <v-btn :depressed="true" color="warning" small v-if="edit === false" @click="editMembership(props.item)">Edit</v-btn>
                  <v-btn :depressed="true" color="error" small v-if="edit === true" @click="cancelEdit()">Cancel Edit</v-btn>
                  <v-btn :depressed="true" color="error" small v-if="edit === false" @click="deleteMembershipType(props.item.public_id)">Disable</v-btn>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data () {
    return {
      edit: false,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      search: '',
      type: {
        household_id: '',
        membership_type: '',
        name: '',
        num_of_persons: 1,
        num_of_vehicles: 0,
        num_of_children: 0,
        price: '',
        residence: '',
        public_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      columns: [
        {
          text: 'Type',
          name: 'membership_type'
        },
        {
          text: 'Name',
          name: 'name'
        },
        {
          text: 'Description'
        },
        {
          text: 'Residency',
          name: 'residence'
        },
        {
          text: 'Price (KES)',
          name: 'price'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_house_holds')
    this.$store.dispatch('get_all_membership_settings')
    this.$store.dispatch('get_all_residence_types')
    this.$store.dispatch('get_all_member_types')
  },
  methods: {
    cancelEdit: function () {
      this.edit = false
      this.type.household_id = ''
      this.type.membership_type = ''
      this.type.name = ''
      this.type.num_of_persons = ''
      this.type.num_of_vehicles = ''
      this.type.num_of_children = ''
      this.type.price = ''
      this.type.residence = ''
      this.type.public_id = ''
    },
    editMembership: function (settings) {
      this.edit = true
      this.type.household_id = settings.household_id
      this.type.membership_type = settings.membership_type_id
      this.type.name = settings.name
      this.type.num_of_persons = settings.number_of_persons
      this.type.num_of_vehicles = settings.number_of_vehicles
      this.type.num_of_children = settings.number_of_children
      this.type.price = settings.price
      this.type.residence = settings.residence_id
      this.type.public_id = settings.public_id
      console.log(settings)
    },
    deleteMembershipType: function (publicId) {
      var data = {
        public_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_membership_setting', data)
    },
    postMembershipType: function () {
      if (this.edit === false) {
        this.$store.dispatch('post_member_type', this.type)
      } else {
        this.$store.dispatch('update_member_type', this.type)
      }
      this.cancelEdit()
    }
  }
}
</script>

<style>

</style>
