<template>

  <div class="col-lg-10 col-lg-offset-1">
    <v-card flat>
      <v-card-title> Member Registration</v-card-title>
      <v-form @submit.prevent="postMember()">
        <v-layout row wrap>
        <v-flex lg6 md6 sm12 xs12>
          <v-container fluid>
            <v-select
              label="Payment Method"
              v-model="residence"
              :items="allMemberSettings"
              :rules="[v => !!v || 'Item is required']"
              required
              @change="getResidence"
              item-text="name"
              item-value="type"
              autocomplete
              :loading="$loadingTrue"
            ></v-select>
          </v-container>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12>
          <v-container fluid>
            <v-select
              label="Residency"
              v-model="member.residence"
              :items="selectedResidence"
              :rules="[v => !!v || 'Item is required']"
              required
              item-text="name"
              item-value="public_id"
              :loading="$loadingTrue"
            ></v-select>
          </v-container>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12>
          <v-container fluid>
            <v-select
              label="Type of Household"
              v-model="member.household_type"
              :items="allHouseHoldTypes"
              @change="getHousehold"
              :rules="[v => !!v || 'Item is required']"
              required
              item-text="name"
              item-value="public_id"
              :loading="$loadingTrue"
            ></v-select>
          </v-container>
        </v-flex>
        </v-layout>
        <v-layout row wrap v-if="existing_member === true">
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
              label="Registration Dat"
              v-model="member.registration_date"
              :rules="requiredRules"
              required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Member ID"
                v-model="member.member_id"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Registration Dat"
                v-model="member.registration_date"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container fluid>
              <v-select
                label="Title"
                v-model="member.title"
                :items="['Mr.', 'Mrs.', 'Ms.', 'Dr.', 'Eng.', 'Pst.']"
                @change="getHousehold"
                :rules="[v => !!v || 'Item is required']"
                required
                item-text="name"
                item-value="public_id"
                :loading="$loadingTrue"
              ></v-select>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="First Name"
                v-model="member.first_name"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                label="Surname"
                v-model="member.sur_name"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12>
            <v-container>
              <v-text-field
                label="Surname"
                v-model="member.sur_name"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card>
    <div class="hpanel">
      <div class="panel-heading"  v-if="this.$route.name === 'NewMember'">
        Member Registration
      </div>
      <div class="panel-body">
        <form @submit.prevent="postMember()" class="form-horizontal">
          <div class="row">
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Membership Type *</label>
                <div class="">
                  <select v-model="residence" @change="getResidence()" required="required" class="form-control">
                    <option value="" selected disabled>Select Member Type</option>
                    <option :value="type" v-for="(type, key) in allMemberSettings" :key="key">{{type.name}} - {{type.membership_type}} ({{type.residence}})</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Residency *</label>
                <div class="">
                  <select v-model="member.residence"  class="form-control">
                    <option value="" selected disabled>Select Residency</option>
                    <option :value="residence.public_id" v-for="(residence, key) in selectedResidence" :key="key">{{residence.name[0]}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Type of Household</label>
                <div class="">
                  <select v-model="member.household_type" id="" @change="getHousehold()" class="form-control">
                    <option value="" selected disabled>Select Household Type</option>
                    <option :value="household.public_id" v-for="(household, key) in allHouseHoldTypes" :key="key">{{household.name}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row" v-if="existing_member === true">
            <div class="col-md-5" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Registration Date</label>
                <div class=""><input v-model="member.registration_date" type="date" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-5" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Member ID</label>
                <div class=""><input v-model="member.member_id" type="number" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Title *</label>

                <div >
                  <select v-model="member.title" class="form-control" required="required">
                    <option value="" disabled selected>Select Title</option>
                    <option value="Mr.">Mr.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Eng.">Eng.</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">First Name *</label>

                <div ><input v-model="member.first_name" required="required" type="text" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Surname *</label>

                <div class=""><input v-model="member.sur_name" required="required" type="text" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Gender *</label>
                <div class="row">
                  <div class="col-md-6" v-for="(gender, key) in allGender" :key="key">
                    {{gender.name}} <input class="form-control" type="radio" :value="gender.public_id" v-model="member.gender_id">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Date of Birth *</label>

                <div class=""><input v-model="member.dob" required="required" type="date" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">ID Number/Alien ID (Required for every visit) *</label>

                <div class=""><input v-model="member.id_alien_number"  type="text" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Postal Address *</label>

                <div class=""><input v-model="member.postal_address" required="required" type="text" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Postal Code * </label>

                <div ><input v-model="member.postal_code" required="required" type="number" class="form-control"></div>
              </div>
            </div>
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Email *</label>

                <div class=""><input v-model="member.email" required="required" type="email" class="form-control"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 spacing" style="margin-left: 5%">
              <div class="form-group"><label class="control-label">Telephone Number *</label>

                <div ><input v-model="member.tel_number" required="required" type="tel" placeholder="2547..." class="form-control"></div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-10" style="margin-left: 5%">

            </div>
          </div>
          <hr>
          <div class="" v-if="household === true">
            <!--<div class="">-->
            <div class="row">
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">Title</label>
                  <div class="">
                    <select v-model="member.partner.title" class="form-control" required="required">
                      <option value="" disabled selected>Select Title</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Ms.">Ms.</option>
                      <option value="Dr.">Dr.</option>
                      <option value="Eng.">Eng.</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">Surname</label>

                  <div ><input v-model="member.partner.first_name" type="text" class="form-control"></div>
                </div>
              </div>
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">Sur Name</label>

                  <div class=""><input v-model="member.partner.sur_name"  type="text" class="form-control"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">Gender</label>

                  <div >
                    <div class="row">
                      <div class="col-md-6">
                        Male <input v-model="member.partner.gender" value="1" type="radio" class="form-control">
                      </div>
                      <div class="col-md-6">
                        Female <input v-model="member.partner.gender" value="2" type="radio" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">Date of Birth</label>

                  <div class="">
                    <div class=""><input v-model="member.dob" required="required" type="date" class="form-control"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">ID Number/Alien ID</label>

                  <div class=""><input v-model="member.partner.identification_number"  type="tel" class="form-control"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">Email</label>

                  <div class=""><input v-model="member.partner.email"  type="email" class="form-control"></div>
                </div>
              </div>
              <div class="col-md-3 spacing" style="margin-left: 5%">
                <div class="form-group"><label class="control-label">Telephone Number (e.g. 1-347382374)</label>

                  <div ><input v-model="member.partner.telephone_number" type="tel" placeholder="code - number e.g. 1-347382374" class="form-control"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" >
              <div class="form-group">
                <div class="col-sm-8 col-md-offset-1">
                  <button class="btn btn-primary" type="submit" v-if="this.$route.name === 'NewMember'">Register Member</button>
                  <button class="btn btn-primary" type="submit" v-if="this.$route.name === 'Member'">Update Member</button>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NewMember',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      member: {
        member_setting: '',
        registration_type: '76f0a89',
        title: '',
        first_name: '',
        sur_name: '',
        email: '',
        tel_number: '',
        registration_date: '',
        member_id: '',
        postal_address: '',
        id_alien_number: '',
        gender_id: '',
        postal_code: '',
        dob: '',
        residence: 'berbere',
        household_type: '',
        children: '',
        promo_code: '',
        family: [],
        partner: {
          title: '',
          first_name: '',
          last_name: '',
          email: '',
          telephone_number: '',
          dob: ''
        }
      },
      residence: {},
      existing_member: false,
      household: false
    }
  },
  created () {
    // this.$store.dispatch('get_all_registration_types')
    this.$store.dispatch('get_all_membership_settings')
    this.$store.dispatch('get_member_genders')
  },
  methods: {
    getResidence: function () {
      this.member.member_setting = this.residence.public_id
      this.$store.commit('GET_LOCAL_MEMBERS', this.residence)
      this.$store.dispatch('get_residence_types', this.residence.public_id)
      this.$store.dispatch('get_setting_household', this.residence.public_id)
    },
    getHousehold: function () {
      var household = this.member.household_type
      if (household === 'jnjker') {
        this.household = false
      } else {
        this.household = true
      }
    },
    getmember: function () {
      if (this.member.registration_type === '5d73c26') {
        this.existing_member = true
      } else {
        this.existing_member = false
      }
    },
    postMember: function () {
      if (this.$route.name === 'Member') {
        this.$store.dispatch('update_member', this.member)
      } else {
        if (this.member.registration_type === '76f0a89') {
          this.$store.dispatch('post_member', this.member)
        } else if (this.member.registration_type === '5d73c26') {
          this.$store.dispatch('post_existing_member', this.member)
        } else {
          alert('Select Registration Type')
        }
      }
    }
  }
}
</script>

<style>

</style>
