<template>
  <v-container fluid>
    <v-card flat>
      <v-card-title>Add Currency</v-card-title>
      <v-container>
        <v-form  @submit.prevent="postCurrency()">
          <v-text-field
            label="Name"
            v-model="currency.name"
            :rules="requiredRules"
            required
          ></v-text-field>
          <v-text-field
            label="Sign"
            v-model="currency.sign"
            :rules="requiredRules"
            required
          ></v-text-field>
          <v-text-field
            label="Description"
            v-model="currency.description"
            :rules="requiredRules"
            required
            multi-line
          ></v-text-field>
          <v-btn :depressed="true" color="info" type="submit">Add Currency</v-btn>
        </v-form>
      </v-container>
    </v-card>
  </v-container></template>

<script>
export default {
  name: 'AddCurrency',
  data () {
    return {
      currency: {
        name: '',
        sign: '',
        description: '',
        session_id: localStorage.getItem('lkjhgfdsa')

      }
    }
  },
  methods: {
    postCurrency: function () {
      this.$store.dispatch('post_currency', this.currency)
    }
  }
}
</script>

<style scoped>

</style>
