<template>
    <v-container fluid>
      <v-card flat>
        <v-card-title>Update Exchange Rate</v-card-title>
        <v-container>
          <v-form  @submit.prevent="postCurrency()">
            <v-select
              label="Select Currency"
              v-model="currency.currency_id"
              :items="allCurrencies"
              :rules="[v => !!v || 'Pricing Model Type is required']"
              required
              item-text="full_name"
              item-value="currency_public_id"
              autocomplete
              :loading="$loadingTrue"
            ></v-select>
            <v-text-field
              label="Buying"
              v-model="currency.buy_amount"
              :rules="requiredRules"
              required
              min="0"
              type="number"
            ></v-text-field>
            <v-text-field
              label="Selling"
              v-model="currency.sell_amount"
              :rules="requiredRules"
              required
              min="0"
              type="number"
            ></v-text-field>
            <v-btn :depressed="true" color="warning" type="submit">Update Exchange</v-btn>
          </v-form>
        </v-container>
      </v-card>
    </v-container>
</template>

<script>
import Currency from '../../../mixins/Computed/Finance/CurrencyVuex'
export default {
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      currency: {
        buy_amount: 0,
        sell_amount: 0,
        currency_id: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_currencies')
  },
  methods: {
    postCurrency: function () {
      this.$store.dispatch('post_exchange', this.currency)
    }
  },
  mixins: [Currency]
}
</script>

<style>

</style>
