<template>
  <div class="col-lg-10 col-lg-offset-1">
    <v-container>
      <v-card flat>
        <v-card-title><span v-if="route === 'NewVolunteerProgram'">Add New Volunteer Program</span> <span v-else>Update Volunteer Program</span></v-card-title>
        <v-container>
          <v-form  @submit.prevent="postProgram()">
            <v-flex lg12 md12 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Program Name"
                  v-model="program.name"
                  :rules="requiredRules"
                  required
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg12 md12 sm12 xs12>
              <v-container>
                <label>Program Description</label>
                <vue-editor v-model="program.desc"></vue-editor>
              </v-container>
            </v-flex>
            <v-layout row wrap>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-dialog
                    ref="dialog"
                    persistent
                    v-model="modal1"
                    lazy
                    full-width
                    width="290px"
                    :return-value.sync="program.start_date"
                  >
                    <v-text-field
                      slot="activator"
                      label="Start Date"
                      v-model="program.start_date"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="program.start_date"
                      scrollable
                      :min="today"
                    >
                      <v-spacer></v-spacer>
                      <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                      <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(program.start_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-dialog
                    ref="dialog1"
                    persistent
                    v-model="modal2"
                    lazy
                    full-width
                    width="290px"
                    :return-value.sync="program.end_date"
                  >
                    <v-text-field
                      slot="activator"
                      label="End Date"
                      v-model="program.end_date"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="program.end_date"
                      scrollable
                      :min="program.start_date"
                    >
                      <v-spacer></v-spacer>
                      <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                      <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(program.end_date)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container fluid>
                  <v-select
                    label="Currency"
                    v-model="program.currency"
                    :items="allCurrencies"
                    :rules="[v => !!v || 'Item is required']"
                    required
                    item-text="currency_name"
                    item-value="currency_public_id"
                    autocomplete
                    :loading="$loadingTrue"
                  ></v-select>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="Price"
                    v-model="program.price"
                    :rules="requiredRules"
                    required
                    min="0"
                    type="number"
                  ></v-text-field>
                </v-container>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-container>
                  <v-text-field
                    label="Max Applicants"
                    v-model="program.max_applicants"
                    :rules="requiredRules"
                    required
                    min="0"
                    type="number"
                  ></v-text-field>
                </v-container>
              </v-flex>
            </v-layout>
            <v-container>
              <v-btn :depressed="true" color="info" type="submit" v-if="route === 'NewVolunteerProgram'">Add Program</v-btn>
              <v-btn :depressed="true" color="warning" type="submit"  v-if="route === 'EditProgram'">Update Program</v-btn>
            </v-container>
          </v-form>
        </v-container>
      </v-card>
      {{updateProgram}}
    </v-container>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
import HotelDatePicker from 'vue-hotel-datepicker'
import Facility from '../../../mixins/Computed/Facility/FacilityVuex'
import ProgramVuex from '../../../mixins/Computed/Volunteer/ProgramsVuex'
import Currency from '../../../mixins/Computed/Finance/CurrencyVuex'
import Datepicker from 'vuejs-datepicker'
export default {
  name: 'new-volunteer-program',
  components: {
    HotelDatePicker,
    Datepicker,
    VueEditor
  },
  data () {
    return {
      today: this.$moment().format('YYYY-MM-DD'),
      route: this.$route.name,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      date_settings: {
        night: 'Day',
        nights: 'Days',
        'day-names': ['Sun', 'Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat'],
        'check-in': 'Start-Date',
        'check-out': 'End-Date',
        'month-names': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
      },
      program: {
        public_id: '',
        start_date: '',
        end_date: '',
        currency: '',
        desc: 'No Description',
        name: '',
        price: '',
        max_applicants: '',
        room_id: '',
        session: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    if (this.$route.name === 'EditProgram') {
      this.$store.dispatch('get_program', this.$route.params.program_id)
    }
    this.$store.dispatch('get_all_currencies')
  },
  methods: {
    putStartDate: function () {
      var date = this.program.start_date
      date = this.$moment(date).format('YYYY-MM-DD')
      this.program.start_date = date
    },
    putEndtDate: function () {
      var date = this.program.end_date
      date = this.$moment(date).format('YYYY-MM-DD')
      this.program.end_date = date
    },
    postProgram: function () {
      if (this.route === 'NewVolunteerProgram') {
        this.$store.dispatch('post_program', this.program)
      } else {
        this.$store.dispatch('update_program', this.program)
      }
    }
  },
  computed: {
    disabled_settings: function () {
      var startDate = this.$moment().format('YYYY-MM-DD')
      // var endDate = this.$store.state.BookingStore.local_booking.end_date
      // this.activity.date = this.$moment(startDate).format('YYYY, MM, DD')
      return {
        to: new Date(this.$moment(startDate).format('YYYY, MM, DD'))
        // from: new Date(this.$moment(endDate).add(1, 'd').format('YYYY, MM, DD'))
      }
    }
  },
  mixins: [Facility, ProgramVuex, Currency]
}
</script>

<style scoped>

</style>
