<template>
  <v-container>
    <v-layout row wrap>
      <v-flex lg4 md4 sm12 xs12>
        <!--{{singleVolunteer}}-->
        <v-container>
          <div class="hpanel hbgviolet">
            <div class="panel-body">
              <div class="text-center">
                <h3>NAME</h3>
                <p class="text-big font-light" style="font-size: 30px;">
                  {{singleVolunteer.title}} {{singleVolunteer.full_name}}
                </p>
              </div>
            </div>
          </div>
          <div class="hpanel hbgyellow">
            <div class="panel-body">
              <div class="text-center">
                <h3>COUNTRY</h3>
                <p class="text-big font-light" style="font-size: 20px;">
                  {{singleVolunteer.country}}
                </p>
              </div>
            </div>
          </div>
          <div class="hpanel hbggreen">
            <div class="panel-body">
              <div class="text-center">
                <h3>CONTACTS</h3>
                <p class="text-big font-light" style="font-size: 20px;"><b>Email</b> {{singleVolunteer.email}}</p>
                <p class="text-big font-light" style="font-size: 20px;"><b>Phone Number</b> {{singleVolunteer.tel}}</p>
              </div>
            </div>
          </div>
          <div class="hpanel hbgblue">
            <div class="panel-body">
              <div class="text-center">
                <h3>{{singleVolunteer.payment_status}}</h3>
              </div>
            </div>
          </div>
        </v-container>
      </v-flex>
      <v-flex lg8 md8 sm12 xs12>
        <v-card flat>
          <v-container>
            <p><b>Gender</b> {{singleVolunteer.gender}}</p>
            <br>
            <p><b>Applicant's Age</b> {{singleVolunteer.age}}</p>
            <p><b>Application Date</b> {{formated_date_time(singleVolunteer.date_of_application)}}</p>
            <p><b>ID/Alien ID/ Passport number</b> {{singleVolunteer.id_alien_number}}</p>
            <p><b>ID/Alien ID/Passport Date of Issue</b> {{formated_date(singleVolunteer.date_of_issue)}}</p>
            <p><b>ID/Alien ID/Passport Expiry Date</b> {{formated_date(singleVolunteer.expiry_date)}}</p>
            <p><b>ID/Alien ID/Passport Place of Issue</b> {{singleVolunteer.place_of_issue}}</p>
            <br>
            <p><b>Postal Address</b> {{singleVolunteer.postal_address}}</p>
            <p><b>Postal Code</b> {{singleVolunteer.postal_code}}</p>
            <br>
            <p><b>Dietary Information</b> {{singleVolunteer.dietary}}</p>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'SingleVolunteerApplication',
  data () {
    return {}
  },
  created () {
    this.$store.dispatch('get_volunteer', this.$route.params.applicant_id)
  }
}
</script>

<style scoped>

</style>
