<template>
  <v-card flat>
    <v-card-title>
      All Volunteer Programs
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allPrograms"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{formated_date_time(props.item.created_at)}}</td>
        <td>{{props.item.name}}</td>
        <td>{{props.item.max_applicants}}</td>
        <td>{{props.item.number_of_applicants}}</td>
        <td>{{props.item.number_of_paid_applicants}}</td>
        <td>{{formated_date(props.item.start_date)}}</td>
        <td>{{formated_date(props.item.end_date)}}</td>
        <td>{{props.item.currency}} {{props.item.price}}</td>
        <td><v-btn :depressed="true" small @click="viewProgram(props.item.public_id)">View Details</v-btn></td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
import Programs from '../../../mixins/Computed/Volunteer/ProgramsVuex'
import DateVuex from '../../../mixins/Functions/DateMixins'
export default {
  name: 'volunteer-programs',
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Date',
          value: 'created_at'
        },
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Max Applicants',
          value: 'max_applicants'
        },
        {
          text: 'All Current Applicants',
          value: 'number_of_applicants'
        },
        {
          text: 'All Paid Applicants',
          value: 'number_of_paid_applicants'
        },
        {
          text: 'Start Date',
          value: 'start_date'
        },
        {
          text: 'End Date',
          value: 'end_date'
        },
        {
          text: 'Price'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_programs')
  },
  methods: {
    viewProgram: function (publicId) {
      this.$router.push({
        name: 'MVolunteerProgram',
        params: {
          program_id: publicId
        }
      })
    }
  },
  mixins: [Programs, DateVuex]
}
</script>

<style scoped>

</style>
