<template>
  <div class="">
  <v-layout row wrap>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat>
          <v-container>
            <div class="pull-right">
              <v-btn :depressed="true" small color="warning" @click="deleteProgram()">Delete ({{delete_count}})</v-btn>
              <v-btn :depressed="true" small :to="{name: 'EditProgram', params: {program_id: this.$route.params.program_id}}"> <i class="fa fa-pencil"></i> Edit</v-btn>
            </div>
            <h2 class="m-t-none">{{singleProgram.name}} </h2>
            <p>Created on: <b>{{formated_date_time(singleProgram.created_at)}}</b></p>
            <p>Updated on: <b>{{formated_date_time(singleProgram.updated_at)}}</b></p>
            <p>Price: <b>{{singleProgram.currency_sign}} {{singleProgram.price}}</b></p>
            <p>Start Date: <b>{{formated_date_time(singleProgram.start_date)}}</b></p>
            <p>End Date: <b>{{formated_date_time(singleProgram.end_date)}}</b></p>
            <p>Max Applicants: <b>{{singleProgram.max_applicants}}</b></p>
            <p>Created: <b>{{singleProgram.user}}</b></p>
            <br>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg6 md6 sm12 xs12>
      <program-images></program-images>
    </v-flex>
  </v-layout>
    <v-container fluid>
      <v-tabs
        v-model="active"
        slider-color="warning"
      >
        <v-tab key="pdf-content" ripple v-if="singleProgram.program_pdf !== null">Uploaded PDF</v-tab>
        <v-tab key="enetred-content" ripple>Content</v-tab>
        <v-tab key="contact-content" ripple>Contact List</v-tab>
        <v-tab key="applicants" ripple>Applicants List</v-tab>
        <v-tab-item key="pdf-content" v-if="singleProgram.program_pdf !== null">
          <v-card flat>
            <v-container>
              <pdf
                :src="singleProgram.program_pdf"
                @num-pages="pageCount = $event"
                @page-loaded="currentPage = $event"
                :page="page"
              ></pdf>
              <v-layout row wrap>
                <v-flex lg5 md5 sm12 xs12>
                  <v-btn :depressed="true" color="warning" small @click="page = page +=- 1" block v-if="currentPage >= 2">Back</v-btn>
                </v-flex>
                <v-flex lg2 md2 sm12 xs12>
                  <v-chip class="text-center">{{currentPage}} / {{pageCount}}</v-chip>
                </v-flex>
                <v-flex lg5 md5 sm12 xs12>
                  <v-btn :depressed="true" color="primary" small @click="page = page + 1" block v-if="currentPage < pageCount">Next</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>
        </v-tab-item>
        <v-tab-item key="enetred-content">
          <v-card flat>
            <v-container>
              <span v-html="singleProgram.desc"></span>
            </v-container>
          </v-card>
        </v-tab-item>
        <v-tab-item key="contact-content">
          <volunteer-program-settings/>
        </v-tab-item>
        <v-tab-item key="applicants">
          <v-card flat>
            <v-card-title>
              All {{singleProgram.name}} Applicants
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="search"
                text="Search"
                single-line
                hide-details
                v-model="search"
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="columns"
              :items="programVolunteers"
              :search="search"
              :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
              :disable-initial-sort="true"
            >
              <template slot="items" slot-scope="props">
                <td>{{props.item.title}} {{props.item.full_name}}</td>
                <td>{{props.item.email}}</td>
                <td>{{props.item.tel}}</td>
                <td>{{props.item.payment_status}}</td>
                <td>
                  <v-btn :depressed="true" color="info" small @click="openApplication(props.item.volunteer_id)">View Applicant</v-btn>
                  <v-btn :depressed="true" color="warning" small @click="sendPaymentReminder(props.item)" v-if="props.item.payment_status === 'Pending payment'">Send Payment Reminder</v-btn>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
          </v-card>
        </v-tab-item>
      </v-tabs>
    </v-container>
  </div>
</template>

<script>
import DateMixin from '../../../mixins/Functions/DateMixins'
import ProgramVuex from '../../../mixins/Computed/Volunteer/ProgramsVuex'
import ProgramImages from './ProgramImages'
import pdf from 'vue-pdf'
import VolunteerProgramSettings from './VolunteerProgramSettings'
export default {
  components: {VolunteerProgramSettings, ProgramImages, pdf},
  name: 'volunteer-program',
  data () {
    return {
      active: '',
      type: 1,
      currentPage: 0,
      pageCount: 0,
      page: 1,
      numPages: undefined,
      delete_count: 3,
      search: '',
      columns: [
        {
          text: 'Name',
          value: 'full_name'
        },
        {
          text: 'Email',
          value: 'email'
        },
        {
          text: 'Telephone Number',
          value: 'tel'
        },
        {
          text: 'Payment Status',
          value: 'payment_status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  methods: {
    sendPaymentReminder (volunteer) {
      this.$store.dispatch('remind_volunteer_of_payment', volunteer)
    },
    openApplication (publicId) {
      this.$router.push({
        name: 'SingleVolunteerApplicant',
        params: {
          applicant_id: publicId
        }
      })
    },
    deleteProgram: function () {
      if (this.delete_count > 0) {
        this.delete_count = this.delete_count - 1
      } else {
        var data = {
          session_id: localStorage.getItem('lkjhgfdsa'),
          public_id: this.$route.params.program_id
        }
        this.$store.dispatch('delete_program', data)
      }
    }
  },
  created () {
    this.$store.dispatch('get_program', this.$route.params.program_id)
    this.$store.dispatch('get_program_volunteers', this.$route.params.program_id)
  },
  mixins: [ProgramVuex, DateMixin]
}
</script>

<style scoped>

</style>
