<template>
<div class="">
  <search-tabs v-if="route !== 'Dashboard' && route !== 'Availability'"></search-tabs>
  <!--<div id="hot-preview">-->
    <!--<HotTable :settings="newList"></HotTable>-->
  <!--</div>-->
  <!--<div class="" id="output"></div>-->
  <v-card flat>
    <v-layout row wrap>
      <v-flex lg3 md3 sm4 xs12>
        <v-container fluid>
          <v-select
            label="Status"
            v-model="booking_status_filter"
            :items="$findBookingStatus()"
            :rules="[v => !!v || 'Item is required']"
            required
            autocomplete
          ></v-select>
        </v-container>
      </v-flex>
      <v-flex lg3 md3 sm4 xs12>
        <v-container fluid>
          <v-select
            label="Booking Types"
            v-model="booking_types_filter"
            :items="$findBookingTypes()"
            :rules="[v => !!v || 'Item is required']"
            required
            autocomplete
          ></v-select>
        </v-container>
      </v-flex>
      <v-flex lg3 md3 sm4 xs12>
        <v-container fluid>
          <v-select
            label="Guest Numbers"
            v-model="booking_guest_number_filter"
            :items="$findGuestNumbers()"
            :rules="[v => !!v || 'Item is required']"
            required
            autocomplete
          ></v-select>
        </v-container>
      </v-flex>
      <v-flex lg3 md3 sm4 xs12>
        <v-container fluid>
          <v-select
            label="Has Guest Type(s)"
            v-model="booking_guest_type_filter"
            :items="allConservationFees"
            :rules="[v => !!v || 'Item is required']"
            required
            multiple
            item-text="payment_person"
            item-value="payment_person"
          ></v-select>
        </v-container>
      </v-flex>
    </v-layout>
    <v-card-title>
      <span v-if="route === 'Bookings'"> Upcoming Bookings</span>
      <span v-if="route === 'SearchResults'">Bookings Search Results</span>
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="$filterBooking"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td class="fancy">{{ formated_date_time(props.item.created_at)}}</td>
        <td class="fancy" style="text-transform: uppercase">{{ props.item.booking_ref_code}}</td>
        <td class="fancy" style="text-transform: capitalize">{{ props.item.booking_done_by}}</td>
        <td class="fancy">{{ props.item.booking_type}}</td>
        <td class="fancy">{{ formated_date(props.item.booking_check_in_date)}}</td>
        <td class="fancy">{{ formated_date(props.item.booking_check_out_date)}}</td>
        <td class="fancy">{{ props.item.guest_total}}</td>
        <td class="fancy" v-bind:style="props.item.booking_color">{{ props.item.booking_status}}</td>
        <td class="fancy">{{ props.item.session_user}}</td>
        <td class="fancy">
          <v-btn :depressed="true" small @click="openBooking(props.item.booking_public_id)">View Booking</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
    <v-btn :depressed="true" @click="generateCustomCsv()" color="primary">Generate Report</v-btn>
  </v-card>
</div>
</template>

<script>
import SearchTabs from './FindBooking'
import HotTable from '@handsontable/vue' // or `import HotTable from '@handsontable-pro/vue';` for the Pro version
export default {
  components: {SearchTabs, HotTable},
  name: 'Bookings',
  data () {
    return {
      search: '',
      route: this.$route.name,
      columns: [
        {
          text: 'Created on',
          value: 'created_at'
        },
        {
          text: 'Ref',
          value: 'booking_ref_code'
        },
        {
          text: 'Client Name',
          value: 'booking_done_by'
        },
        {
          text: 'Booking Type',
          value: 'booking_type'
        },
        {
          text: 'Check In',
          value: 'check_in'
        },
        {
          text: 'Check Out',
          value: 'check_out'
        },
        {
          text: 'Number of Guests',
          value: 'guest_total'
        },
        {
          text: 'Status',
          value: 'booking_status'
        },
        {
          text: 'OBTS User',
          value: 'session_user'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    if (this.$route.name === 'Bookings') {
      this.$store.dispatch('get_all_bookings')
    }
    this.$store.dispatch('get_all_conservation_fees')
  },
  updated () {
    this.route = this.$route.name
  },
  computed: {
    newData () {
      var bookings = []
      this.allBookings.map(function (booking) {
        bookings.push(booking)
      })
      return bookings
    },
    newList () {
      // var list = []
      // this.allBookings.map(function (booking) {
      //   list.push(Object.keys(booking).map(function (key) { return booking[key] }))
      // })
      return {
        minCols: 26,
        minRows: 500,
        rowHeaders: true,
        columnSorting: true,
        filters: true,
        dropdownMenu: true,
        contextMenu: true,
        autoRowSize: true,
        manualColumnMove: true,
        manualRowMove: true,
        fillHandle: {
          autoInsertRow: false
        },
        data: this.newData,
        colHeaders: [
          'Created on',
          'Ref',
          'Client Name',
          'Booking Type',
          'Check In',
          'Check Out',
          'Number of Guests',
          'Status'
        ],
        columns: [
          {
            value: 'created_at',
            type: 'date',
            dateFormat: 'MM/DD/YYYY'
          },
          {
            type: 'text',
            value: 'booking_ref_code'
          },
          {
            type: 'text',
            value: 'booking_done_by'
          },
          {
            value: 'booking_type',
            type: 'text'
          },
          {
            type: 'date',
            dateFormat: 'MM/DD/YYYY',
            value: 'booking_check_in_date'
          },
          {
            type: 'date',
            dateFormat: 'MM/DD/YYYY',
            value: 'booking_check_out_date'
          },
          {
            value: 'guest_total',
            type: 'numeric',
            numericFormat: {
              pattern: '0'
            }
          },
          {
            text: 'OBTS User',
            value: 'session_user'
          },
          {
            type: 'text',
            value: 'booking_status'
          }
        ]
      }
    }
  },
  methods: {
    generateCustomCsv () {
      var idList = []
      this.$filterBooking.map(function (booking) {
        idList.push(booking.booking_public_id)
      })
      var data = {
        booking_ids: idList,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('generate_custom_csv', data)
    },
    openBooking: function (publicId) {
      this.$router.push({
        name: 'Booking',
        params: {
          booking_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
