<template>
  <div class="row">
    <v-tabs fixed-tabs v-model="active" slider-color="primary">
      <v-tab key="booking_type" ripple>Booking Types</v-tab>
      <v-tab key="currency" ripple>Destinations</v-tab>
      <v-tab key="pick-up-locations" ripple>Pick Up Locations</v-tab>
      <v-tab-item key="booking_type">
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>New Booking Type</v-card-title>
                <v-container>
                  <v-form  @submit.prevent="postBookingCategory()">
                    <v-text-field
                      label="Name"
                      v-model="booking_type.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Description"
                      v-model="booking_type.description"
                      :rules="requiredRules"
                      required
                      multi-line
                    ></v-text-field>
                    <v-btn :depressed="true" color="info" v-if="edit1 === false" type="submit" :loading="loading">Register</v-btn>
                    <v-btn :depressed="true" color="warning" v-if="edit1 === true" type="submit" :loading="loading">Update</v-btn>
                  </v-form>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Accommodation and Camping Types</v-card-title>
                <v-container>
                  <table cellpadding="1" cellspacing="1" class="table">
                    <thead>
                    <tr>
                      <td>#</td>
                      <td>Name</td>
                      <td>Description</td>
                      <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(booking_type, index) in allBookingTypes" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{booking_type.booking_type_name}}</td>
                      <td>{{booking_type.booking_type_description}}</td>
                      <td>
                        <v-btn :depressed="true" color="warning" small v-if="edit1 === false" @click="editBookingType(booking_type)" :loading="loading">Edit</v-btn>
                        <v-btn :depressed="true" color="error" small  v-if="edit1 === true" @click="resetEdit1()" :loading="loading">Cancel Edit</v-btn>
                        <v-btn :depressed="true" color="error" small v-if="index > 6" @click="deleteBookingType(booking_type.booking_type_public_id)" :loading="loading">Remove</v-btn>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
      </v-tab-item>
      <v-tab-item key="currency">
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>New Destination</v-card-title>
                <v-container>
                  <v-form  @submit.prevent="postDestination()">
                    <v-text-field
                      label="Name"
                      v-model="destination.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-text-field
                      label="Code"
                      v-model="destination.code"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-btn :depressed="true" color="info" v-if="edit2 === false" type="submit" :loading="loading">Add to Destinations</v-btn>
                    <v-btn :depressed="true" color="warning" v-if="edit2 === true" type="submit" :loading="loading">Edit Destination</v-btn>
                  </v-form>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Destinations</v-card-title>
                <v-container>
                  <table cellpadding="1" cellspacing="1" class="table">
                    <thead>
                    <tr>
                      <td>#</td>
                      <td>Name</td>
                      <td>Code</td>
                      <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(d, index) in allDestinations" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{d.destination_name}}</td>
                      <td>{{d.destination_code}}</td>
                      <td>
                        <v-btn :depressed="true" color="warning" small @click="editDestination(d)" :loading="loading">Edit</v-btn>
                        <v-btn :depressed="true" color="error" small @click="deleteDestination(d.destination_public_id)" :loading="loading">Disable</v-btn>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
      </v-tab-item>
      <v-tab-item key="pick-up-locations">
        <v-layout row wrap>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>New Pick Up Location</v-card-title>
                <v-container>
                  <v-form  @submit.prevent="postPickUpLocation()">
                    <v-text-field
                      label="Name"
                      v-model="pick_up_location.name"
                      :rules="requiredRules"
                      required
                    ></v-text-field>
                    <v-btn :depressed="true" color="info" v-if="edit2 === false" type="submit" :loading="loading">Add to Pick Up Location</v-btn>
                    <v-btn :depressed="true" color="warning" v-if="edit2 === true" type="submit" :loading="loading">Edit Pick Up Location</v-btn>
                  </v-form>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-card flat>
                <v-card-title>Pick Up Locations</v-card-title>
                <v-container>
                  <table cellpadding="1" cellspacing="1" class="table">
                    <thead>
                    <tr>
                      <td>#</td>
                      <td>Name</td>
                      <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(d, index) in allPickUpLocations" :key="index">
                      <td>{{index + 1}}</td>
                      <td>{{d.location_name}}</td>
                      <td>
                        <v-btn :depressed="true" color="warning" small @click="editPickUpLocation(d)" :loading="loading">Edit</v-btn>
                        <v-btn :depressed="true" color="error" small @click="deletePickUpLocation(d.location_public_id)" :loading="loading">Disable</v-btn>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </v-container>
              </v-card>
            </v-container>
          </v-flex>
        </v-layout>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
export default {
  data () {
    return {
      edit1: false,
      edit2: false,
      edit3: false,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      booking_type: {
        name: '',
        description: '',
        session_id: localStorage.getItem('lkjhgfdsa'),
        type_id: ''
      },
      destination: {
        name: '',
        code: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      },
      pick_up_location: {
        name: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_booking_types')
    this.$store.dispatch('get_all_destinations')
    this.$store.dispatch('get_all_pick_up_locations')
  },
  computed: {
    loading () {
      return this.$store.state.LoadingStore.loading
    }
  },
  methods: {
    resetEdit1: function () {
      this.edit1 = false
      this.booking_type.name = ''
      this.booking_type.description = ''
      this.booking_type.type_id = ''
    },
    editBookingType: function (bookingType) {
      this.edit1 = true
      this.booking_type.name = bookingType.booking_type_name
      this.booking_type.description = bookingType.booking_type_description
      this.booking_type.type_id = bookingType.booking_type_public_id
    },
    resetEdit2: function () {
      this.edit1 = false
      this.booking_type.name = ''
      this.booking_type.description = ''
      this.booking_type.type_id = ''
    },
    editDestination: function (destination) {
      this.edit2 = true
      this.destination.name = destination.destination_name
      this.destination.code = destination.destination_code
      this.destination.destination_id = destination.destination_public_id
    },
    deleteBookingType: function (publicId) {
      this.$store.dispatch('loading_true')
      var data = {
        type_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_booking_type', data)
    },
    deleteDestination: function (publicId) {
      this.$store.dispatch('loading_true')
      var data = {
        destination_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_destination', data)
    },
    postBookingCategory: function () {
      this.$store.dispatch('loading_true')
      if (this.edit1 === false) {
        this.$store.dispatch('post_booking_type', this.booking_type)
        this.resetEdit1()
      } else {
        this.$store.dispatch('update_booking_type', this.booking_type)
        this.resetEdit1()
      }
    },
    postDestination: function () {
      this.$store.dispatch('loading_true')
      if (this.edit2 === false) {
        this.$store.dispatch('post_destination', this.destination)
      } else {
        this.$store.dispatch('update_destination', this.destination)
      }
    },
    postPickUpLocation: function () {
      this.$store.dispatch('loading_true')
      if (this.edit3 === false) {
        this.$store.dispatch('post_pickuplocation', this.pick_up_location)
      } else {
        this.$store.dispatch('update_pickuplocation', this.pick_up_location)
      }
    },
    resetEdit3: function () {
      this.edit3 = false
      this.pick_up_location.name = ''
      this.pick_up_location.location_id = ''
    },
    editPickUpLocation: function (pickUpLocation) {
      this.edit3 = true
      this.pick_up_location.name = pickUpLocation.location_name
      this.pick_up_location.location_id = pickUpLocation.location_public_id
    },
    deletePickUpLocation: function (publicId) {
      this.$store.dispatch('loading_true')
      var data = {
        location_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_pickuplocation', data)
    }
  }
}
</script>

<style>

</style>
