<template>
  <div class="row">
    <v-layout row wrap>
      <v-flex lg3 md3 sm6 xs12 v-for="(guest, key) in singleBooking.guests" v-if="guest.payment_guests > 0" :key="key">
        <v-container>
          <div class="hpanel">
            <div class="panel-body">
              <div class="stats-title pull-left">
                <h4>{{guest.payment_person}}</h4>
              </div>
              <div class="stats-icon pull-right">
                <i class="fa fa-users fa-2x"></i>
              </div>
              <div class="m-t-xl">
                <h2 class="text-success">{{guest.payment_guests}}</h2>
              </div>
            </div>
          </div>
        </v-container>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex lg4 md4 sm12 xs12>
        <v-container>
          <div class="hpanel hbgviolet">
            <div class="panel-body">
              <div class="text-center">
                <h3>TOTAL GUESTS</h3>
                <p class="text-big font-light" style="font-size: 30px;">
                  {{singleBooking.guest_total}}
                </p>
              </div>
            </div>
          </div>
          <div class="hpanel hbgyellow" v-if="singleBooking.actual_booking_check_in_date !== null">
            <div class="panel-body">
              <div class="text-center">
                <h3>DATE CHECKED IN</h3>
                <p class="text-big font-light" style="font-size: 20px;">
                  {{formated_date(singleBooking.actual_booking_check_in_date)}}
                </p>
              </div>
            </div>
          </div>
          <div class="hpanel hbggreen" v-if="singleBooking.actual_booking_check_in_date === null">
            <div class="panel-body">
              <div class="text-center">
                <h3>CHECK IN DATE</h3>
                <p class="text-big font-light" style="font-size: 20px;">
                  {{formated_date(singleBooking.booking_check_in_date)}}
                </p>
              </div>
            </div>
          </div>
          <div class="hpanel hbgorange" v-if="singleBooking.actual_booking_check_out_date === null">
            <div class="panel-body">
              <div class="text-center">
                <h3>CHECK OUT DATE</h3>
                <p class="text-big font-light" style="font-size: 20px;">
                  {{formated_date(singleBooking.booking_check_out_date)}}
                </p>
              </div>
            </div>
          </div>
          <div class="hpanel hbgorange" v-if="singleBooking.actual_booking_check_out_date !== null">
            <div class="panel-body">
              <div class="text-center">
                <h3>DATE CHECKED OUT </h3>
                <p class="text-big font-light" style="font-size: 20px;">
                  {{formated_date(singleBooking.actual_booking_check_out_date)}}
                </p>
              </div>
            </div>
          </div>
          <!--<div class="hpanel hbgorange">-->
          <!--<div class="panel-body">-->
          <!--<div class="text-center">-->
          <!--<h3>PAID</h3>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <div class="hpanel hbgblue">
            <div class="panel-body">
              <div class="text-center">
                <h3>{{singleBooking.booking_payment_status}}</h3>
                <h3>Balance: {{$localCurrency}} {{convert1(singleBooking.currency, singleBooking.booking_payment_balance).amount.toLocaleString('en')}}</h3>
                <h3>Total Amount: {{$localCurrency}} {{convert1(singleBooking.currency, singleBooking.total_cost).amount.toLocaleString('en')}}</h3>
              </div>
            </div>
          </div>
          <!--<div class="hpanel hbgnavyblue">-->
          <!--<div class="panel-body">-->
          <!--<div class="text-center">-->
          <!--<h3>{{singleBooking.visitor_staff_responsible}}</h3>-->
          <!--<small>Staff Responsible.</small>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </v-container>
      </v-flex>
      <v-flex lg8 md8 sm12 xs12>
        <v-container>
          <div class="hpanel">
            <div class="panel-body">
              <h4 style="float: right">Ref: {{singleBooking.booking_ref_code}}</h4>
              <v-btn :depressed="true" color="error" small @click="openBooking()" v-if="singleBooking.status !== 'Cancelled' && singleBooking.actual_booking_check_in_date === null && $update === true">Update</v-btn>
              <span v-if="localData.user_type_id === '35fcfdaf'">
                      <v-btn :depressed="true" color="error" small @click="openBooking()" v-if="singleBooking.status !== 'Cancelled'">Update</v-btn>
              </span>
              <h2 class="">Facilities Chosen:</h2>
              <ol style="margin-left: 2%">
                <!--<li v-for="{{singleBooking}}"></li>-->
                {{singleBooking.facilities}}
              </ol>
              <br>
              <h2 class="">Activities Chosen:</h2>
              <ol style="margin-left: 2%">
                <li v-for="(activity, key) in singleBooking.inventory_bookings" :key="key">
                  <router-link :to="{name: 'SingleInventory', params: {inventory_id: activity.inventory_id}}">{{activity.inventory_name}}</router-link> on {{formated_date(activity.inventory_booking_date)}}.
                  <br><span class=""><b>Adults</b>: {{activity.inventory_booking_adults}}. <b>Children</b>: {{activity.inventory_booking_children}}.</span>
                </li>
              </ol>
              <br>
              <h2>Details: </h2>
              <p><b>First name:</b> {{singleBooking.booking_details.first_name}}</p>
              <p><b>Last name:</b> {{singleBooking.booking_details.last_name}}</p>
              <p><b>Phone Number:</b> {{singleBooking.booking_details.phone_number}}</p>
              <p><b>Email:</b> {{singleBooking.booking_details.email_address}}</p>
              <p><b>Address:</b> {{singleBooking.booking_details.address}}</p>
              <p><b>Note:</b> {{singleBooking.booking_details.additional_note}}</p>
            </div>
          </div>
          <span v-if="localData.user_type_id !== '35fcfdaf'">
            <v-btn :depressed="true" color="info" v-if="singleBooking.booking_type === 'Partner Booking' && $bookingPaidStatus === false" @click="openPayment()">Add Payment</v-btn>
            <v-btn :depressed="true" color="info" v-if="$bookingPaidStatus === false && singleBooking.booking_type !== 'Partner Booking'" @click="sendReminder()">Send Payment Reminder to User</v-btn>
            <v-btn :depressed="true" color="info" v-if="singleBooking.status !== 'Cancelled' && $bookingPaidStatus === true && singleBooking.actual_booking_check_in_date === null" @click="checkIn()">Check In</v-btn>
            <v-btn :depressed="true" v-if="$bookingPaidStatus === false" @click='$openPayment()'>Add Payment</v-btn>
            <v-btn :depressed="true" color="info" v-if="singleBooking.actual_booking_check_out_date === null && singleBooking.actual_booking_check_in_date !== null" @click="checkOut()">Check Out</v-btn>
            <v-btn :depressed="true" color="warning" v-if="singleBooking.status !== 'Cancelled' && canceling === false && singleBooking.actual_booking_check_out_date === null" @click="canceling = true">Cancel Booking</v-btn>
            <v-btn :depressed="true" color="error" v-if="singleBooking.status !== 'Cancelled' && canceling === true" @click="cancelBooking()">Confirm Booking Cancellation</v-btn>
            <v-btn :depressed="true" color="info" @click="reprintReceipt()">Request Receipt</v-btn>
          </span>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data () {
    return {
      localData: JSON.parse(localStorage.getItem('unem')),
      canceling: false
    }
  },
  computed: {
    totalCost: function () {
      // var booking_facility_inventory_total = this.singleBooking.booking_facility_inventory_total
      // var booking_facility_inventory_total = this.singleBooking.facility_bookings[0].facility_cost
      // var gate_entry_citizen_resident_total = this.singleBooking.gate_entry_citizen_resident_total
      // var gate_entry_non_resident_total = this.singleBooking.gate_entry_non_resident_total
      return null
    }
  },
  methods: {
    reprintReceipt () {
      var data = {
        booking_id: this.$route.params.booking_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('request_receipt', data)
    },
    checkIn: function () {
      this.$router.push({
        name: 'Checkin',
        params: {
          booking_id: this.$route.params.booking_id
        }
      })
    },
    checkOut: function () {
      var data = {
        booking_id: this.$route.params.booking_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('check_out_booking', data)
    },
    cancelBooking: function () {
      this.canceling = false
      var data = {
        booking_id: this.$route.params.booking_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_booking', data)
    },
    openBooking: function () {
      this.$router.push({
        name: 'EditBooking',
        params: {
          booking_id: this.$route.params.booking_id
        }
      })
    },
    openPayment: function () {
      this.$router.push({
        name: 'GatePayment',
        params: {
          booking_id: this.$route.params.booking_id
        }
      })
    },
    sendReminder: function () {
      this.$store.dispatch('send_email_payment_reminder', this.$route.params.booking_id)
    }
  },
  created () {
    this.$store.dispatch('get_booking', this.$route.params.booking_id)
  }
}
</script>

<style>

</style>
