<template>
  <div class="col-lg-10 col-lg-offset-1" style="margin-top: 2%">
    <v-card flat>
      <v-layout row wrap>
        <v-flex lg12 md12 sm12 xs12>
          <v-container fluid>
            <v-select
              label="Select Entrance"
              v-model="checkin.source"
              :items="allGates"
              :rules="[v => !!v || 'Entrance is required']"
              required
              item-text="gate_name"
              item-value="gate_public_id"
              :loading="$loadingTrue"
            ></v-select>
          </v-container>
        </v-flex>
        <v-flex lg3 md3 sm12 xs12>
          <v-container>
            <v-text-field
              label="Driver's Name"
              v-model="details.name"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <v-flex lg3 md3 sm12 xs12>
          <v-container>
            <v-text-field
              label="Vehicle Registration"
              v-model="details.registration"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <v-flex lg3 md3 sm12 xs12>
          <v-container>
            <v-text-field
              label="Vehicle Disk"
              v-model="details.vehicle_disk"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <v-flex lg3 md3 sm12 xs12>
          <v-container>
            <v-btn :depressed="true" block @click="postDetails()">Add Details</v-btn>
          </v-container>
        </v-flex>
      </v-layout>
    </v-card>
    <v-card flat>
      <table cellpadding="1" cellspacing="1" class="table">
        <thead>
        <tr>
          <td>Driver</td>
          <td>Vehicle</td>
          <td>Disk</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(vehicle, key) in checkin.vehicles" :key="key">
          <td>{{vehicle.driver_name}}</td>
          <td>{{vehicle.reg_plate}}</td>
          <td>{{vehicle.disk}}</td>
        </tr>
        </tbody>
      </table>
      <br>
      <v-btn :depressed="true" @click="checkIn()">Complete Check In</v-btn>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'check-in',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      details: {
        registration: '',
        vehicle_disk: '',
        name: ''
      },
      checkin: {
        booking_id: this.$route.params.booking_id,
        session_id: localStorage.getItem('lkjhgfdsa'),
        vehicles: [],
        source: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_gates')
  },
  methods: {
    postDetails: function () {
      var data = {
        reg_plate: this.details.registration,
        disk: this.details.vehicle_disk,
        driver_name: this.details.name
      }
      this.checkin.vehicles.push(data)
      this.details.registration = ''
      this.details.vehicle_disk = ''
      this.details.name = ''
    },
    checkIn: function () {
      this.$store.dispatch('post_checkin', this.checkin)
    }
  }
}
</script>

<style scoped>

</style>
