<template>
  <v-card flat>
    <v-card-title>
      Confirmed Bookings
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="confirmedBookings"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{props.item.booking_ref_code}}</td>
        <td>{{formated_date(props.item.created_at)}}</td>
        <td>{{formated_date(props.item.booking_check_in_date)}}</td>
        <td>{{formated_date(props.item.booking_check_out_date)}}</td>
        <td>{{props.item.booking_done_by}}</td>
        <td>{{props.item.booking_type}}</td>
        <td><v-btn :depressed="true" small @click="viewBooking(props.item.booking_public_id)">View</v-btn></td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Ref',
          value: 'booking_ref_code'
        },
        {
          text: 'Booking Lodged on',
          value: 'created_at'
        },
        {
          text: 'Check In Date',
          value: 'booking_check_in_date'
        },
        {
          text: 'Check Out Date',
          value: 'booking_check_out_date'
        },
        {
          text: 'Client',
          value: 'booking_done_by'
        },
        {
          text: 'Booking Type',
          value: 'booking_type'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_confirmed_bookings')
  },
  methods: {
    viewBooking: function (publicId) {
      this.$router.push({
        name: 'Booking',
        params: {
          booking_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
