<template>
<div class="">
  <!--{{singleBooking.booking_type_id}}-->
  <div class="" v-if="singleBooking.booking_type_id === 'FF9330A3' || singleBooking.booking_type_id === 'GB601X10'">
    <gate-entry-ticket></gate-entry-ticket>
  </div>
  <div class="" v-if="singleBooking.booking_type_id === 'PB001A20'">
    <tour-operator-booking></tour-operator-booking>
  </div>
</div>
</template>

<script>
import BookingVuex from '../../../mixins/Computed/Booking/BookingVuex'
import GateEntryTicket from './Snippets/GateEntryTicket'
import TourOperatorBooking from './Snippets/TourOperatorBooking'
export default {
  components: {GateEntryTicket, TourOperatorBooking},
  name: 'edit-booking',
  data () {
    return {}
  },
  created () {
    this.$store.dispatch('get_all_destinations')
    this.$store.dispatch('get_booking', this.$route.params.booking_id)
    this.$store.dispatch('get_active_camping')
    this.$store.dispatch('get_active_accommodation')
    this.$store.dispatch('get_active_facilities')
    this.$store.dispatch('get_active_activities')
    localStorage.setItem('vehicle_data', JSON.stringify([]))
    localStorage.setItem('conservation_data', JSON.stringify([]))
    localStorage.setItem('facility_data', JSON.stringify([]))
    localStorage.setItem('activity_data', JSON.stringify([]))
  },
  mixins: [BookingVuex]
}
</script>

<style scoped>

</style>
