<template>
  <div class="col-lg-10 col-lg-offset-1">
    <div class="hpanel">
        <div class="col-lg-12">
          <div class="hpanel">
            <div class="panel-body">
              <div class="m-t-sm">
                <v-form @submit.prevent="searchTerm()">
                  <v-layout row wrap>
                    <v-flex lg10 md10 sm10 xs10>
                      <v-container>
                        <v-text-field
                          label="Search Reference Number/Client Name/Organization.."
                          v-model="term.key"
                          :rules="requiredRules"
                          required
                        ></v-text-field>
                      </v-container>
                    </v-flex>
                    <v-flex lg2 md2 sm2 xs2>
                      <v-container fluid>
                        <v-btn :depressed="true" color="info" type="submit"><i class="fa fa-search"></i></v-btn>
                        <v-btn :depressed="true" color="error" @click="reset()">Reset</v-btn>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-form>
              </div>
              <div class="m-t-sm">
                <v-form @submit.prevent="searchRange()">
                  <v-layout row wrap>
                    <v-flex lg5 md5 sm5 xs12>
                      <v-container>
                        <v-dialog
                          ref="dialog"
                          persistent
                          v-model="modal1"
                          lazy
                          full-width
                          width="290px"
                          :return-value.sync="range.start_date"
                        >
                          <v-text-field
                            slot="activator"
                            label="Start Date"
                            v-model="range.start_date"
                            readonly
                          ></v-text-field>
                          <v-date-picker v-model="range.start_date" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                            <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(range.start_date)">OK</v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-container>
                    </v-flex>
                    <v-flex lg5 md5 sm5 xs12>
                      <v-container>
                        <v-dialog
                          ref="dialog1"
                          persistent
                          v-model="modal2"
                          lazy
                          full-width
                          width="290px"
                          :return-value.sync="range.end_date"
                        >
                          <v-text-field
                            slot="activator"
                            label="End Date"
                            v-model="range.end_date"
                            readonly
                          ></v-text-field>
                          <v-date-picker v-model="range.end_date" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                            <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(range.end_date)">OK</v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-container>
                    </v-flex>
                      <v-flex lg2 md2 sm2 xs12>
                      <v-container fluid>
                        <v-btn :depressed="true" color="info" type="submit"><i class="fa fa-search"></i></v-btn>
                        <v-btn :depressed="true" color="error" @click="reset()">Reset</v-btn>
                      </v-container>
                    </v-flex>
                  </v-layout>
                </v-form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import HotelDatePicker from 'vue-hotel-datepicker'
export default {
  name: 'SearchTabs',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      term: {
        key: ''
      },
      range: {
        start_date: '',
        end_date: ''
      }
    }
  },
  components: {
    HotelDatePicker
  },
  methods: {
    searchTerm: function () {
      this.$store.dispatch('search_booking_by_key', this.term)
    },
    searchRange: function () {
      this.$store.dispatch('search_checked_in_by_date_range', this.range)
    },
    reset () {
      this.range.start_date = ''
      this.range.end_date = ''
      this.term.key = ''
      this.$store.dispatch('get_all_bookings')
    }
  }
}
</script>

<style>

</style>
