<template>
  <div class="">
  <v-card flat>
     <v-container>
       <!--<h3 class="text-center">Amount: {{singleBooking.currency}} {{Number(singleBooking.total_cost).toLocaleString('en')}}</h3>-->
     </v-container>
      <v-layout row wrap v-if="singleBooking.booking_payment_status !== 'Paid'">
        <v-flex lg6 md6 sm12 xs12>
          <v-container fluid>
            <v-select
              label="Mode of Payment"
              :items="bookingPaymentMethods"
              :rules="[v => !!v || 'Mode of payment is required']"
              required
              @change="selectedPayment"
              item-text="payment_method_name"
              autocomplete
              :loading="$loadingTrue"
            ></v-select>
          </v-container>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12>
          <v-container>
            <v-text-field
              label="Payment"
              v-model="payment.payment_amount"
              :rules="requiredRules"
              required
            ></v-text-field>
            <b>Current Balance: {{singleBooking.booking_payment_balance}} In {{singleBooking.currency}}</b>
          </v-container>
        </v-flex>
        <!--Card payment-->
        <v-flex lg6 md6 sm12 xs12 v-if="payment.mode === 0">
          <v-container>
            <v-text-field
              label="Card first 4"
              v-model="payment.first_four"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12 v-if="payment.mode === 0">
          <v-container>
            <v-text-field
              label="Last 4 digits"
              v-model="payment.last_four"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <!--Mpesa-->
        <v-flex lg6 md6 sm12 xs12 v-if="payment.mode === 1">
          <v-container>
            <v-text-field
              label="Payer's Phone"
              v-model="payment.phone"
              :rules="requiredRules"
              required
            ></v-text-field>
            <small>Safaricom Number</small>
          </v-container>
        </v-flex>
        <v-flex lg6 md6 sm12 xs12 v-if="payment.mode === 1">
          <v-container>
            <v-btn :depressed="true" @click.prevent="requestMpesaPayment()" block>Request Payment</v-btn>
          </v-container>
        </v-flex>
        <!--Other Payment-->
        <v-flex lg12 md12 sm12 xs12 v-if="payment.mode === 2">
          <v-container>
            <v-text-field
              label="Reference Number"
              v-model="payment.mpesa_ref"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <v-flex lg12 md12 sm12 xs12 v-if="payment.mode === 3">
          <v-container>
            <v-text-field
              label="Name"
              v-model="payment.name"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <v-flex lg12 md12 sm12 xs12 v-if="payment.mode === 3">
          <v-container>
            <v-text-field
              label="Reference"
              v-model="payment.mpesa_ref"
              :rules="requiredRules"
              required
            ></v-text-field>
          </v-container>
        </v-flex>
        <v-btn :depressed="true" @click.prevent="submitPayment()">Submit Payment</v-btn>
      </v-layout>
      <v-layout  v-if="singleBooking.booking_payment_status === 'Paid'">
        <h4 v-if="singleBooking.booking_payment_status === 'Paid'"> This Booking has been paid for.</h4>
        <v-btn :depressed="true" v-if="singleBooking.booking_payment_status === 'Paid'" @click='openCheckIn()' class="btn pantone">Check In</v-btn>
      </v-layout>
    {{amount}}
    </v-card>
    <br>
    <h3>Current Booking Payments</h3>
  <v-data-table
    :headers="columns"
    :items="singleBooking.booking_payments"
    :search="search"
    :disable-initial-sort="true"
    :loading="$loadingTrue"
  >
    <template slot="items" slot-scope="props">
      <td class="fancy">{{ formated_date_time(props.item.transaction_date) }}</td>
      <td class="fancy">{{ props.item.payment_method }}</td>
      <td class="fancy">{{props.item.currency}} {{ $roundOff(props.item.transaction_total) }}</td>
      <td class="fancy">{{props.item.currency}} {{ $roundOff(props.item.transaction_balance) }}</td>
      <td class="fancy">{{props.item.currency}} {{ $roundOff(props.item.transaction_original_cost) }}</td>
    </template>
    <v-alert slot="no-results" :value="true" color="error" icon="warning">
      Your search for "{{ search }}" found no results.
    </v-alert>
  </v-data-table>
  </div>
</template>

<script>
export default {
  name: 'gate-payment',
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Registered on',
          value: 'transaction_date'
        },
        {
          text: 'Payment Type',
          value: 'payment_method'
        },
        {
          text: 'Amount Paid',
          value: 'transaction_total'
        },
        {
          text: 'Balance',
          value: 'transaction_balance'
        },
        {
          text: 'Original Balance',
          value: 'transaction_original_cost'
        }
      ],
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      payment: {
        booking_id: this.$route.params.booking_id,
        booking_amount: '',
        payment_amount: '',
        mode: '',
        mpesa_ref: '',
        phone: '254',
        last_four: '',
        first_four: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_booking', this.$route.params.booking_id)
    this.$store.dispatch('get_all_payment_methods')
  },
  computed: {
    amount () {
      if (this.singleBooking.booking_payment_balance === 0) {
        this.openCheckIn()
      }
      return null
      // var amount = this.singleBooking.total_cost
      // var balance = Number(amount) - Number(this.payment.payment_amount)
      // return balance
    }
  },
  methods: {
    openCheckIn: function () {
      this.$router.push({
        name: 'Checkin',
        params: {
          booking_id: this.$route.params.booking_id
        }
      })
    },
    selectedPayment: function (data) {
      this.payment.mode = this.bookingPaymentMethods.indexOf(data)
      this.payment.payment_method = data.payment_method_public_id
      console.log(this.payment.mode)
    },
    submitPayment: function () {
      this.payment.booking_amount = this.singleBooking.total_cost
      this.$store.dispatch('post_payment', this.payment)
      this.payment = {
        payment_method: '',
        booking_id: this.$route.params.booking_id,
        booking_amount: '',
        payment_amount: '',
        mode: '',
        mpesa_ref: '',
        phone: '254',
        last_four: '',
        first_four: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    },
    requestMpesaPayment: function () {
      var data = {
        phone: this.payment.phone,
        payment_amount: this.payment.payment_amount,
        booking_id: this.$route.params.booking_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('booking_mpesa_request', data)
    }
  }
}
</script>

<style>

</style>
