<template>
<div class="">
  <div class="col-lg-12">
    <div class="hpanel">
      <br>
      <div class="panel-body p-xl">
        <v-layout row wrap>
          <v-flex lg3 md3 sm12 xs12>
            <h4>Booking ID: {{singleBooking.booking_ref_code}}</h4>
          </v-flex>
          <v-flex lg3 md3 sm12 xs12 offset-lg6 offset-md6>
            <address>
              Guest: <strong>{{singleBooking.booking_done_by}}</strong><br>
              Tel: <strong>{{singleBooking.booking_details.phone_number}}</strong><br>
              Destination: <strong>{{singleBooking.destination}}</strong><br>
              Payment Status: <strong>{{singleBooking.booking_payment_status}}</strong><br>
            </address>
            <p>
              <span><strong>Check in Date:</strong> {{formated_date(singleBooking.booking_check_in_date)}}</span><br/>
              <span><strong>Check out Date:</strong> {{formated_date(singleBooking.booking_check_out_date)}}</span><br/>
            </p>
          </v-flex>
        </v-layout>

        <div class="table-responsive m-t">
          <h4>Conservancy fees</h4>
          <table class="table table-striped">
            <thead>
            <tr>
              <td><b>Residency</b></td>
              <td><b>Guests</b></td>
              <td><b>Amount</b></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(guest, key) in singleBooking.guests" v-if="guest.payment_guests > 0" :key="key">
              <td>{{guest.payment_person}}</td>
              <td>{{guest.payment_guests}}</td>
              <td>{{guest.payment_person_currency}} {{$roundOff(guest.payment_guests * guest.payment_person_amount * guest.no_of_nights * ((100 - guest.payment_person_discount) / 100))}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive m-t">
          <h4>Conservancy Vehicle fees</h4>
          <table class="table table-striped">
            <thead>
            <tr>
              <td><b>Vehicle Type</b></td>
              <td><b>No. of Vehicles</b></td>
              <td><b>Amount</b></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(vehicle, key) in singleBooking.vehicles" v-if="vehicle.vehicles > 0" :key="key">
              <td>{{vehicle.vehicle_charge_category}}</td>
              <td>{{vehicle.vehicles}}</td>
              <td>{{singleBooking.currency}} {{$roundOff(convert1(vehicle.vehicle_charge_cost_currency, vehicle.vehicles * vehicle.vehicle_charge_category_cost * vehicle.vehicle_no_of_nights  * ((100 - vehicle.discount) / 100)).amount)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive m-t" v-if="singleBooking.facility_bookings.length > 0">
          <h4>Conservancy Accommodation</h4>
          <table class="table table-striped">
            <thead>
            <tr>
              <td><b>Name</b></td>
              <td><b>Guests</b></td>
              <td><b>Date In</b></td>
              <td><b>Date Out</b></td>
              <td><b>Amount</b></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(facility, key) in singleBooking.facility_bookings" :key="key">
              <td>{{facility.facility_name}}</td>
              <td>{{facility.facility_booking_guests}}</td>
              <td>{{formated_date(facility.facility_booking_check_in_date)}}</td>
              <td>{{formated_date(facility.facility_booking_check_out_date)}}</td>
              <td>{{facility.facility_booking_currency}} {{$roundOff(facility.facility_booking_total_cost)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive m-t" v-if="singleBooking.inventory_bookings.length > 0">
          <h4>Conservancy Activities</h4>
          <table class="table table-striped">
            <thead>
            <tr>
              <td><b>Name</b></td>
              <td><b>Guests</b></td>
              <td><b>Date</b></td>
              <td><b>Amount</b></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(activity, key) in singleBooking.inventory_bookings" :key="key">
              <td>{{activity.inventory_name}}</td>
              <td>{{activity.inventory_booking_guests}}</td>
              <td>{{formated_date(activity.inventory_booking_date)}}</td>
              <td>{{activity.inventory_booking_currency}} {{$roundOff(activity.inventory_booking_total_cost)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row m-t">
          <div class="col-md-4 col-md-offset-8">
            <table class="table table-striped text-right">
              <tbody>
              <!--<tr>-->
                <!--<td><strong>Sub Total :</strong></td>-->
                <!--<td>00</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td><strong>TAX :</strong></td>-->
                <!--<td>0</td>-->
              <!--</tr>-->
              <tr>
                <td><h2>TOTAL :</h2></td>
                <td><h2>{{singleBooking.currency}} {{$roundOff(singleBooking.total_cost)}}</h2></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <v-btn :depressed="true" v-if="$bookingPaidStatus === false && singleBooking.booking_type_id === 'PB001A20' || $update === true" @click="openBooking()" color="error" >Update</v-btn>
            <!--<div class="m-t"><strong>Comments</strong>-->
              <!--It is a long established fact that a reader will be distracted by the readable content of a page-->
              <!--when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less-->
            <!--</div>-->
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</template>

<script>
import GatePayment from './GatePayment'
export default {
  components: {GatePayment},
  data () {
    return {
    }
  },
  methods: {
    openBooking: function () {
      this.$router.push({
        name: 'EditBooking',
        params: {
          booking_id: this.$route.params.booking_id
        }
      })
    },
    openCheckIn: function () {
      this.$router.push({
        name: 'Checkin',
        params: {
          booking_id: this.$route.params.booking_id
        }
      })
    },
    openPayment: function () {
      this.$router.push({
        name: 'GatePayment',
        params: {
          booking_id: this.$route.params.booking_id
        }
      })
    },
    goBack: function () {
      this.$router.go(-2)
    }
  },
  computed: {
    total: function () {
      var gateCheck = this.gateDefaults
      var size = gateCheck.length
      var total = 0
      if (size > 0) {
        var gate = this.gateDefaults[0]
        var Adulttotal = 0
        var Childtotal = 0
        var Studenttotal = 0
        Adulttotal = (this.gatePass.guests[0].ea_adult_citizen * gate.payment_citizen_adult_amount) + (this.gate_pass.AdultResident * gate.payment_ea_resident_adult_amount) + (this.gate_pass.NonResident * gate.payment_non_resident_adult_amount * localStorage.getItem('base'))
        Childtotal = (this.gatePass.guests[0].ea_child_citizen * gate.payment_citizen_child_amount) + (this.gate_pass.EaChildCitizenResident * gate.payment_ea_resident_child_amount) + (this.gate_pass.ChildNonResident * gate.payment_non_resident_child_amount * localStorage.getItem('base'))
        Studenttotal = (this.gate_pass.CitizenStudent * gate.payment_citizen_student_amount) + (this.gate_pass.EAResidentStudent * gate.payment_ea_resident_student_amount) + (this.gate_pass.NonResidentStudent * gate.payment_non_resident_student_amount * localStorage.getItem('base'))
      }
      total = Adulttotal + Childtotal + Studenttotal
      return total
    },
    usd_total: function () {
      console.log(localStorage.getItem('base'))
      var gateCheck = this.gateDefaults
      var size = gateCheck.length
      var total = 0
      if (size > 0) {
        var gate = this.gateDefaults[0]
        var Adulttotal = 0
        var Childtotal = 0
        var Studenttotal = 0
        Adulttotal = Number(this.gatePass.guests[0].ea_adult_citizen * gate.payment_citizen_adult_amount / localStorage.getItem('base')) + Number(this.gate_pass.AdultResident * gate.payment_ea_resident_adult_amount / localStorage.getItem('base')) + Number(this.gate_pass.NonResident * gate.payment_non_resident_adult_amount)
        Childtotal = Number(this.gatePass.guests[0].ea_child_citizen * gate.payment_citizen_child_amount / localStorage.getItem('base')) + Number(this.gate_pass.EaChildCitizenResident * gate.payment_ea_resident_child_amount / localStorage.getItem('base')) + Number(this.gate_pass.ChildNonResident * gate.payment_non_resident_child_amount)
        Studenttotal = Number(this.gate_pass.CitizenStudent * gate.payment_citizen_student_amount / localStorage.getItem('base')) + Number(this.gate_pass.EAResidentStudent * gate.payment_ea_resident_student_amount / localStorage.getItem('base')) + Number(this.gate_pass.NonResidentStudent * gate.payment_non_resident_student_amount)
      }
      total = Adulttotal + Childtotal + Studenttotal
      return total
    }
  },
  created () {
    this.$store.dispatch('get_booking', this.$route.params.booking_id)
  }
}
</script>

<style>

</style>
