<template>
  <v-card flat>
    <v-card-title>
      Pending Partner Bookings
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="pendingPartnerBookings"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td class="fancy">{{ props.item.booking_ref_code}}</td>
        <td class="fancy">{{ formated_date(props.item.booking_check_in_date)}}</td>
        <td class="fancy">{{ formated_date(props.item.booking_check_out_date)}}</td>
        <td class="fancy">{{ props.item.guest_total}}</td>
        <td class="fancy">{{ props.item.booking_status}}</td>
        <td class="fancy">
          <v-btn :depressed="true" small @click="openBooking(props.item.booking_public_id)">View Booking</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  name: 'pending-partner-bookings',
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Ref',
          value: 'booking_ref_code'
        },
        {
          text: 'Check In',
          value: 'check_in'
        },
        {
          text: 'Check Out',
          value: 'check_out'
        },
        {
          text: 'Number of Guests',
          value: 'guest_total'
        },
        {
          text: 'Status',
          value: 'booking_status'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_pending_partner_bookings')
  },
  methods: {
    openBooking: function (publicId) {
      this.$router.push({
        name: 'Booking',
        params: {
          booking_id: publicId
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
