<template>
  <v-app id="inspire">
    <!-- App styles -->
    <link rel="stylesheet" href="/static/Back/styles/style.css">
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.lgAndUp"
      app
      v-model="drawer"
    >
      <v-list dense>
        <template v-for="item in menu">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="item.heading"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.features"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            append-icon=""
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.name }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.features"
              :key="i"
              @click="navigateTo(child.url)"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.name }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else :key="item.text">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.name }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="primary"
      dark
      app
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">Olpejeta Conservancy</span>
      </v-toolbar-title>
      <v-btn :depressed="true" flat>
        {{$user_type}}
      </v-btn>
      <v-btn :depressed="true" flat v-if="isOffLine === true">
        You have no internet connection
      </v-btn>
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <v-btn :depressed="true" flat slot="activator">Currency<v-icon>keyboard_arrow_down</v-icon></v-btn>
        <v-list>
          <v-list-tile v-for="(currency, key) in allCurrencies" @click="currencyChange(currency)" :key="key">
            <v-list-tile-title>{{currency.currency_name}}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-menu offset-y>
        <v-btn :depressed="true" flat slot="activator">{{user_name}} <v-icon>keyboard_arrow_down</v-icon></v-btn>
        <v-list>
          <v-list-tile @click="doLogout()">
            <v-list-tile-title>Logout</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-container fluid >
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    user_name: localStorage.getItem('user_name'),
    dialog: false,
    drawer: null,
    icon: 'keyboard_arrow_up',
    'icon-alt': 'keyboard_arrow_down',
    items: [
      { icon: 'contacts', text: 'Contacts' },
      {
        text: 'Labels',
        model: false,
        children: [
          { icon: 'add', text: 'Create label' }
        ]
      }
    ]
  }),
  created () {
    this.$store.dispatch('get_all_currencies')
  },
  watch: {
    isOffLine (val) {
      if (val) {
        alert('You seem to be offline!!')
        return 'You are offline'
      }
    }
  },
  methods: {
    navigateTo: function (url) {
      this.$router.push({
        name: url
      })
    },
    currencyChange: function (data) {
      this.$store.commit('LOCAL_CURRENCY2', data)
    },
    doLogout: function () {
      this.$store.dispatch('reset_storage')
    }
  },
  props: {
    source: String
  }
}
</script>
