<template>
  <div class="">
    <!--<link rel="stylesheet" href="/static/Public/bootstrap-4-2/css/opc.css" >-->
    <!--<link rel="stylesheet" href="/static/Public/font-awesome-4.7.0/css/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <v-app>
      <v-flex hidden-md-and-down >
        <v-toolbar app extended >
          <v-toolbar-items>
            <router-link style="margin-left: 50%" :to="{name: 'Index'}">
              <img src="/static/Both/Logos/Ol%20Pejeta%20Main/OlPejetaLogo.png" alt="" width="150%" style="margin-top: 10%" >
            </router-link>
          </v-toolbar-items>
          <v-spacer></v-spacer>
          <v-toolbar-items style="margin-top: 3%">
            <!--<v-btn :depressed="true" flat color="warning">V - 1.4.0</v-btn>-->
            <v-btn :depressed="true" flat color="primary" @click="navigate('Index')">Home</v-btn>
            <v-btn :depressed="true" flat color="primary" @click="navigate('SupportUs')">Support Us</v-btn>
            <v-btn :depressed="true" flat color="primary" @click="navigate('VolunteerProgram')">Volunteer Program</v-btn>
            <v-btn :depressed="true" flat color="primary" @click="navigate('RegisterMember')">Become a Member</v-btn>
            <v-btn :depressed="true" flat color="primary" @click="navigate('Login')">Login</v-btn>
            <v-menu offset-y absolute :full-width="true" v-if="local_route === true">
              <v-btn :depressed="true" slot="activator" flat color="grey">
                Currency - {{currency}}
              </v-btn>
              <v-list>
                <v-list-tile v-for="(curency, key) in allCurrencies" @click="currencyChange(curency)" :key="key">
                  <v-list-tile-title>{{curency.currency_name}}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
      <v-flex hidden-md-and-up>
        <v-toolbar app extended >
          <v-toolbar-items style="margin-top: 15%">
            <router-link :to="{name: 'Index'}">
            <img src="/static/Both/Logos/Ol%20Pejeta%20Main/OlPejetaLogo.png" alt="" width="70%" >
            </router-link>
          </v-toolbar-items>
          <v-menu offset-y>
          <v-btn :depressed="true" color="primary" flat dark slot="activator"><v-icon>menu</v-icon></v-btn>
          <v-list>
            <v-list-tile flat color="primary" @click="navigate('Index')">Home</v-list-tile>
            <v-list-tile flat color="primary" @click="navigate('SupportUs')">Support Us</v-list-tile>
            <v-list-tile flat color="primary" @click="navigate('VolunteerProgram')">Volunteer Program</v-list-tile>
            <v-list-tile flat color="primary" @click="navigate('RegisterMember')">Become a Member</v-list-tile>
            <v-list-tile flat color="primary" @click="navigate('Login')">Login</v-list-tile>
            <v-list-tile v-for="(curency, key) in allCurrencies" @click="currencyChange(curency)" :key="key">
              <v-list-tile-title>{{curency.currency_name}}</v-list-tile-title>
            </v-list-tile>
          </v-list>
          </v-menu>
        </v-toolbar>
      </v-flex>
      <v-content>
        <!--<v-container fluid>-->
          <router-view></router-view>
        <!--</v-container>-->
      </v-content>
    </v-app>
  </div>
</template>

<script>
import MainNav from './Public/Basics/MainNav'
export default {
  components: {MainNav},
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  computed: {
    currency: function () {
      return this.$store.state.CurrencyStore.browser_currency
    },
    local_route () {
      if (this.$route.meta.payment) {
        return false
      } else {
        return true
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_currencies')
  },
  methods: {
    navigate: function (path) {
      this.$router.push({
        name: path
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  @font-face { font-family: Earthwerk; font-weight: bold; src: url('/static/Both/Fonts/Earthwerk/PizzaDude.dk - Earthwerk.otf');}
  @font-face { font-family: Akzidenz; font-weight: bold; src: url('/static/Both/Fonts/Akzidenz Grotesk/akzidenz-grotesk-black.ttf');}
  @font-face { font-family: Knockout; font-weight: bold; src: url('/static/Both/Fonts/Knockout/knockout-htf-69-full-liteweight-1361516723.zip');}
  .opc_green {
    color: #731533;
  }
  .opc_arial {
    font-family: Arial;
  }
  .green {
    background-color: #74a533;
    color: #ffffff;
  }
  .earth-color {
    font-family: Earthwerk;
    color: #74a533;
  }
  .earth {
    font-family: Earthwerk;
  }
  .akzidenz-color {
    font-family: Akzidenz;
    color: #74a533;
  }
  .akzidenz {
    font-family: Akzidenz;
  }
  .knockout-color {
    font-family: Knockout;
    color: #74a533;
  }
  .knockout-color {
    font-family: Knockout;
  }
  a {
    text-decoration: none;
  }
</style>
