<template>
  <v-card flat>
    <v-card-title>
      Catering Levy History
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="allCateringLevies"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td>{{props.item.levy_rate}}%</td>
        <td>{{formated_date_time(props.item.created_at)}}</td>
        <td>{{props.item.user}}</td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Catering Levy amount',
          value: 'levy_rate'
        },
        {
          text: 'Updated Date',
          value: 'created_at'
        },
        {
          text: 'Updated By',
          value: 'user'
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_all_catering_levies')
  }
}
</script>

<style>

</style>
