<template>

  <div class="col-lg-10 col-lg-offset-1">
    <v-card flat>
      <v-card-title>Update VAT</v-card-title>
      <v-container fluid>
        <v-form  @submit.prevent="postVat()">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-text-field
                label="Vat amount (%)"
                v-model="vat.rate"
                :rules="requiredRules"
                required
                type="number"
              ></v-text-field>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-btn :depressed="true" block color="info" type="submit">Update VAT</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      vat: {
        rate: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  methods: {
    postVat: function () {
      this.$store.dispatch('post_vat', this.vat)
    }
  }
}
</script>

<style>

</style>
