<template>

  <div class="col-lg-10 col-lg-offset-1">
    <v-card flat>
      <v-card-title>Update Catering Levy</v-card-title>
        <v-container fluid>
          <v-form  @submit.prevent="postCateringLevy()">
            <v-layout row wrap>
              <v-flex lg6 md6 sm12 xs12>
                <v-text-field
                  label="Rate"
                  v-model="cl.rate"
                  :rules="requiredRules"
                  required
                  type="number"
                ></v-text-field>
              </v-flex>
              <v-flex lg6 md6 sm12 xs12>
                <v-btn :depressed="true" block color="info" type="submit">Update Catering Levy</v-btn>
              </v-flex>
            </v-layout>
          </v-form>
        </v-container>
    </v-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      cl: {
        rate: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  methods: {
    postCateringLevy: function () {
      this.$store.dispatch('post_catering_levy', this.cl)
    }
  }
}
</script>

<style>

</style>
