<template>
  <v-card flat>
    <v-card-title>
      Inactive Inventory
      <v-spacer></v-spacer>
      <v-text-field
        append-icon="search"
        text="Search"
        single-line
        hide-details
        v-model="search"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="columns"
      :items="inActiveInventory"
      :search="search"
      :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
      :disable-initial-sort="true"
      :loading="$loadingTrue"
    >
      <template slot="items" slot-scope="props">
        <td class="fancy">{{ props.item.code}}</td>
        <td class="fancy">{{ props.item.sub_code}}</td>
        <td class="fancy">{{ props.item.name}}</td>
        <td class="fancy">{{ props.item.maximum_guests}} </td>
        <td class="has-text-right">
          <v-btn :depressed="true" class="btn btn-success btn-sm" v-on:click="makeActive(props.row.public_id)">Make Active</v-btn>
        </td>
      </template>
      <v-alert slot="no-results" :value="true" color="error" icon="warning">
        Your search for "{{ search }}" found no results.
      </v-alert>
    </v-data-table>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      columns: [
        {
          text: 'Code',
          value: 'code'
        },
        {
          text: 'Sub Code',
          value: 'sub_code'
        },
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Maximum Guests',
          value: 'maximum_guests'
        },
        {
          text: 'Action',
          value: ''
        }
      ]
    }
  },
  created () {
    this.$store.dispatch('get_in_active_activities')
  },
  methods: {
    makeActive: function (publicId) {
      this.$store.dispatch('make_activity_active', publicId)
    },
    viewUser: function (publicId) {
      this.$router.push({
        name: 'SingleInventory',
        params: {
          inventory_id: publicId
        }
      })
    }
  }
}
</script>

<style>

</style>
