<template>
  <div class="hpanel">
    <div class="panel-body">
      <div class="">
        <h3>Add Activity Contacts</h3>
      </div>
      <div class="row">
        <v-form  @submit.prevent="addContact()">
          <v-layout row wrap>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-text-field
                  label="Contact Email"
                  v-model="contact.contact_email"
                  :rules="requiredRules"
                  required
                  type="email"
                ></v-text-field>
              </v-container>
            </v-flex>
            <v-flex lg6 md6 sm12 xs12>
              <v-container>
                <v-btn :depressed="true" block color="info" type="submit">Add to Notification List</v-btn>
              </v-container>
            </v-flex>
          </v-layout>
        </v-form>
      </div>
        <div class="col-md-12">
          <table cellpadding="1" cellspacing="1" class="table">
            <thead>
            <tr>
              <td>Date Created</td>
              <td>Email</td>
              <td>Action</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(contact, key) in inventoryContact" :key="key">
              <td>{{formated_date(contact.created_at)}}</td>
              <td>{{contact.email}}</td>
              <td>
                <v-btn :depressed="true" small color="error" v-if="contact.status === 5" @click="disableContact(contact.public_id)">Disable</v-btn>
                <v-btn :depressed="true" small color="warning" v-if="contact.status === 7" @click="enableContact(contact.public_id)">Enable</v-btn>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'inventory-contacts',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      contact: {
        contact_email: '',
        inventory_id: this.$route.params.inventory_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_activity_contacts', this.$route.params.inventory_id)
  },
  methods: {
    disableContact: function (publicId) {
      var data = {
        public_id: publicId,
        deleted_by: localStorage.getItem('lkjhgfdsa'),
        inventory_id: this.$route.params.inventory_id
      }
      this.$store.dispatch('make_activity_contact_in_active', data)
    },
    enableContact: function (publicId) {
      var data = {
        public_id: publicId,
        inventory_id: this.$route.params.inventory_id
      }
      this.$store.dispatch('make_activity_contact_active', data)
    },
    addContact: function () {
      this.$store.dispatch('post_activity_contact', this.contact)
      this.contact.contact_email = ''
      this.contact.public_id = ''
    }
  }
}
</script>

<style scoped>

</style>
