<template>
  <div class="col-lg-10 col-lg-offset-1">
    <v-card flat>
      <v-card-title> Add Inventory Item</v-card-title>
      <v-form @submit.prevent="postInventory()">
        <v-layout row wrap>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-text-field
                label="Inventory Code"
                v-model="inventory.code"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-text-field
                label="Sub Code"
                v-model="inventory.sub_code"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg4 md4 sm12 xs12>
            <v-container>
              <v-text-field
                label="Department Code"
                v-model="inventory.analysis_code"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Inventory Name"
                v-model="inventory.name"
                :rules="requiredRules"
                required
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Maximum Guests"
                v-model="inventory.maximum_guests"
                :rules="requiredRules"
                required
                type="number"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="VAT"
                v-model="inventory.vat"
                :rules="requiredRules"
                required
                type="checkbox"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg6 md6 sm12 xs12>
            <v-container>
              <v-text-field
                label="Catering Levy"
                v-model="inventory.catering_levy"
                :rules="requiredRules"
                required
                type="checkbox"
              ></v-text-field>
            </v-container>
          </v-flex>
          <v-flex lg12 md12 sm12 xs12>
            <v-container fluid>
              <label>Description</label>
              <vue-editor v-model="inventory.description"></vue-editor>
            </v-container>
          </v-flex>
          <v-flex lg12 md12 sm12 xs12>
            <v-container fluid>
              <v-btn :depressed="true" color="primary" v-if="this.$route.name === 'NewInventory'" type="submit" :loading="this.$store.state.LoadingStore.loading">Add to Inventory</v-btn>
              <v-btn :depressed="true" color="primary" v-if="this.$route.name === 'EditInventory'" type="submit" :loading="this.$store.state.LoadingStore.loading">Update Inventory</v-btn>
            </v-container>
          </v-flex>
        </v-layout>
      </v-form>
    </v-card>
    {{updateInventory}}
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
export default {
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      inventory: {
        name: '',
        vat: false,
        catering_levy: false,
        code: '',
        sub_code: '',
        maximum_guests: '',
        analysis_code: '',
        description: '',
        public_id: this.$route.params.inventory_id,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_activity_currencies')
    if (this.$route.name === 'EditInventory') {
      this.$store.dispatch('get_activity', this.$route.params.inventory_id)
    }
  },
  components: {
    VueEditor
  },
  methods: {
    postInventory: function () {
      this.$store.dispatch('loading_true')
      if (this.$route.name === 'NewInventory') {
        this.$store.dispatch('post_activity', this.inventory)
      } else {
        this.$store.dispatch('update_activity', this.inventory)
      }
    }
  }
}
</script>

<style>

</style>
