<template>
  <v-card flat>
    <v-card-title>Generating Reports</v-card-title>
    <v-form @submit.prevent="requestReport()">
      <v-layout row wrap>
        <v-flex lg5 md5 sm12 xs12>
          <v-container>
            <v-dialog
              ref="dialog"
              persistent
              v-model="modal1"
              lazy
              full-width
              width="290px"
              :return-value.sync="report.start_date"
            >
              <v-text-field
                slot="activator"
                label="Start Date"
                v-model="report.start_date"
                readonly
              ></v-text-field>
              <v-date-picker v-model="report.start_date" scrollable>
                <v-spacer></v-spacer>
                <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(report.start_date)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-container>
        </v-flex>
        <v-flex lg5 md5 sm12 xs12>
          <v-container>
            <v-dialog
              ref="dialog1"
              persistent
              v-model="modal2"
              lazy
              full-width
              width="290px"
              :return-value.sync="report.end_date"
            >
              <v-text-field
                slot="activator"
                label="End Date"
                v-model="report.end_date"
                readonly
              ></v-text-field>
              <v-date-picker v-model="report.end_date" scrollable>
                <v-spacer></v-spacer>
                <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(report.end_date)">OK</v-btn>
              </v-date-picker>
            </v-dialog>
          </v-container>
        </v-flex>
        <v-flex lg2 md2 sm12 xs12>
          <v-container>
          <v-btn :depressed="true" color="primary" type="submit">Generate</v-btn>
          </v-container>
        </v-flex>
      </v-layout>
    </v-form>
  </v-card>
</template>

<script>
export default {
  data () {
    return {
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      report: {
        start_date: '',
        end_date: '',
        csv: ''
      }
    }
  },
  methods: {
    requestReport: function () {
      this.$store.dispatch('generate_booking_reports', this.report)
    }
  }
}
</script>

<style>

</style>
