<template>
  <div class="row">
    <v-layout row wrap>
      <v-flex lg6 md6 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Add Call To Action</v-card-title>
            <v-container>
              <v-form  @submit.prevent="postCallToAction()">
                <v-text-field
                  label="Title"
                  v-model="call_to_action.name"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-text-field
                  label="Description"
                  v-model="call_to_action.description"
                  :rules="requiredRules"
                  required
                  multi-line
                ></v-text-field>
                <v-btn :depressed="true" color="info" type="submit">Add</v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg6 md6 sm12 xs12>
        <v-card flat>
          <v-card-title>
            Call To Actions
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              text="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="columns"
            :items="allCallToActions"
            :search="search"
            :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
            :disable-initial-sort="true"
            :loading="$loadingTrue"
          >
            <template slot="items" slot-scope="props">
              <td class="fancy">{{ props.item.name}}</td>
              <td class="fancy">{{ props.item.description}}</td>
              <td class="has-text-right">
                <v-btn :depressed="true" color="error" @click="deleteCallToAction(props.item.public_id)">Disable</v-btn>
              </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'call-to-actions',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      search: '',
      columns: [
        {
          text: 'Name',
          value: 'name'
        },
        {
          text: 'Description',
          value: 'description'
        },
        {
          text: 'Action',
          value: ''
        }
      ],
      call_to_action: {
        name: '',
        description: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_call_to_actions')
  },
  methods: {
    postCallToAction: function () {
      this.$store.dispatch('post_call_to_action', this.call_to_action)
      this.call_to_action.name = ''
      this.call_to_action.description = ''
    },
    deleteCallToAction: function (publicId) {
      this.$store.dispatch('delete_call_to_action', publicId)
    }
  }
}
</script>

<style scoped>

</style>
