<template>
  <div class="row">
    <v-layout row wrap>
      <v-flex lg5 md5 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Add Conservation Fee</v-card-title>
            <v-container>
              <v-form  @submit.prevent="postConservationFee()">
                <v-text-field
                  label="Residency"
                  v-model="conservation_fee.person"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-dialog
                  ref="dialog"
                  persistent
                  v-model="modal1"
                  lazy
                  full-width
                  width="290px"
                  :return-value.sync="conservation_fee.start_date"
                >
                  <v-text-field
                    slot="activator"
                    label="Start Date"
                    v-model="conservation_fee.start_date"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="conservation_fee.start_date"
                    :min="start_date"
                    scrollable>
                    <v-spacer></v-spacer>
                    <v-btn :depressed="true" flat color="primary" @click="modal1 = false">Cancel</v-btn>
                    <v-btn :depressed="true" flat color="primary" @click="$refs.dialog.save(conservation_fee.start_date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
                <v-dialog
                  ref="dialog1"
                  persistent
                  v-model="modal2"
                  lazy
                  full-width
                  width="290px"
                  :return-value.sync="conservation_fee.end_date"
                >
                  <v-text-field
                    slot="activator"
                    label="End Date"
                    v-model="conservation_fee.end_date"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="conservation_fee.end_date"
                    :min="conservation_fee.start_date"
                    scrollable>
                    <v-spacer></v-spacer>
                    <v-btn :depressed="true" flat color="primary" @click="modal2 = false">Cancel</v-btn>
                    <v-btn :depressed="true" flat color="primary" @click="$refs.dialog1.save(conservation_fee.end_date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
                <v-autocomplete
                  label="Select Destination"
                  v-model="conservation_fee.destination"
                  :items="allDestinations"
                  item-text="destination_name"
                  item-value="destination_public_id"
                  :loading="$loadingTrue"
                ></v-autocomplete>
                <v-autocomplete
                  label="Select Currency"
                  v-model="conservation_fee.currency"
                  :items="allCurrencies"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="currency_name"
                  item-value="currency_public_id"
                  :loading="$loadingTrue"
                ></v-autocomplete>
                <v-select
                  label="Marker"
                  v-model="conservation_fee.marker"
                  :items="['Adult - A', 'Child - C', 'Infant - I']"
                  :rules="[v => !!v || 'Item is required']"
                  required
                  item-text="destination_name"
                  item-value="destination_public_id"
                  :loading="$loadingTrue"
                ></v-select>
                <v-select
                  label="Appears in school conservancy fees"
                  v-model="conservation_fee.school"
                  :items="['Yes', 'No']"
                  :rules="[v => !!v || 'Item is required']"
                  required
                ></v-select>
                <v-text-field
                  label="Amount"
                  v-model="conservation_fee.amount"
                  :rules="requiredRules"
                  required
                  type="number"
                ></v-text-field>
                <v-text-field
                  label="Maximum Number"
                  v-model="conservation_fee.max_number"
                  :rules="requiredRules"
                  required
                  type="number"
                ></v-text-field>
                <v-text-field
                  label="Income Account Code"
                  v-model="conservation_fee.income_account_code"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-text-field
                  label="Department Analysis Code"
                  v-model="conservation_fee.department_analysis_code"
                  :rules="requiredRules"
                  required
                ></v-text-field>
                <v-textarea
                  label="Description"
                  v-model="conservation_fee.description"
                  :rules="requiredRules"
                  required
                  type="text"
                ></v-textarea>
                <v-btn :depressed="true" color="info" type="submit" v-if="edit === false">Add Conservation Fee</v-btn>
                <v-btn :depressed="true" color="warning" type="submit" v-if="edit === true">Update {{conservation_fee.person}}</v-btn>
              </v-form>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg7 md7 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>
              Conservation Fees
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="search"
                text="Search"
                single-line
                hide-details
                v-model="search"
              ></v-text-field>
            </v-card-title>
            <v-data-table
              :headers="columns"
              :items="allFullConservationFees"
              :search="search"
              :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
              :disable-initial-sort="true"
              :loading="$loadingTrue"
            >
              <v-progress-linear slot="progress" color="primary" indeterminate></v-progress-linear>
              <template slot="items" slot-scope="props">
                <td class="fancy">{{ props.item.payment_person_dept_code}}</td>
                <td class="fancy">{{ props.item.payment_person_income_code}}</td>
                <td class="fancy">{{ props.item.payment_person}}</td>
                <td class="fancy">{{ props.item.marker}}</td>
                <td class="fancy">{{ props.item.payment_person_currency}} {{ props.item.payment_person_amount}}</td>
                <td class="has-text-right">
                  <v-btn :depressed="true" small color="warning" @click="editConservationFee(props.item)" v-if="edit === false">Edit</v-btn>
                  <v-btn :depressed="true" small color="error" @click="deleteConservationFee(props.item.payment_public_id)" v-if="edit === false">Disable</v-btn>
                  <v-btn :depressed="true" small color="error" @click="resetInputs()" v-if="edit === true">Cancel Edit</v-btn>
                </td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
          </v-card>
        </v-container>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: 'conservancy-fees',
  data () {
    return {
      start_date: this.$moment().format('YYYY-MM-DD'),
      menu1: false,
      modal1: false,
      menu2: false,
      modal2: false,
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      search: '',
      edit: false,
      columns: [
        {
          text: 'Department Analysis Code',
          value: 'payment_person_dept_code'
        },
        {
          text: 'Income Account Code',
          value: 'payment_person_income_code'
        },
        {
          text: 'Residency',
          value: 'payment_person'
        },
        {
          text: 'Marker',
          value: 'marker'
        },
        {
          text: 'Amount',
          value: 'payment_person_amount'
        },
        {
          text: 'Action',
          value: ''
        }
      ],
      conservation_fee: {
        start_date: '',
        end_date: '',
        description: '',
        person: '',
        currency: '',
        amount: '',
        marker: '',
        school: '',
        type: '',
        max_number: '',
        destination: '',
        income_account_code: '',
        department_analysis_code: '',
        session_id: localStorage.getItem('lkjhgfdsa'),
        payment_id: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_currencies')
    this.$store.dispatch('get_full_conservation_fees')
    this.$store.dispatch('get_all_destinations')
  },
  methods: {
    postConservationFee: function () {
      console.log(this.conservation_fee)
      if (this.edit === false) {
        this.$store.dispatch('post_conservation_fee', this.conservation_fee)
      } else {
        this.$store.dispatch('update_conservation_fee', this.conservation_fee)
        this.resetInputs()
      }
    },
    editConservationFee: function (fee) {
      this.edit = true
      this.conservation_fee.start_date = fee.start_date
      this.conservation_fee.end_date = fee.end_date
      this.conservation_fee.destination = fee.destination
      this.conservation_fee.person = fee.payment_person
      this.conservation_fee.currency = fee.payment_person_currency_id
      this.conservation_fee.amount = fee.payment_person_amount
      if (fee.marker === 'A' || fee.marker === 'Adult - A') {
        this.conservation_fee.marker = 'Adult - A'
      } else if (fee.marker === 'C' || fee.marker === 'Child - C') {
        this.conservation_fee.marker = 'Child - C'
      } else if (fee.marker === 'I' || fee.marker === 'Infant - I') {
        this.conservation_fee.marker = 'Infant - I'
      }
      if (fee.school === 'Y') {
        this.conservation_fee.school = 'Yes'
      } else if (fee.school === 'N') {
        this.conservation_fee.school = 'No'
      }
      this.conservation_fee.max_number = fee.max_number
      // this.conservation_fee.school = fee.max_number
      this.conservation_fee.payment_id = fee.payment_public_id
      this.conservation_fee.description = fee.payment_person_description
      this.conservation_fee.income_account_code = fee.payment_person_income_code
      this.conservation_fee.department_analysis_code = fee.payment_person_dept_code
    },
    deleteConservationFee: function (publicId) {
      var data = {
        payment_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_conservation_fee', data)
    },
    resetInputs: function () {
      this.edit = false
      this.conservation_fee.person = ''
      this.conservation_fee.currency = ''
      this.conservation_fee.amount = ''
      this.conservation_fee.marker = ''
      this.conservation_fee.max_number = ''
      this.conservation_fee.description = ''
      this.conservation_fee.school = ''
      this.conservation_fee.type = ''
      this.conservation_fee.income_account_code = ''
      this.conservation_fee.department_analysis_code = ''
    }
  }
}
</script>

<style scoped>

</style>
