<template>
  <v-container>
    <v-card flat>
      <a href="https://bookings.olpejetaconservancy.org:5005/salesforce/authenticate" target="_blank"><v-btn>Connect To SalesForce</v-btn></a>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'SalesForce',
  data () {
    return {
    }
  }
}
</script>

<style scoped>

</style>
