<template>
  <div class="col-lg-10 col-lg-offset-1">
    <v-layout row wrap>
      <v-flex lg6 md6 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-card-title>Terms and Conditions</v-card-title>
            <v-container>
              <label>Content</label>
              <vue-editor v-model="page.description"></vue-editor>
              <v-btn :depressed="true" block color="info" @click="postTermsAndConditions()">Publish</v-btn>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      <v-flex lg6 md6 sm12 xs12>
        <v-container>
          <v-card flat>
            <v-container>
              <span v-html="page.description"></span>
            </v-container>
          </v-card>
        </v-container>
      </v-flex>
      {{updatePage}}
    </v-layout>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor'
export default {
  name: 'terms-and-conditions',
  components: {
    VueEditor
  },
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      page: {
        name: 'Terms and Conditions',
        page_type: 't&c',
        description: '',
        session_id: localStorage.getItem('lkjhgfdsa')
      }
    }
  },
  created () {
    this.$store.dispatch('get_page', 't&c')
  },
  methods: {
    postTermsAndConditions: function () {
      this.$store.dispatch('post_page', this.page)
    }
  }
}
</script>

<style scoped>

</style>
