<template>
  <v-layout row wrap>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat>
          <v-card-title>Add Vehicle Fee</v-card-title>
          <v-container>
            <v-form @submit.prevent="postVehicleFee()">
              <v-text-field
                label="Vehicle Category (e.g. 1 to 6)"
                v-model="vehicle_charge.category"
                :rules="requiredRules"
                required
              ></v-text-field>
              <v-select
                label="Currency"
                v-model="vehicle_charge.currency"
                :items="allCurrencies"
                :rules="[v => !!v || 'Item is required']"
                required
                item-text="currency_name"
                item-value="currency_public_id"
                autocomplete
                :loading="$loadingTrue"
              ></v-select>
              <v-text-field
                label="Cost"
                v-model="vehicle_charge.cost"
                :rules="requiredRules"
                required
                min="0"
                type="number"
              ></v-text-field>
              <v-text-field
                label="Maximum Number"
                v-model="vehicle_charge.max_number"
                :rules="requiredRules"
                required
                min="0"
                type="number"
              ></v-text-field>
              <v-text-field
                label="Income Account Code"
                v-model="vehicle_charge.income_account_code"
                :rules="requiredRules"
                required
              ></v-text-field>
              <v-text-field
                label="Department Analysis Code"
                v-model="vehicle_charge.department_analysis_code"
                :rules="requiredRules"
                required
              ></v-text-field>
              <v-text-field
                label="Outlet Analysis Code"
                v-model="vehicle_charge.outlet_analysis_code"
                :rules="requiredRules"
                required
              ></v-text-field>
              <v-text-field
                label="Description"
                v-model="vehicle_charge.description"
                :rules="requiredRules"
                required
                type="text"
                multi-line=""
              ></v-text-field>
              <v-btn :depressed="true" color="info" type="submit" v-if="edit === false">Add Vehicle Fee</v-btn>
              <v-btn :depressed="true" color="warning" type="submit" v-if="edit === true">Update {{vehicle_charge.category}}</v-btn>
            </v-form>
          </v-container>
        </v-card>
      </v-container>
    </v-flex>
    <v-flex lg6 md6 sm12 xs12>
      <v-container>
        <v-card flat>
          <v-card-title>
            Vehicle Fees
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              text="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="columns"
            :items="allVehicles"
            :search="search"
            :rows-per-page-items="[10,25,{'text':'All','value':-1}]"
            :disable-initial-sort="true"
            :loading="$loadingTrue"
          >
            <template slot="items" slot-scope="props">
              <td class="fancy">{{ props.item.vehicle_charge_category}}</td>
              <td class="fancy">{{ props.item.vehicle_charge_cost_currency}} {{ props.item.vehicle_charge_category_cost}}</td>
              <td class="has-text-right">
                <v-btn :depressed="true" small color="info" @click="editVehicleFee(props.index)" v-if="edit === false">Edit</v-btn>
                <v-btn :depressed="true" small color="warning" @click="deleteVehicleFee(props.item.vehicle_charge_public_id)" v-if="edit === false">Disable</v-btn>
                <v-btn :depressed="true" small color="error" @click="resetInputs()" v-if="edit === true">Cancel Edit</v-btn>
              </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-container>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'vehicle-fees',
  data () {
    return {
      requiredRules: [
        v => !!v || 'This field is required'
      ],
      edit: false,
      search: '',
      columns: [
        {
          text: 'Vehicle Category',
          value: 'vehicle_charge_category'
        },
        {
          text: 'Amount',
          value: 'vehicle_charge_category_cost'
        },
        {
          text: 'Action',
          value: ''
        }
      ],
      vehicle_charge: {
        category: '',
        cost: '',
        currency: '',
        max_number: '',
        department_analysis_code: '',
        outlet_analysis_code: '',
        income_account_code: '',
        session_id: localStorage.getItem('lkjhgfdsa'),
        charge_id: ''
      }
    }
  },
  created () {
    this.$store.dispatch('get_all_currencies')
    this.$store.dispatch('get_all_vehicle_fees')
  },
  methods: {
    postVehicleFee: function () {
      if (this.edit === false) {
        this.$store.dispatch('post_vehicle_fee', this.vehicle_charge)
      } else {
        this.$store.dispatch('update_vehicle_fee', this.vehicle_charge)
        this.resetInputs()
      }
    },
    editVehicleFee: function (index) {
      this.edit = true
      var fee = this.allVehicles[index]
      this.vehicle_charge.category = fee.vehicle_charge_category
      this.vehicle_charge.cost = fee.vehicle_charge_category_cost
      this.vehicle_charge.currency = fee.vehicle_charge_cost_currency_id
      this.vehicle_charge.charge_id = fee.vehicle_charge_public_id
      this.vehicle_charge.max_number = fee.max_number
    },
    deleteVehicleFee: function (publicId) {
      var data = {
        charge_id: publicId,
        session_id: localStorage.getItem('lkjhgfdsa')
      }
      this.$store.dispatch('delete_vehicle_fee', data)
    },
    resetInputs: function () {
      this.edit = false
      this.vehicle_charge.category = ''
      this.vehicle_charge.currency = ''
      this.vehicle_charge.cost = ''
      this.vehicle_charge.max_number = ''
      this.vehicle_charge.charge_id = ''
    }
  }
}
</script>

<style scoped>

</style>
