<template>
  <!-- Footer-->
  <footer class="footer">
    Olpajeta 2017
  </footer>

</template>

<script>
export default {
  name: 'MainFooter',
  data () {
    return {}
  }
}
</script>

<style>

</style>
