<template>
  <aside id="menu">
    <div id="navigation">
      <div class="profile-picture">
        <a href="index.html">
          <img src="/static/images/ol-pejeta-logo.svg" class="m-b" width="100%" alt="logo">
        </a>

        <div class="stats-label text-color">
          <span class="font-extra-bold font-uppercase">{{user_name}}</span>

          <!--<div class="dropdown">-->
            <!--<a class="dropdown-toggle" href="#" data-toggle="dropdown">-->
              <!--<small class="text-muted">More<b class="caret"></b></small>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu animated flipInX m-t-xs">-->
              <!--<li><a href="contacts.html">Contacts</a></li>-->
              <!--<li><a href="profile.html">Profile</a></li>-->
              <!--<li><a href="analytics.html">Analytics</a></li>-->
              <!--<li class="divider"></li>-->
              <!--<li><a href="login.html">Logout</a></li>-->
            <!--</ul>-->
          <!--</div>-->
        </div>
      </div>

      <ul class="nav" id="side-menu">
        <li v-for="(menu, key) in menu.menu" :key="key">
          <a href="#"><span class="nav-label">{{menu.name}}</span><span class="fa arrow"></span> </a>
          <ul class="nav nav-second-level">
            <li v-for="(feature, key) in menu.features" :key="key">
              <router-link :to="{name: feature.url}">{{feature.name}}</router-link>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
import Menu from '../../../mixins/Functions/Menu'
export default {
  name: 'SideNav',
  data () {
    return {
      user_name: localStorage.getItem('user_name')
    }
  },
  mixins: [Menu]
}
</script>

<style>

</style>
